.pt-20 {
    padding-top: 20px;
}
.material-icons{
    cursor: pointer;
}
.select2-container {
    width: 200px !important;
  }

  .form_field_wrapper .select2 {

     padding-left: 200px !important;
     
}