<footer class="footer-block">
  <div class="service_section">
    <div class="container">
      <div class="service_section_inner">
        <div class="row">
          <div class="item col-sm-6 col-md-3">
            <div class="item_inner">
              <div class="service_img">
                <img src="../../../../../assets/img/homepage/service1.svg" />
              </div>
              <div class="service_title">
                {{ "pmc_verified_doctors" | translate }}
              </div>
            </div>
          </div>
          <div class="item col-sm-6 col-md-3">
            <div class="item_inner">
              <div class="service_img">
                <img src="../../../../../assets/img/homepage/service2.svg" />
              </div>
              <div class="service_title">
                {{ "pmc_verified_doctors" | translate }}
              </div>
            </div>
          </div>
          <div class="item col-sm-6 col-md-3">
            <div class="item_inner">
              <div class="service_img">
                <img src="../../../../../assets/img/homepage/service3.svg" />
              </div>
              <div class="service_title">
                {{ "pmc_verified_doctors" | translate }}
              </div>
            </div>
          </div>
          <div class="item col-sm-6 col-md-3">
            <div class="item_inner">
              <div class="service_img">
                <img src="../../../../../assets/img/homepage/service4.svg" />
              </div>
              <div class="service_title">
                {{ "pmc_verified_doctors" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_top">
    <div class="container">
      <div class="footer_top_inner">
        <div class="footer_logo">
          <img src="../../../../../assets/img/logo.svg" />
        </div>
        <div class="top_link">
          <ul>
            <li class="item cursor-pointer">
              <a (click)="aboutUshandleRoute()" class="nav-link">{{
                "about" | translate
              }}</a>
            </li>
            <li class="item cursor-pointer">
              <a (click)="bloghandleRoute()" class="nav-link">{{
                "blog" | translate
              }}</a>
            </li>
            <li class="item cursor-pointer">
              <a href="#" class="nav-link">{{ "careers" | translate }}</a>
            </li>
            <li class="item cursor-pointer">
              <a href="#" class="nav-link">{{ "press" | translate }}</a>
            </li>
            <li class="item cursor-pointer">
              <a (click)="contacthandleRoute()" class="nav-link">{{
                "contact_us" | translate
              }}</a>
            </li>
            <li class="item cursor-pointer">
              <a (click)="faqhandleRoute()" class="nav-link">{{
                "faq" | translate
              }}</a>
            </li>
          </ul>
        </div>
        <div class="app_section">
          <div class="app_item">
            <img src="../../../../../assets/img/homepage/app_1.png" />
          </div>
          <div class="app_item">
            <img src="../../../../../assets/img/homepage/app_2.png" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_center">
    <div class="container">
      <div class="row">
        <div class="left_part footer_main_item col-lg-3 col-sm-12">
          <div class="footer-item footer_item1">
            <h5 class="d-lg-none">
              <a
                class="footer-title"
                data-bs-toggle="collapse"
                href="#collapse1"
                role="button"
                aria-expanded="false"
              >
                {{ "for_patients" | translate }}
              </a>
            </h5>

            <h5 class="footer-title-desk">{{ "for_patients" | translate }}</h5>
            <div id="collapse1" class="nav collapse footer-content">
              <ul>
                <li class="nav-item mb-3" [routerLink]="['/patient/homepage/retaildoctor']" >
                  <a  class="nav-link p-0">{{
                    "search_for_doctors" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a class="nav-link p-0">{{
                    "search_for_clinics" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a class="nav-link p-0" [routerLink]="['/patient/homepage/retailhospital']" >{{
                    "search_for_hospitals" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a href="#" class="nav-link p-0">{{
                    "search_for_diagnostic_tests" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a class="nav-link p-0" [routerLink]="['/patient/homepage/list/Laboratory-Imaging']">{{
                    "search_for_medical_imaging" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a href="#" class="nav-link p-0">{{
                    "book_full_body_checkups" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a  class="nav-link p-0" [routerLink]="['/patient/homepage/retailpharmacy']">{{
                    "order_medicine" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a  class="nav-link p-0" [routerLink]="['/patient/homepage/retailpharmacy']">{{
                    "availability_sequest_medicine" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a  class="nav-link p-0" [routerLink]="['/patient/homepage/retailpharmacy']">{{
                    "request_medicine_price" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a href="#" class="nav-link p-0">{{
                    "share_ePrescription" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a class="nav-link p-0" (click)="routeclaim(1)">{{
                    "submit_claim_to_insurance" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a class="nav-link p-0"  (click)="routeclaim(2)">{{
                    "submit_pre_authorization_to_insurance" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a class="nav-link p-0" [routerLink]="['/patient/homepage/retailhospital']">{{
                    "hospital_and_clinics_listing" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a class="nav-link p-0" [routerLink]="['/patient/homepage/retailpharmacy']">{{
                    "pharmacy_listing" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3">
                  <a href="#" class="nav-link p-0">{{
                    "insurance_listing" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3 cursor-pointer">
                  <a (click)="articlehandleRoute()" class="nav-link p-0">{{
                    "read_health_articles" | translate
                  }}</a>
                </li>
                <li class="nav-item mb-3 cursor-pointer">
                  <a (click)="medicalVideohandleRoute()" class="nav-link p-0">{{
                    "watch_medical_video" | translate
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="right_part footer_main_item col-lg-9 col-sm-12">
          <div class="row">
            <div
              class="col-lg-4 col-sm-12 footer_main_item footer-item footer_item2"
            >
              <h5 class="d-lg-none">
                <a
                  class="footer-title"
                  data-bs-toggle="collapse"
                  href="#collapse2"
                  role="button"
                  aria-expanded="false"
                >
                  {{ "for_clinics" | translate }}
                </a>
              </h5>

              <h5 class="footer-title-desk">{{ "for_clinics" | translate }}</h5>
              <div id="collapse2" class="nav collapse footer-content">
                <ul>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "online_consultation" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "home_visit_consultation" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "in_hospital_clinic_consultation" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "ePrescription" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "submit_claim_to_insurance" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "submit_pre_authorization_to_insurance" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "free_up_medical_time_with_online_appointment_scheduling_and_modern_software"
                        | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "develop_your_practice_activity" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "increase_your_daily_work_comfort" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "improve_access_to_care_for_your_patients" | translate
                    }}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div
              class="col-lg-4 col-sm-12 footer_main_item footer-item footer_item3"
            >
              <h5 class="d-lg-none">
                <a
                  class="footer-title"
                  data-bs-toggle="collapse"
                  href="#collapse3"
                  role="button"
                  aria-expanded="false"
                >
                  {{ "for_pharmacy" | translate }}
                </a>
              </h5>

              <h5 class="footer-title-desk">
                {{ "for_pharmacy" | translate }}
              </h5>
              <div id="collapse3" class="nav collapse footer-content">
                <ul>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "receive_medicines_orders" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "send_the_price_of_the_medicines" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "submit_claim_to_insurance" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "submit_pre_authorization_to_insurance" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "develop_your_practice_activity" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "increase_your_daily_work_comfort" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "dont_keep_your_patients_waiting_in_the_pharmacy"
                        | translate
                    }}</a>
                  </li>
                </ul>
              </div>

              <div class="col-sm-12 footer-item footer_item4">
                <h5 class="d-lg-none">
                  <a
                    class="footer-title"
                    data-bs-toggle="collapse"
                    href="#collapse4"
                    role="button"
                    aria-expanded="false"
                  >
                    {{ "for_insurance" | translate }}
                  </a>
                </h5>
                <h5 class="footer-title-desk">
                  {{ "for_insurance" | translate }}
                </h5>
                <div id="collapse4" class="nav collapse footer-content">
                  <ul>
                    <li class="nav-item mb-3">
                      <a href="#" class="nav-link p-0">{{
                        "validate_in_real_time_the_claim" | translate
                      }}</a>
                    </li>
                    <li class="nav-item mb-3">
                      <a href="#" class="nav-link p-0">{{
                        "validate_in_real_time_the_pre_authorization"
                          | translate
                      }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-sm-12 footer_main_item footer-item footer_item5"
            >
              <h5 class="d-lg-none">
                <a
                  class="footer-title"
                  data-bs-toggle="collapse"
                  href="#collapse5"
                  role="button"
                  aria-expanded="false"
                >
                  {{ "for_doctors" | translate }}
                </a>
              </h5>

              <h5 class="footer-title-desk">{{ "for_doctors" | translate }}</h5>
              <div id="collapse5" class="nav collapse footer-content">
                <ul>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "online_consultation" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "home_visit_consultation" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "in_hospital_clinic_consultation" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "ePrescription" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "submit_claim_to_insurance" | translate
                    }}</a>
                  </li>
                  <li class="nav-item mb-3">
                    <a href="#" class="nav-link p-0">{{
                      "submit_pre_authorization_to_insurance" | translate
                    }}</a>
                  </li>
                </ul>
              </div>

              <div class="col-sm-12 footer-item footer_item6">
                <h5 class="d-lg-none">
                  <a
                    class="footer-title"
                    data-bs-toggle="collapse"
                    href="#collapse6"
                    role="button"
                    aria-expanded="false"
                  >
                    {{ "more" | translate }}
                  </a>
                </h5>

                <h5 class="footer-title-desk">{{ "more" | translate }}</h5>
                <div id="collapse6" class="nav collapse footer-content">
                  <ul>
                    <li class="nav-item mb-3 cursor-pointer">
                      <a href="#" class="nav-link p-0">{{
                        "help" | translate
                      }}</a>
                    </li>
                    <li class="nav-item mb-3 cursor-pointer">
                      <a href="#" class="nav-link p-0">{{
                        "healthcare_professional_directory" | translate
                      }}</a>
                    </li>
                    <li class="nav-item mb-3 cursor-pointer">
                      <a (click)="privacyhandleRoute()" class="nav-link p-0">{{
                        "privacy_policy" | translate
                      }}</a>
                    </li>
                    <li class="nav-item mb-3 cursor-pointer">
                      <a (click)="termshandleRoute()" class="nav-link p-0">{{
                        "terms_and_conditions" | translate
                      }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-12 footer_main_item footer-item footer_item7">
              <h5 class="d-lg-none">
                <a
                  class="footer-title"
                  data-bs-toggle="collapse"
                  href="#collapse7"
                  role="button"
                  aria-expanded="false"
                >
                  {{ "contact_us" | translate }}
                </a>
              </h5>

              <h5 class="footer-title-desk">{{ "contact_us" | translate }}</h5>
              <div id="collapse7" class="nav collapse footer-content">
                <div class="contactus_wrapper">
                  <ul class="contactus">
                    <li class="nav-item mb-3">
                      <a href="#" class="nav-link p-0"
                        ><i class="fa-solid fa-phone"></i>(252) 555-0126</a
                      >
                    </li>
                    <li class="nav-item mb-3">
                      <a href="#" class="nav-link p-0"
                        ><i class="fa-solid fa-envelope"></i
                        >info@example123.net</a
                      >
                    </li>
                    <li class="nav-item mb-3">
                      <a href="#" class="nav-link p-0"
                        ><i class="fa-solid fa-location-dot"></i>2715 Ash Dr.
                        San Jose, South Dakota 83475</a
                      >
                    </li>
                  </ul>
                  <ul class="social">
                    <li class="nav-item mb-3">
                      <a href="#" class="nav-link p-0"
                        ><i class="fa-brands fa-facebook-f"></i
                      ></a>
                    </li>
                    <li class="nav-item mb-3">
                      <a href="#" class="nav-link p-0"
                        ><i class="fa-brands fa-twitter"></i
                      ></a>
                    </li>
                    <li class="nav-item mb-3">
                      <a href="#" class="nav-link p-0"
                        ><i class="fa-brands fa-linkedin-in"></i
                      ></a>
                    </li>
                    <li class="nav-item mb-3">
                      <a href="#" class="nav-link p-0"
                        ><i class="fa-brands fa-youtube"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="copyright">
      <p>© 2022 {{"healthcare-crm_health_all_rights_reserved" | translate}}.</p>
    </div>
  </div>
</footer>


<ng-template #loginRequiredWarningModal let-modal>
  <div class="custome_modal">
      <div class="modal-header">
          <div class="modal_title" style="font-weight: 900;font-size:large;">
              {{ 'login_required' | translate}}
          </div>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <mat-icon>close</mat-icon>
          </button>
      </div>
      <div class="modal-body">
          <div class="modal_title">
              {{ 'you_need_to_login_first' | translate}}.
          </div>
          <div class="primary_btn">
              <a (click)="handleBtnClick()">
                  <button type="button" class="btn btn-primary">
                      {{ 'login' | translate}}
                  </button>
              </a>
          </div>
      </div>
  </div>
</ng-template>

