@import '../../../../../assets/css/variable/variable';

.basic_info {
    .accodion_item{
        .mat-expansion-panel-header{
            height: 65px;
            mat-panel-description{   
                justify-content: flex-end;
                .form_field_wrapper{
                    display: flex;
                    align-items: center;
                    margin: 0 0 0 20px;
                    .form_label{
                        color: rgba(15, 18, 63, 0.57);
                        margin: 0 10px 0 0;
                    }
                    .mat-form-field{
                        display: inline-block;
                        .mat-form-field-wrapper{
                            padding-bottom: 0;
                            .mat-form-field-flex{
                                background-color: #EBF0F4;
                                border-color: #EBF0F4;
                                .mat-form-field-infix{
                                    width: 100px;
                                }
                            }
                        }
                    }
                }
            }
            &.mat-expanded{
                height: 65px;
            }
        }
       
        .expansion_panel_inner{
            padding: 0;
            .expansion_item{
                padding: 20px 25px;
                border-bottom: 1px solid #B6C8D6;
                &:last-child{
                    border-bottom: none;
                }
                .item_info{
                    width: auto;
                    min-width: 15%;
                    margin: 0 0 20px;
                    label{
                        font-weight: 400;
                        margin: 0 0 5px;
                    }
                    .value{
                        font-weight: 500;
                        color: $linkcolor;
                    }
                    .user_img{
                        width: 200px;
                        height: 99px;
                        border-radius: 15px;
                        overflow: hidden;
                    }
                    .card{
                        background: #FFFFFF;
                        border: 1px solid #B6C8D6;
                        border-radius: 15px;
                        text-align: center;
                        .top{
                            background: rgba(182, 200, 214, 0.15);
                            border-radius: 15px 15px 0px 0px;
                            padding: 15px 25px;
                            .day{
                                font-size: 18px;
                                font-weight: 500;
                                color: $table_color;
                            }
                        }
                        .bottom{
                            background: #ffffff;
                            border-radius: 0 0 15px 15px;
                            padding: 15px 25px;
                            div{
                                color: $bodyopacitylightcolor;
                                margin: 0 0 3px;
                            }
                        }
                    }
                }
                &.img_item_block {
                    display: flex;
                    justify-content: space-between;
                    @media screen and (max-width: 600px) {
                        flex-direction: column;
                    }
                    .left_block {
                        width: auto;
                        @media screen and (max-width: 600px) {
                            margin: 0 0 20px;
                        }
                        .profile_image {
                            width: 95px;
                            height: 95px;
                            border-radius: 10px;
                            overflow: hidden;
                        }
                    }
                    .right_block {
                        width: calc(100% - 95px);
                    }
                }
            }
        }
        &.document {
            .expansion_panel_inner {
                .expansion_item{
                    align-items: center;
                }
            }
        }
        &.bankdetails{
            .expansion_panel_inner {
                .expansion_item{
                    align-items: center;
                   .user_img_wrap{
                    display: flex;
                    align-items: center;
                        .user_img{
                            border: 1px solid #B6C8D6;
                            border-radius: 15px;
                            width: 75px;
                            height: 65px;
                            line-height: 65px;
                            margin: 0 15px 0 0;
                            text-align: center;
                            display: inline-block;
                        }
                    }
                }
            }  
        }
    }
    .primary_btn{
        justify-content: flex-end;
        margin-top: 20px;
    }
}



@media screen and (max-width:$large_phone) {
    .basic_info .accodion_item .mat-expansion-panel-header mat-panel-description .form_field_wrapper{
        margin: 0 0 0 5px;
    }
}
@media screen and (max-width:$medium_iphone) {
    .basic_info .availability .mat-expansion-panel-header.mat-expanded,
    .basic_info .availability .mat-expansion-panel-header{
        height: 100px;
        align-items: flex-start;
    }
    .basic_info .availability .mat-expansion-panel-header mat-panel-description{
        position: absolute;
        bottom: 15px;
        top: auto;
        left: 0;
        right: 0;
        justify-content: center;
    }
}
@media screen and (max-width:$medium_phone) {
    .basic_info .accodion_item .expansion_panel_inner .expansion_item .item_info{
        width: 100%;
        min-width: 100%;
    }
    .basic_info .availability .mat-expansion-panel-header.mat-expanded,
    .basic_info .availability .mat-expansion-panel-header{
        height: 160px;
    }
    .basic_info .availability .mat-expansion-panel-header mat-panel-description{
        flex-direction: column;
    }
    .basic_info .availability .mat-expansion-panel-header mat-panel-description .form_field_wrapper {
        margin: 10px 0 0;
    }

}

.button-container {
    display: flex;
    justify-content: space-between;
  }
