<div class="login">
  <div class="login_inner">
    <div class="row">
      <div class="left_part part col-md-6">
        <div class="leftpart_inner">
          <div class="logo">
            <img [src]="login_logo" alt="Store logo" />
          </div>
        </div>
      </div>
      <div class="right_part part col-md-6">
        <div class="rightpart_inner">
          <div class="login_form">
            <div class="login_form_inner">
              <form [formGroup]="resetForm" (ngSubmit)="setNewPassword()">
                <div class="login_img">
                  <img src="../../../../assets/img/key.svg" />
                </div>
                <div class="title_wrapper">
                  <h4 class="form_title">
                    {{ "set_new_password" | translate }}
                  </h4>
                  <div class="form_desc">
                    {{
                      "your_new_password_must_be_different_to_previously_used_passwords"
                        | translate
                    }}.
                  </div>
                </div>
                <div class="form_field_wrapper">
                  <label>{{ "password" | translate }}</label>
                  <mat-form-field appearance="fill">
                    <input
                      type="password"
                      placeholder="{{ 'enter_password' | translate }}"
                      formControlName="password"
                      matInput
                    />
                  </mat-form-field>
                </div>
                <span
                  class="text-danger"
                  *ngIf="isSubmitted && f['password'].errors?.['required']"
                >
                  {{ "enter_password" | translate }}
                </span>
                <span
                  class="text-danger"
                  *ngIf=" f['password'].errors?.['minlength']"
                >
                  {{ "must_be_atleast_8_char" | translate }}
                </span>
                <span
                  class="text-danger"
                  *ngIf="f['password'].errors?.['hasNumber']"
                >
                  {{ "must_contain_atleast_1_number" | translate }}
                </span>
                <span
                  class="text-danger"
                  *ngIf="f['password'].errors?.['hasCapitalCase']"
                >
                  {{ "must_contain_atleast_1_capcase" | translate }}
                </span>
                <span
                  class="text-danger"
                  *ngIf="f['password'].errors?.['hasSmallCase']"
                >
                  {{ "must_contain_atleast_1_smallcase" | translate }}
                </span>
                <span
                  class="text-danger"
                  *ngIf="f['password'].errors?.['hasSpecialCharacters']"
                >
                  {{ "must_contain_atleast_1_number" | translate }}
                </span>

                <div class="form_field_wrapper">
                  <label>{{ "confirm_password" | translate }}</label>
                  <mat-form-field appearance="fill">
                    <input
                      type="password"
                      placeholder="{{ 'enter_confirm_password' | translate }}"
                      formControlName="confirm_password"
                      matInput
                    />
                  </mat-form-field>
                </div>

                <span
                  class="text-danger"
                  *ngIf="isSubmitted && f['confirm_password'].errors?.['required']"
                  >{{ "confirm_password" | translate }}*</span
                >

                <span
                  class="text-danger"
                  *ngIf="isSubmitted && f['confirm_password'].errors?.['matching']"
                >
                  {{ "confim_password_does_not_match" | translate }}
                </span>

                <div class="form-btn primary_btn">
                  <button class="login_btn btn btn-primary">
                    {{ "reset_password" | translate }}
                  </button>
                </div>

                <div class="signup_section">
                  <div
                    class="signup backlogin"
                    [routerLink]="['/individual-doctor/login']"
                  >
                    <mat-icon>west</mat-icon>{{ "back_to_log_in" | translate }}
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
