@import '../../../../assets/css/variable/variable';

.create_profile{
    margin: 60px 0;
    overflow: hidden;
    .main_title{
        color: $black_light_color;
        margin: 0 0 30px;
    }
    .create_profile_inner{
        border: 1px solid #B6C8D6;
        border-radius: 15px;
        padding: 30px;
        .profile_img{
            background: #E7E7E7;
            border-radius: 10px;
            padding: 15px;
            display: inline-block;
            margin: 0 0 30px;
        }

        .form_field_wrapper{
            label{
                color: $bodycolor;
            }
            .fieldicon_wrap{
                display: flex;
                justify-content: space-between;
                .mat-form-field{
                    width: 85%;
                }
                .mat-icon{
                    border-radius: 5px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    margin-left: 15px;
                    &.minus{
                        background: #FDE6E5;
                        color: #F05A4F;
                    }
                    &.plus{
                        background: #0B4977;
                        color: #ffffff;  
                    }
                }
            }
            .mat-form-field{
                width: 100%;
                .mat-form-field-wrapper{
                    padding-bottom: 5px;
                    .mat-form-field-flex{
                        .mat-form-field-infix{
                            .mat-input-element {
                                color: $bodyopacitycolor;
                            }
                        }
                    }
                }
            } 
            .upload_input{
                padding: 10px 15px;
                margin-bottom: 30px;
                background-color: #ffffff;
                border: 1px solid rgba(228, 228, 228, 0.9);
                font-size: $font_small;
                border-radius: 5px;
                width: 160px;
                max-width: 100%;
                position: relative;
                .user_upload_input{
                    opacity: 0;
                    z-index: 0;
                }
                .upload_input_content{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 10px;
                    bottom: auto;
                    label{
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
        .healthcare_network{
            padding: 30px 0 0;
            margin: 0 0 30px;
            position: relative;
            &::before{
              content: "";
              height: 1px;
              background: #B6C8D6;  
              position: absolute;
              left:-30px;
              right: -30px;
              top: 0;
              bottom: auto;
            }
            &::after{
                content: "";
                height: 1px;
                background: #B6C8D6;  
                position: absolute;
                left:-30px;
                right: -30px;
                top: auto;
                bottom: 0;
            }
            h2{
                font-size: $font_large;
            }
        }
        .btn_wrap{
            justify-content: flex-end;
            margin: 15px 0 0;
           .btn-secondary{
                margin-left: 15px;
            }
        }
        .mobile_paydetails {
            .modal-body{
                padding: 0;
                .paydetail_content {
                    width: 75%;
                    margin-bottom: 0;
                    .modal_content_inner{
                        width: 100%;
                    }
                    .field-wrap-block {
                        border: 1px solid $formfiledbordercolor;
                        border-radius: 5px;
                        .mat-form-field-wrapper {
                            padding-bottom: 0;
                        }
                        .mat-select {
                            display: inline-flex;
                            align-items: center;
                            width: 100px;
                            padding: 0 10px;
                            background-color: rgba(0,0,0,.04);
                        }
                        .mat-form-field {
                            width: calc(100% - 80px);
                            .mat-form-field-flex {
                                border: none;
                            }
                        }
                    }
                }
            }
            &::after{
                display: none;
            }
        }

    }
}

.speciality-select-block {
    ::ng-deep {
        .select2-label ~ .select2-container > div > .select2-selection--multiple {
            ul {
                width: 400px !important;
                overflow: auto !important;
                position: relative;
                z-index: 10;
                height: 50px;
                li {
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (max-width:$tablet) {
    .create_profile .create_profile_inner .form_field_wrapper .fieldicon_wrap .mat-form-field {
        width: 66%;
    }
}
@media screen and (max-width:$large_phone) {
    .create_profile .create_profile_inner .form_field_wrapper .fieldicon_wrap .mat-form-field {
        width: 85%;
    }
}
@media screen and (max-width:$small_phone) {
    .create_profile .create_profile_inner .form_field_wrapper .fieldicon_wrap .mat-form-field {
        width: 68%;
    }
}

.image-upload {
    input {
        display: none;
    }
    img {
        width: 80px;
        cursor: pointer;
    }
}

.create_profile {
    .create_profile_inner {
      .user_image_upload {
          margin: 0 0 30px;
          .upload_input {
              opacity: 0;
              width: 100px;
              height: 100px;
              position: relative;
              z-index: 9;
              cursor: pointer;
              width: 95px;
              height: 95px;
          }
          .user_upload_block {
              margin-left: -95px;
              display: inline-block;
              vertical-align: top;
              position: relative;
              .user_upload_wrapper {
                  width: 95px;
                  height: 95px;
                  line-height: 15px;
                  border-radius: 10px;
                  background: transparent;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  .user_upload_icon {
                      color: #3767B1;
                      position: absolute;
                      left: 0;
                      right: 0;
                      top: 0;
                      bottom: 0;
                      img {
                          width: 95px;
                          height: 95px;
                          line-height: 95px;
                          border-radius: 10px;
                      }
                      .quick_view {
                          position: absolute;
                          top: 5px;
                          right: -5px;
                          z-index: 1;
                          background: #0B4977;
                          width: 25px;
                          height: 25px;
                          border-radius: 50%;
                          margin-top: -12px;
                          color: white;
                          .material-icons {
                              font-size: 18px;
                              position: relative;
                              top: 3.5px;
                              left: 1.5px;
                          }
                      }
                  }
              }
          }
          .edit_upload_wrapper {
              background: #0B4977;
              border: 3px solid #ffffff;
              right: -10px;
              bottom: -10px;
              .edit_upload_icon {
                  color: #ffffff;
                  width: 24px;
              }
          }
      }
    }
}
.create_profile{
    .form-field-insurance{
        flex-direction: column;
        .upload_input_content{
            position: relative;
            width: 160px;
            height: auto;
            margin-bottom: 20px;
            img{
                border-radius: 5px;
            }
            .closing-icon{
                position: absolute;
                top: -15px;
                right: -12px;
                width: 32px;
                height: 32px;
                background: #0B4977;
                border-radius: 50%;
                .close{
                    position: absolute;
                    top: 4px;
                    right: 3px;
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }
}
