@import '../../../../../assets/css/variable/variable';

.change_password{
    .top_bar{
        margin: 0 0 35px;
        .left_part{
            display: flex;
            .primary_btn{
                .btn {
                    background: #FFFFFF;
                    color: $bodycolor;
                    border: 1px solid rgba(11, 73, 119, 0.15);
                    border-radius: 10px;
                    padding: 10px;
                    justify-content: flex-start;
                    .btn_svg{
                        height: 35px;
                        width: 35px;
                        background-color: $bodycolor;
                        border-radius: 9px;
                        svg{
                            fill: $white_color;
                            width: 20px;
                            height: 20px;
                        }
                    }
                    &:hover{
                        background: $bodycolor;
                        color: $white_color;
                        .btn_svg{
                            background-color: #EBF0F4;
                            svg{
                                fill: $bodycolor;
                            }
                        }
                    }
                }
            }
    
        }
    } 
    .bottom_bar{
        .change_pass{
            padding: 30px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            form{
                border: 1px solid #B6C8D6;
                border-radius: 15px;
                padding: 35px;
                width: 550px;
                margin: 0 auto;
                .form-btn{
                    .btn{
                        width: 100%;
                        padding: 15px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:$large_phone) {
    .change_password .bottom_bar .change_pass form{
        width: 400px;
    }
}
@media screen and (max-width:$medium_phone) {
    .change_password .bottom_bar .change_pass form{
        width: 100%;
    }
    .change_password .top_bar .left_part .primary_btn .btn{
        margin: 10px 0 0;
    }
    .top_bar .left_part .primary_btn {
        flex-direction: column;
    }
    .change_password .bottom_bar .change_pass{
        padding: 0;
    }
}


