<div class="content_view dashboard_main_content">
  <div class="content_tab">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="{{ 'about_us' | translate }}">
        <app-aboutus></app-aboutus>
      </mat-tab>

      <mat-tab label="{{ 'blog' | translate }}">
        <app-blog></app-blog>
      </mat-tab>

      <mat-tab label="{{ 'faq' | translate }}">
        <app-faq></app-faq>
      </mat-tab>

      <mat-tab label="{{ 'contact_us' | translate }}">
        <app-contactus></app-contactus>
      </mat-tab>

      <mat-tab label="{{ 'privacy_condition' | translate }}">
        <app-privacyandcondition></app-privacyandcondition>
      </mat-tab>

      <mat-tab label="{{ 'terms_and_conditions' | translate }}">
        <app-termandcondition></app-termandcondition>
      </mat-tab>

      <mat-tab label="{{ 'video' | translate }}">
        <app-videocontent></app-videocontent>
      </mat-tab>

      <mat-tab label="{{ 'articles' | translate }}">
        <app-articles></app-articles>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
