@import '../../../../assets/css/variable/variable';
.totaleclaims {
    .top_bar {
        margin: 0 0 30px;
        padding: 0 0 30px;
        position: relative;
        justify-content: flex-end;
        &::after {
            content: "";
            display: block;
            background-color: #B6C8D6;
            height: 1px;
            position: absolute;
            left: -30px;
            right: -30px;
            bottom: 0;
            top: auto;
        }
            .content_wrap {
                flex-wrap: wrap;
                .policy {
                    margin: 0 0 0 20px;
                    display: flex;
                    align-items: center;
                    label {
                        margin-right: 12px;
                        margin-bottom: 0;
                    }
                    .mat-form-field {
                        .mat-form-field-wrapper {
                            padding: 0;
                            .mat-form-field-flex {
                                background-color: #EBF0F4;
                                border: 1px solid #EBF0F4;
                                .mat-form-field-infix {
                                    width: 150px;
                                    .mat-select {
                                        .mat-select-value {
                                            color: $formfiled_color;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                            .mat-form-field-underline {
                                display: none;
                            }
                        }
                    }
                    &:first-child{
                        margin: 0;
                    }
                }
            }
            .primary_btn {
                .btn {
                    min-width: 100px;
                }
            }
    }
    .bottom_bar {
        position: relative;
        .primary_btn {
            position: absolute;
            right: 0;
            left: auto;
            top: 0;
            bottom: auto;
        }
        .mat-tab-group.mat-primary .mat-ink-bar {
            display: none;
        }
        .mat-tab-header {
            border-bottom: none;
            width: 80%;
            .mat-tab-list {
                .mat-tab-labels {
                    display: inline-flex;
                    .mat-tab-label {
                        background: #FFFFFF;
                        border: 1px solid rgba(11, 73, 119, 0.15);
                        border-radius: 10px;
                        min-width: 140px;
                        margin-right: 25px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #214469;
                        opacity: 1;
                        &:first-child {
                            margin-left: 0;
                        }
                        .mat-tab-label-content {
                            .btn_svg {
                                height: 35px;
                                width: 35px;
                                line-height: 35px;
                                margin-right: 10px;
                                background-color: #0B4977;
                                border-radius: 9px;
                                svg {
                                    fill: #ffffff;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                    .mat-tab-label-active {
                        background-color: $bodycolor;
                        opacity: 1;
                        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
                        border-radius: 10px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .mat-tab-body-wrapper {
            margin-top: 30px;
        }
        .table-wrap table tr th:last-child {
            text-align: left;
        }
        .table-wrap table tr td:last-child {
            text-align: left;
        }
    }
}

@media screen and (max-width:$desktop) {
    .totaleclaims .top_bar .content_wrap .policy .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
        width: 95px;
    }
}
@media screen and (max-width:$large_phone) {
    .totaleclaims .bottom_bar .mat-tab-header {
        width: 100%;
    }
    .totaleclaims .bottom_bar .primary_btn {
        justify-content: flex-end;
        margin: 0 0 25px;
        position: static;
    }
    .totaleclaims .top_bar .content_wrap{
        margin: 0;
    }
    .totaleclaims .top_bar .content_wrap .policy{
        width: 100%;
        margin: 15px 0 0;
    }
    .totaleclaims .top_bar .content_wrap .policy .form_field_wrapper {
        width: 100%;
    }
}

@media screen and (max-width:$small_phone) {
    .totaleclaims .bottom_bar .primary_btn {
        justify-content: center;
    }
}