@import '../../../../assets/css/variable/variable';
.profile_img_wrap {
    position: relative;
    display: inline-block;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
 
  
  .fa-camera {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 50%;
  }
  

.create_profile{
    margin: 60px 0;
    overflow: hidden;
    .main_title{
        color: $black_light_color;
        margin: 0 0 30px;
    }
    .create_profile_inner{
        border: 1px solid #B6C8D6;
        border-radius: 15px;
        padding: 30px;
        .profile_img{
            border-radius: 10px;
            display: inline-block;
            margin: 0 0 30px;
            position: relative;
            .profile_img_wrap{
                img{
                    width: 95px;
                    height: 95px;
                    line-height: 95px;
                }
            }
            .upload_input{
                width: 95px;
                height: 95px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
            }
        }

        .form_field_wrapper{
            label{
                color: $bodycolor;
            }
            .fieldicon_wrap{
                display: flex;
                justify-content: space-between;
                .mat-form-field{
                    width: 85%;
                }
                .mat-icon{
                    border-radius: 5px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    margin-left: 15px;
                    &.minus{
                        background: #FDE6E5;
                        color: #F05A4F;
                    }
                    &.plus{
                        background: #0B4977;
                        color: #ffffff;  
                    }
                }
            }
            .mat-form-field{
                width: 100%;
                .mat-form-field-wrapper{
                    // padding-bottom: 30px;
                    .mat-form-field-flex{
                        .mat-form-field-infix{
                            .mat-input-element {
                                color: $bodyopacitycolor;
                            }
                        }
                    }
                }
            } 
            .upload_input{
                padding: 11px 15px;
                margin-bottom: 30px;
                background-color: #ffffff;
                border: 1px solid rgba(228, 228, 228, 0.9);
                font-size: $font_small;
                border-radius: 5px;
                // width: 100%;
                position: relative;
                .user_upload_input{
                    opacity: 0;
                    z-index: 0;
                }
                .upload_input_content{
                    // display: flex;
                    // align-items: center;
                    // position: absolute;
                    // top: 10px;
                    // bottom: auto;
                    label{
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
        .healthcare_network{
            padding: 30px 4px 0;
            margin: 0 0 30px;
            position: relative;
            &::before{
              content: "";
              height: 1px;
              background: #B6C8D6;  
              position: absolute;
              left:-18px;
              right: -18px;
              top: 0;
              bottom: auto;
            }
            &::after{
                content: "";
                height: 1px;
                background: #B6C8D6;  
                position: absolute;
                left:-18px;
                right: -18px;
                top: auto;
                bottom: 0;
            }
            h2{
                font-size: $font_large;
            }

            &.mobile_paydetails {
                .modal-body{
                    padding: 0;
                    .paydetail_content {
                        width: 75%;
                        margin-bottom: 0;
                        .modal_content_inner{
                            width: 100%;
                        }
                        .field-wrap-block {
                            border: 1px solid rgba(228, 228, 228, 0.9);;
                            border-radius: 5px;
                            .mat-form-field-wrapper {
                                padding-bottom: 0;
                            }
                            .mat-select {
                                display: inline-flex;
                                align-items: center;
                                width: 100px;
                                padding: 0 10px;
                                background-color: rgba(0,0,0,.04);
                            }
                            .mat-form-field {
                                width: calc(100% - 80px);
                                .mat-form-field-flex {
                                    border: none;
                                }
                            }
                        }
                    }
                }
                &::after{
                    display: none;
                }
            } 
        }
        .btn_wrap{
            justify-content: center;
            margin: 30px 0 0;
           .btn-secondary{
                margin-left: 15px;
            }
        }


    }
    // .upload_text{
    //     display: flex;
    //     justify-content: center;
    //     padding-bottom: 4px;
    // }
    .boxes {
        background: #B6C8D6;
        opacity: 0.5;
        border-radius: 5px;
        height: auto;
        width: 150px;
        padding: 8px 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        .inner_boxes{
            text-align: center;
           p{
            margin-bottom: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #0C2F49;
           }
        }
    }
    .add_image {
     .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
        border: none;
        padding: 0;
     }
    }
    .primary_btn{
        justify-content: flex-end !important;
    }
}

					 
.mat-radio-button{
    margin-right: 25px;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #0C2F49;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #0C2F49;
}



@media screen and (max-width:$tablet) {
    .create_profile .create_profile_inner .form_field_wrapper .fieldicon_wrap .mat-form-field {
        width: 66%;
    }
}
@media screen and (max-width:$large_phone) {
    .create_profile .create_profile_inner .form_field_wrapper .fieldicon_wrap .mat-form-field {
        width: 85%;
    }
}
@media screen and (max-width:$small_phone) {
    .create_profile .create_profile_inner .form_field_wrapper .fieldicon_wrap .mat-form-field {
        width: 68%;
    }
}
// .mat-error {
//     position: relative;
//     top: -25px;
// }


.select2-container .select2-results__option {
    background-color: transparent !important;
    color: inherit !important;
  }

  .select2-container .select2-results__option:hover {
    background-color: #0B4977 !important; 
    color: #fff !important; 
  }
  
  .select2-container .select2-results__option.selected,
  .select2-container .select2-results__option:hover.selected {
    background-color: #0B4977 !important;
    color: #fff !important;
  }
  
  .healthcare_network{
    .boxes_wrapper {
        display: flex;
        flex-direction: column;
        .boxes {
            background: #B6C8D6;
            opacity: 0.5;
            border-radius: 5px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            .inner_boxes{
                text-align: center;
                display: flex;
                align-items: center;
                gap: 5px;
                p{
                    margin-bottom: 0;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #0C2F49;
                }
            }
        }
        .preview-img{
            //   margin: 0 15px;
            img{
                height: 110px;
                width: 110px;
                border-radius: 5px;
            }
            .quick_view
            {
              position: absolute;
            //   margin-left: 84px;
              top: 5px;
              right: -5px;
              z-index: 1;
              background: #0B4977;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              margin-top: -12px;
              color: white;
              .material-icons {
                font-size: 18px;
                position: relative;
                top: 3.5px;
                left: 3.5px;
              }
            }
        }
        .images-preview {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;
            .preview-img {
                position: relative;
            }
        }
    }
  }

  .create_profile {
      .create_profile_inner {
        .user_image_upload {
            margin: 0 0 30px;
            .upload_input {
                opacity: 0;
                width: 100px;
                height: 100px;
                position: relative;
                z-index: 9;
                cursor: pointer;
                width: 95px;
                height: 95px;
            }
            .user_upload_block {
                margin-left: -95px;
                display: inline-block;
                vertical-align: top;
                position: relative;
                .user_upload_wrapper {
                    width: 95px;
                    height: 95px;
                    line-height: 15px;
                    border-radius: 10px;
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    .user_upload_icon {
                        color: #3767B1;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        img {
                            width: 95px;
                            height: 95px;
                            line-height: 95px;
                            border-radius: 10px;
                        }
                        .quick_view {
                            position: absolute;
                            top: 5px;
                            right: -5px;
                            z-index: 1;
                            background: #0B4977;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            margin-top: -12px;
                            color: white;
                            .material-icons {
                                font-size: 18px;
                                position: relative;
                                top: 3.5px;
                                left: 1.5px;
                            }
                        }
                    }
                }
            }
            .edit_upload_wrapper {
                background: #0B4977;
                border: 3px solid #ffffff;
                right: -10px;
                bottom: -10px;
                .edit_upload_icon {
                    color: #ffffff;
                    width: 24px;
                }
            }
        }
      }
  }

  .create_profile{
    .form_field_wrapper {
        display: block;
        position: relative;
        .form-field-insurance {
            flex-direction: column;
            .upload_input {
                padding: 10px 15px;
                margin-bottom: 30px;
                background-color: #ffffff;
                border: 1px solid rgba(228, 228, 228, 0.9);
                font-size: 14px;
                border-radius: 5px;
                width: 210px;
                max-width: 100%;
                position: relative;
                .upload_input_content {
                    display: flex;
                    align-items: center;
                }
                .user_upload_input {
                    opacity: 0;
                    z-index: 0;
                }
            }
        }
    }
  }
  .create_profile .form-field-insurance .upload_input_content {
    position: relative;
    width: 210px;
    height: auto;
    img{
        border-radius: 5px;
    }
    .closing-icon {
        position: absolute;
        top: -15px;
        right: -12px;
        width: 32px;
        height: 32px;
        background: #0B4977;
        border-radius: 50%;
        .close {
            position: absolute;
            top: 5px;
            right: 3px;
            color: white;
            font-size: 20px;
        }
    }
}

.create_profile {
    .create_profile_inner {
        .healthcare_network {
            .association_field {
                padding-bottom: 30px;
                margin-top: 15px;
                .association_item {
                    margin: 0 0 15px;
                    .form_field_wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .select2-container {
                            .select2-selection {
                                margin: 0;
                            }
                        } 
                            .row_minus {
                                background: #FDE6E5;
                                margin: 0 0 0 10px;
                                border-radius: 5.1416px;
                                .mat-icon {
                                    color: #F05A4F;
                                    height: 50px;
                                    width: 50px;
                                    line-height: 50px;
                                    text-align: center;
                                }
                            }
                            .row_add {
                                background: #0B4977;
                                margin: 0 0 0 10px;
                                border-radius: 5.1416px;
                                .mat-icon {
                                    color: #ffffff;
                                    height: 50px;
                                    width: 50px;
                                    line-height: 50px;
                                    text-align: center;
                                }
                            }
                        select2 {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.mobile_paydetails {
    .mat-form-field-wrapper {
        padding-bottom: 0px !important;
    }
    .modal-body {
        .modal_content .modal_content_inner {
            margin: 0 -7px;
            padding: 20px;
            width: 100%;
        }
        .paydetail_content {
            width: 75%;
            margin-bottom: 0;
            .field-wrap-block {
                border: 1px solid rgba(228, 228, 228, 0.9);
                border-radius: 5px;
                .mat-form-field {
                    width: calc(100% - 80px);
                    .mat-form-field-flex {
                        border: none;
                        .mat-form-field-infix {
                            width: 115px;
                        }
                    }
                    .mat-form-field-wrapper {
                        padding-bottom: 0 !important;
                    }
                }
                .mat-select {
                    display: inline-flex;
                    align-items: center;
                    width: 100px;
                    padding: 0 10px;
                    background-color: rgba(0, 0, 0, 0.04);
                }
            }
        }
    }
}