@import '../../../../assets/css/variable/variable';

.header{
    border-bottom: 1px solid $common_border;
    padding: 20px;
    .navbar {
        padding: 0;
        .navbar-collapse{
            justify-content: space-between;
            align-items: center;
            .header-left-content{
                display: flex;  
                align-items: center;
                .content{
                    background: $white_color;
                    color: $bodycolor;
                    border: 1px solid rgba(11, 73, 119, 0.15);
                    border-radius: 10px;
                    margin: 0 20px 0 0;
                    padding: 8px;
                    display: flex;
                    align-items: center;
                    min-width: 150px;
                    &:last-child{
                        margin: 0;
                    }
                    .content_img{
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        background: $bodycolor;
                        color: $white_color;
                        border-radius: 9px;
                        text-align: center;
                    }
                    .mat-icon{
                        font-size: 20px;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                    }
                    .content_text{
                        font-size: $font_small;
                        font-weight: 500;
                        line-height: 18px;
                        text-transform: capitalize;
                        margin: 0 0 0 10px;
                    }
                    &:hover{
                        background: $bodycolor;
                        color: $white_color;
                        .content_img{
                            background: $white_color;
                            color: $bodycolor;
                        }
                    }
                }
            }
            .header-right-content{
                display: flex;
                align-items: center;
                .common_content{
                    margin: 0 12px; 
                    position: relative;
                    &:last-child{
                        margin-right: 0;
                    }
                }
                .search_bar{        
                    min-width: 300px;
                    .input-group{
                        background: #F6F8FC;
                        border-radius: 6px;
                        .form-control{
                            border: none;
                            background-color: transparent;
                            padding: 12px 12px 12px 0;
                            width: 200px;
                            &::placeholder{
                                font-weight: 400;
                                font-size: $font_small;
                                line-height: 24px;
                            }
                            &:focus{
                                box-shadow: none;
                            }
                        }
                        .btn{
                            padding: 0;
                            border: none;
                            .mat-icon{
                                line-height: 50px;
                                height: 50px;
                                width: 50px;
                                color: #9B9B9B;
                                font-size: 24px;
                            }
                            &.filter-btn{
                                .mat-icon{
                                    color: $bodycolor;
                                    border-left: 1px solid #E6E8F0;
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
                .mail{
                    .mat-icon{
                        position: relative;
                        &::before{
                            content: "";
                            height: 12px;
                            width: 12px;
                            background: #0B4977;
                            border-radius: 50%;
                            display: block;
                            position: absolute;
                            right: -2px;
                            top: 10px;
                        }
                    } 
                }
                .notification {
                    .mat-icon{
                        position: relative;
                        &::before{
                            content: "";
                            height: 12px;
                            width: 12px;
                            background: #0B4977;
                            border-radius: 50%;
                            display: block;
                            position: absolute;      
                            right: 5px;
                            top: 10px;
                        }
                    } 
                    .dropdown-menu{
                        background: $white_color;
                        border: 0.5px solid rgba(38, 50, 60, 0.2);
                        box-shadow: 0px 5px 15px rgba(26, 91, 159, 0.05);
                        border-radius: 10px;
                        padding: 0;
                        min-width: 400px;
                        right: 0;
                        left: auto;
                        top: 100%;
                        bottom: auto;
                        position: absolute;
                        margin: 20px 0 0;
                        &::before{
                            content: "";
                            position: absolute;
                            top: -20px;
                            right: 7px;
                            border:10px solid $bodycolor;
                            border-color: transparent transparent $bodycolor transparent;
                        }
                        li {
                            padding: 10px 0px;
                            &:nth-child(odd) {
                                background-color: #eee;
                            }
                            &.head {
                                padding: 5px 15px;
                                border-radius: 3px 3px 0px 0px;
                                background-color: $bodycolor;
                                .head_inner{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                }
                            }
                            &.footer {
                                padding: 5px 15px;
                                border-radius: 3px 3px 0px 0px;
                                background-color: $bodycolor;
                            }
                            a{
                                color: $white_color;
                                padding: 0;
                                border: none;
                            }
                            .notify_title{
                                color: $bodycolor;
                                &:hover{
                                    color: $bodyhovercolor;
                                }
                            }
                            .notify_desc{
                                color: rgba(38, 50, 60, 0.75);
                                font-size: 14px;
                                line-height: 20px;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                word-break: break-word;
                                white-space: pre-line;
                            }
                            .notify_time{
                                color: $bodyhovercolor;
                            }

                        }
                    } 
                }
                .user {
                    position: relative;
                    .user_inner{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        .profile_img{
                            img{
                                width: 43px;
                                min-width: 43px;
                                height: 43px;
                                line-height: 43px;
                                border-radius: 50%;
                            }
                        }
                        .user_wrapper {
                            .user_name_wrapper{                 
                                display: inline-block;
                                vertical-align: top;
                                width: 110px;
                                white-space: normal;
                                margin: 0 12px;
                                .user_name{
                                    line-height: 17px;
                                    color: $bodycolor;
                                    font-size: 14px;
                                    font-weight: 600;
                                    text-transform: capitalize;
                                }
                            }
                            &::after{
                                font-size: 20px;
                            }
                        }
                        &.show{
                            .user_wrapper {
                                &::after{
                                    transform: rotateX(180deg);
                                } 
                            }
                        }
                    }
                    .dropdown-menu{
                        padding: 6px;
                        right: 0;
                        left: auto;
                        .dropdown-item{
                            font-weight: 500;
                            padding: 7px;
                            border-radius: 4px;
                            position: relative;
                            .mat-icon{
                                background: #D5E0E9;
                                color: $bodycolor;
                                border-radius: 6px;
                                height: 25px;
                                line-height: 25px;
                                width: 25px; 
                                font-size: 18px;
                                text-align: center;
                            }
                            .item_text{
                                display: inline-block;
                                vertical-align: top;
                                margin: 0 0 0 7px;
                            }
                            .dropdown_language{
                                display: none;
                                top: auto;
                                bottom: 0;
                                margin: 0;
                                left: 5px;
                                right: 5px;
                                min-width: auto;
                                border-radius: 4px;
                                transition-duration: 500ms;
                                -webkit-transition-duration: 500ms;
                                -moz-transition-duration: 500ms;
                                -ms-transition-duration: 500ms;
                                -o-transition-duration: 500ms;
                                .language{
                                    select{
                                        width: 100%;    
                                        font-size: $font_medium;
                                        font-weight: 500;
                                        border: 1px solid rgba(11, 73, 119, 0.15);
                                        border-radius: 4px;
                                        cursor: pointer;
                                        &:focus-visible{
                                            outline: none;
                                        }
                                    }
                                }
                            }
                            &:hover,&:active{
                                background: #F1F2F4;
                                color: #000000;
                                .mat-icon{
                                    background: $bodycolor;
                                    color: $white_color;   
                                }
                                .dropdown_language{
                                    display: block;
                                    padding: 8px;
                                    top: auto;
                                    bottom: 0;
                                    left: auto;
                                    right: 100%;
                                    min-width: 130px;
                                    transition-duration: 500ms;
                                    -webkit-transition-duration: 500ms;
                                    -moz-transition-duration: 500ms;
                                    -ms-transition-duration: 500ms;
                                    -o-transition-duration: 500ms;
                                }
                            }
                        
                        }
                    }
                }
                .mat-icon{
                    color: #E6E8F0;
                    height: 50px;
                    line-height: 50px;
                    width: 30px;
                    font-size: 30px;
                }
                .form_field_wrapper {
                    margin: 0 10px 0 0;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $desktop_pro_up) {
    .header .navbar .navbar-collapse .header-left-content h2 {
        margin: 0;
    }
}
@media screen and (max-width: $desktop_large) {
    .header .navbar .navbar-collapse .header-left-content .content{
        width: 160px;
        margin: 0 15px 0 0;
    }
}
@media screen and (max-width: $desktop_medium) {
    .header .navbar .navbar-collapse .header-left-content .content{
        width: auto;
        min-width: auto;
        margin: 0 15px 0 0;
    }
    .header .navbar .navbar-collapse .header-left-content .content .content_text{
        display: none;
    }
}
@media screen and (max-width: $tablet_plus) {
    .header .navbar .navbar-collapse .header-right-content .search_bar {
        min-width: 200px;
    }
    .header .navbar .navbar-collapse .header-right-content .search_bar .input-group .form-control{
        width: 100px;
    }
}
@media screen and (max-width: $tablet) {
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;  
    }
    .header .header_logo{
        text-align: center;
    }
    .header .header_logo  img{
        max-width: 65%;
    }
    .header .menu{
        background-color: transparent;
        border: none;
        padding: 0;
        width: 24px;
        height: 24px;
    }
    .header .navbar .navbar-inner {
        padding: 0;
        position: relative;
    }
    .header .navbar .navbar-inner .navbar-toggler{
        padding: 0;
        border: none;
        height: 24px;
        width: 24px;
        color: #000000;
    }
    .header .navbar .navbar-inner .navbar-toggler:focus{
        box-shadow: none;
    }
    .header .navbar .navbar-inner .navbar-collapse{
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        background: #FFFFFF;
        border: 0.5px solid rgba(38,50,60,.2);
        box-shadow: 0 5px 15px #1a5b9f0d;
        border-radius: 10px;
        padding: 12px;
        min-width: 300px;
        margin: 20px 0 0;
        z-index: 99999;
    }
    .header .navbar .navbar-collapse .header-right-content{
        flex-wrap: wrap;
    }
    .header .navbar .navbar-collapse .header-right-content .common_content{
        margin: 0 5px;
    }
    .header .navbar .navbar-collapse .header-right-content .search_bar {
        width: 100%;
        margin: 15px 0;
    }
    .header .navbar .navbar-collapse .header-right-content .user .dropdown-menu{
        margin: 15px 0 0;
    }
    .header .navbar .navbar-collapse .header-right-content .user .user_inner .user_wrapper .user_name_wrapper{
        margin: 0 7px;
    }
}
@media screen and (max-width:$large_phone) {
    .header .navbar .navbar-collapse .header-right-content .notification .dropdown-menu{
        min-width: 345px;
    }
}
@media screen and (max-width:$medium_iphone) {
    .header .navbar .navbar-collapse .header-right-content .notification .dropdown-menu{
        right: auto;
        left: -55px;
        min-width: 300px;
    }
}