<div class="login">
    <div class="login_inner">
      <div class="row">
        <div class="left_part part col-md-6">
          <div class="leftpart_inner">
            <div class="logo" [routerLink]="['/patient']" style="cursor: pointer">
              <img [src]="login_logo" alt="Store logo" />
            </div>
          </div>
        </div>
        <div class="right_part part col-md-6">
          <div class="rightpart_inner">
            <div class="login_form">
              <div class="login_form_inner">
                <form [formGroup]="resetForm" (ngSubmit)="setNewPassword()">
                  <div class="login_img">
                    <img src="../../../../assets/img/key.svg" />
                  </div>
                  <div class="title_wrapper">
                    <h4 class="form_title">Set New Password</h4>
                    <div class="form_desc">
                      Your new password must be different to previously used
                      passwords.
                    </div>
                  </div>
                  <div class="form_field_wrapper">
                    <label>Password</label>
                    <mat-form-field appearance="fill">
                      <input
                        type="password"
                        placeholder="Enter Password"
                        formControlName="password"
                        matInput
                      />
                    </mat-form-field>
                  </div>
                    <span
                      class="text-danger"
                      *ngIf="isSubmitted && f['password'].errors?.['required']"
                    >
                      Enter Password
                    </span>
                    <span
                      class="text-danger"
                      *ngIf=" f['password'].errors?.['minlength']"
                    >
                      Must be at least 8 characters!
                    </span>
                    <span
                      class="text-danger"
                      *ngIf="f['password'].errors?.['hasNumber']"
                    >
                      Must contain at least 1 number!
                    </span>
                    <span
                      class="text-danger"
                      *ngIf="f['password'].errors?.['hasCapitalCase']"
                    >
                      Must contain at least 1 in Capital Case!
                    </span>
                    <span
                      class="text-danger"
                      *ngIf="f['password'].errors?.['hasSmallCase']"
                    >
                      Must contain at least 1 Letter in Small Case!
                    </span>
                    <span
                      class="text-danger"
                      *ngIf="f['password'].errors?.['hasSpecialCharacters']"
                    >
                      Must contain at least 1 number!
                    </span>
             
                  <div class="form_field_wrapper">
                    <label>Confirm Password</label>
                    <mat-form-field appearance="fill">
                      <input
                        type="password"
                        placeholder="Enter Confirm Password"
                        formControlName="confirm_password"
                        matInput
                      />
                    </mat-form-field>
                  </div>
  
                    <span
                      class="text-danger"
                      *ngIf="isSubmitted && f['confirm_password'].errors?.['required']"
                      >Confirm Password*</span
                    >
  
                    <span
                      class="text-danger"
                      *ngIf="isSubmitted && f['confirm_password'].errors?.['matching']"
                    >
                      Confim Password Does Not Match
                    </span>
                    
               
  
                  <div class="form-btn primary_btn">
                    <button class="login_btn btn btn-primary" >
                      Reset Password
                    </button>
                  </div>
  
                  <div class="signup_section">
                    <div
                      class="signup backlogin"
                      (click)="routeToLogin()"
                    >
                      <mat-icon>west</mat-icon>Back to log in
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  