@import '../../../../assets/css/variable/variable';

.notification{
    .notification_section_inner{
        background: #FFFFFF;
        border: 1px solid #B6C8D6;
        border-radius: 20px;
        padding: 25px;
        ul{
            margin: 0;
            padding-left: 0;
            li{
                list-style:none;
                background: #FFFFFF;
                border: 1px solid #B6C8D6;
                border-radius: 10px;
                padding: 15px;
                margin-bottom: 20px;
                .notification_list{
                    .detail_list{
                        display: flex;
                        align-items: center;
                        height: 100%;
                       .images_block{
                        width: 50px;
                        height: 50px;
                        min-width: 50px;
                        line-height: 50px;
                        border-radius: 50%;
                        text-align: center;
                        background-color: rgba(11, 73, 119, 0.1);
                        position: relative;
                        .reddot{
                            background-color: red;
                            border: 1px solid red;
                            width: 7px;
                            height: 7px;
                            position: absolute;
                            top: 6px;
                            right: 3px;
                            border-radius: 50px;
                        }
                       } 
                       .name_detail{
                        padding-left: 15px;
                        h4{
                            margin-bottom:5px;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 22px;
                            color: #0C2F49;
                        }
                        p{
                            margin: 0;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: rgba(12, 47, 73, 0.75);
                        }
                       }
                    }
                    .time_slot{
                        display: flex;
                        align-items: end;
                        height: 100%;
                        justify-content: end;
                        p{
                            margin: 0;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                            color: rgba(38, 50, 60, 0.75);
                            &:nth-child(2){
                                padding-left: 20px;
                            }
                        }
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media screen and (max-width:$desktop) {
    .notification .notification_section_inner ul li .notification_list .notify_time{
        margin-top: 10px;
    }
}
@media screen and (max-width:$medium_phone) {
    .notification .notification_section_inner ul li .notification_list .detail_list{
        flex-direction: column;
        text-align: center;
    }
    .notification .notification_section_inner ul li .notification_list .detail_list .name_detail{
        padding: 15px 0 0;
    }
    .notification .notification_section_inner ul li .notification_list .time_slot{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .notification .notification_section_inner ul li .notification_list .time_slot p{
        margin: 5px 0 0;
    }
}
@media screen and (max-width:$small_phone) {
    .notification .notification_section_inner{
        padding: 15px;
    }
}