<div class="hospital_revenue dashboard_main_content">
  <div class="top_bar up_bar common_space">
    <div class="content_wrap">
      <!-- <div class="policy">
        <label>{{ "doctor" | translate }}:</label>
        <div class="form_field_wrapper">
          <mat-form-field appearance="fill">
            <mat-select placeholder="Select">
              <mat-option value="option1">Option1</mat-option>
              <mat-option value="option2">Option2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->
      <!-- <div class="policy">
        <label>{{ "specialty" | translate }}:</label>
        <div class="form_field_wrapper">
          <mat-form-field appearance="fill">
            <mat-select placeholder="Speciality">
              <mat-option value="option1">Option1</mat-option>
              <mat-option value="option2">Option2</mat-option>
              <mat-option value="option3">Option3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->
      <div class="policy">
        <label>{{ "date" | translate }}:</label>
        <div class="form_field_wrapper">
          <mat-form-field class="example-full-width" appearance="fill">
            <input
              matInput
              [matDatepickerFilter]="myFilter"
              [matDatepicker]="picker"
              (dateChange)="getSelectedDate($event)"
              placeholder="{{ 'select_date' | translate }}"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="policy">
        <label>{{ "year" | translate }}:</label>
        <div class="form_field_wrapper">
          <mat-form-field appearance="fill">
            <mat-select placeholder="{{ 'select_year' | translate }}" [(ngModel)]="graphYear">
              <mat-option *ngFor="let year of years" [value]="year" (click)="getGraphYear(year)">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="counter_section common_space">
    <div class="row">
      <ng-container *ngIf="giveInnerPermission('online_consultation')">
        <div class="col-md-4 col-sm-12">
          <div class="cust_col light_green">
            <div class="cust_col_inner">
              <mat-icon class="more">more_horiz</mat-icon>
              <div class="left">
                <div class="counter downtwobolock">
                  {{ "online" | translate }}
                </div>
                <div class="counter_title">
                  <div class="two_data">
                    <div class="first_block">
                      <p>{{OnlineCoPay}}</p>
                      <p>{{ "co_pay_amount" | translate }}</p>
                    </div>
                    <div class="first_block">
                      <p>{{OnlineInsuranceToBePaid}}</p>
                      <p>{{ "insurance_amount" | translate }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right">
                <div class="counter_img">
                  <img src="assets/img/dashboard/dashboard45.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      

      <ng-container *ngIf="giveInnerPermission('home_visit')">
        <div class="col-md-4 col-sm-12">
          <div class="cust_col light_yellow">
            <div class="cust_col_inner">
              <mat-icon class="more">more_horiz</mat-icon>
              <div class="left">
                <div class="counter downtwobolock">
                  {{ "home_visit" | translate }}
                </div>
                <div class="counter_title">
                  <div class="two_data">
                    <div class="first_block">
                      <p>{{HomeVisitCoPay}}</p>
                      <p>{{ "co_pay_amount" | translate }}</p>
                    </div>
                    <div class="first_block">
                      <p>{{HomeVisitInsuranceToBePaid}}</p>
                      <p>{{ "insurance_amount" | translate }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right">
                <div class="counter_img">
                  <img src="assets/img/dashboard/dashboard45.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
     

      <ng-container *ngIf="giveInnerPermission('hospital_clinic')">
        <div class="col-md-4 col-sm-12">
          <div class="cust_col light_violet">
            <div class="cust_col_inner">
              <mat-icon class="more">more_horiz</mat-icon>
              <div class="left">
                <div class="counter downtwobolock">
                  {{ "hospital_clinic" | translate }}
                </div>
                <div class="counter_title">
                  <div class="two_data">
                    <div class="first_block">
                      <p>{{F2FCoPay}}</p>
                      <p>{{ "co_pay_amount" | translate }}</p>
                    </div>
                    <div class="first_block">
                      <p>{{F2FInsuranceToBePaid}}</p>
                      <p>{{ "insurance_amount" | translate }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right">
                <div class="counter_img">
                  <img src="assets/img/dashboard/dashboard46.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
     
    </div>
  </div>

  <div class="claim_section">
    <div class="row">
      <ng-container *ngIf="giveInnerPermission('total_revenue')">

      <div class="cost_details col-xl-5">
        <div class="cost_details_inner common_space">
          <div class="top_bar">
            <div class="title_wrap">
              <div class="main_title">{{ "total_revenue" | translate }}</div>
            </div>
            <div class="icons">
              <mat-icon
              (click)="openVerticallyCenteredclaimlistpopup(piechartpopup)"
              >open_in_full</mat-icon>
              <div class="more_action">
                <button
                  class="btn btn-outline-light"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="dropdown-item" href="#">{{
                      "action" | translate
                    }}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">{{
                      "another_action" | translate
                    }}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">{{
                      "something_else_here" | translate
                    }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="chart piecharts">
            <canvas
              baseChart
              [datasets]="pieChartDatasets"
              [type]="pieChartType"
              [options]="pieChartOptions"
            >
            </canvas>
          </div>
          <div class="chart_label">
            <div class="row">
              <div class="col-md-3 col-6 mb-2">
                <div class="chart_detail">
                  <div class="line"></div>
                  <div class="detail_section">
                    <p>{{allAppointmentFees}}</p>
                    <p>{{ "all" | translate }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6 mb-2">
                <div class="chart_detail">
                  <div class="line two"></div>
                  <div class="detail_section">
                    <p>{{allF2Ffees}}</p>
                    <p>{{ "F2F" | translate }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6 mb-2">
                <div class="chart_detail">
                  <div class="line three"></div>
                  <div class="detail_section">
                    <p>{{allOnlinefees}}</p>
                    <p>{{ "online" | translate }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6 mb-2">
                <div class="chart_detail">
                  <div class="line four"></div>
                  <div class="detail_section">
                    <p>{{allhomevisitfees}}</p>
                    <p>{{ "home_visit" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </ng-container>


      <ng-container *ngIf="giveInnerPermission('online_consult_graph')">

      <div class="col-xl-7">
        <div class="common_space hospitaldash">
          <div class="top_bar">
            <div class="title_wrap">
              <div class="main_title">
                {{ "online_consultation" | translate }}
              </div>
            </div>
            <div class="content_wrap">
              <div class="policy_wrapper">
                <div class="policy">
                  <label>{{ "filter" | translate }}:</label>
                  <div class="form_field_wrapper">
                    <mat-form-field appearance="fill">
                      <mat-select (selectionChange)="getDateToFilterOnline($event)">
                        <mat-option value="monthly">{{
                          "monthly" | translate
                        }}</mat-option>
                        <mat-option value="yearly">{{
                          "yearly" | translate
                        }}</mat-option>
                        <mat-option value="weekly">{{
                          "weekly" | translate
                        }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="icons">
                <mat-icon 
                (click)="openVerticallyCenteredclaimlistpopup(linechartpopup)"
                >open_in_full</mat-icon>
                <div class="more_action">
                  <button
                    class="btn btn-outline-light"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                  >
                    <li>
                      <a class="dropdown-item" href="#">{{
                        "action" | translate
                      }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">{{
                        "another_action" | translate
                      }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">{{
                        "something_else_here" | translate
                      }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div style="display: block">
            <canvas
              baseChart
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
            >
            </canvas>
          </div>
        </div>
      </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="giveInnerPermission('f2f_consult_graph')">
  <div class="claim_by_month common_space">
    <div class="top_bar">
      <div class="title_wrap">
        <div class="main_title">{{ "f2f_consultation" | translate }}</div>
        <div class="color_code">
          <div class="common_ring">
            <div class="ring_section">
              <p class="ring_block"></p>
              {{ "co_pay_amount" | translate }}
            </div>
            <div class="ring_section">
              <p class="ring_block skyblue"></p>
              {{ "insurance_amount" | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="content_wrap">
        <div class="policy_wrapper">
          <div class="policy">
            <label>{{ "select_year" | translate }}</label>
            <div class="form_field_wrapper">
              <mat-form-field appearance="fill">
                <mat-select placeholder="{{ 'select_year' | translate }}" [(ngModel)]="graphYear">
                  <mat-option *ngFor="let year of years" [value]="year" (click)="getGraphYearForf2f(year)">{{year}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="icons">
          <mat-icon
          (click)="openVerticallyCenteredclaimlistpopup(barchartpopup)"
          >open_in_full</mat-icon>
          <div class="more_action">
            <button
              class="btn btn-outline-light"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="#">{{ "action" | translate }}</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">{{
                  "another_action" | translate
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">{{
                  "something_else_here" | translate
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="month_barchart">
      <div class="chart-container">
        <canvas
          baseChart
          [data]="monthbarChartData"
          [options]="monthbarChartOptions"
          [plugins]="monthbarChartPlugins"
          [legend]="monthbarChartLegend"
          [type]="'bar'"
        >
        </canvas>
      </div>
    </div>
  </div>
  </ng-container>
</div>

<!--vertical linechart modal -->
<ng-template #linechartpopup let-modal>
  <div class="custome_modal">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ "average_cost_claim" | translate }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="closePopup()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <div style="display: block">
        <canvas
          baseChart
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
        >
        </canvas>
      </div>
    </div>
  </div>
</ng-template>


<!--vertical barchart modal-->
<ng-template #barchartpopup let-modal>
  <div class="custome_modal">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ "average_cost_claim" | translate }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="closePopup()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <div class="month_barchart">
        <div class="chart-container">
          <canvas
            baseChart
            [data]="monthbarChartData"
            [options]="monthbarChartOptions"
            [plugins]="monthbarChartPlugins"
            [legend]="monthbarChartLegend"
            [type]="'bar'"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--vertical piechart modal-->
<ng-template #piechartpopup let-modal>
  <div class="custome_modal">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ "average_cost_claim" | translate }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="closePopup()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <div class="chart piecharts">
        <canvas
          baseChart
          [datasets]="pieChartDatasets"
          [type]="pieChartType"
          [options]="pieChartOptions"
        >
        </canvas>
      </div>
    </div>
  </div>
</ng-template>