@import "../../../../assets/css/variable/variable";

.main_block {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    .sidebar_section {
        margin: 0;
        padding: 0;
        width: 280px;
        background-color: $sidebarcolor;
        border-right: 1px solid #B6C8D6;
        position: fixed;
        height: 100%;
        z-index: 9;
    }
    .main_section {
        margin-left: 280px;
        width: 100%;
        overflow: hidden;
    }
}


@media screen and (max-width: $tablet) {
.main_block .sidebar_section {
    width: auto;
}
.main_block .main_section {
    margin-left: 0;
    width: 100%;
}
}