<!-- <div>
    <div>
        <app-super-admin-sidebar></app-super-admin-sidebar>
    </div>
    <div>
        <div>
            <app-super-admin-header></app-super-admin-header>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->



<div class="main_block">
    <div class="sidebar_section">
        <app-super-admin-sidebar></app-super-admin-sidebar>
    </div>
    <div class="main_section">
        <div>
            <app-super-admin-header></app-super-admin-header>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>