@import '../../../../assets/css/variable/variable';

.user_invitation{
    .top_bar{
        margin: 0 0 35px;
        .left_part{
            display: flex;
            .search_bar{
                .input-group{
                    background: #F6F8FC;
                    border-radius: 6px;
                    .form-control{
                        border: none;
                        background-color: transparent;
                        padding: 12px 12px 12px 0;
                        width: 170px;
                        &::placeholder{
                            font-weight: 400;
                            font-size: $font_small;
                            line-height: 24px;
                        }
                        &:focus{
                            box-shadow: none;
                        }
                    }
                    .btn{
                        padding: 0;
                        border: none;
                        .mat-icon{
                            line-height: 50px;
                            height: 50px;
                            width: 50px;
                            color: #9B9B9B;
                            font-size: 24px;
                        }
                    }
                }
            }
            .content_wrap{
                .policy{
                    margin: 0 0 0 20px;
                    label{
                        margin-right: 12px;
                    }
                    .form_field_wrapper{
                        display: inline-block;
                        .mat-form-field{
                            .mat-form-field-wrapper{
                                padding: 0;
                                .mat-form-field-flex{
                                    background-color: #F6F8FC;
                                    border: 1px solid #F6F8FC;
                                    .mat-form-field-infix{
                                        width: 160px;
                                    }
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}
.new_invite{
    .modal-body{
        padding: 30px;
    }
}


// .custome_modal{
//     .primary_btn{
//         .btn {
//             min-width: 27%;
//             margin: 0 10px;
//             border-radius: 5px;
//         }
//     }
// }

@media screen and (max-width:$large_phone) {
    .user_invitation  .top_bar  .content_wrap{
        margin: 0;
    }
}
@media screen and (max-width:$medium_iphone) {
    .user_invitation  .top_bar  .content_wrap{
        margin: 20px 0 0;
    }
    .user_invitation .top_bar .left_part .content_wrap .policy{
        margin: 0;
    }
}