<div class="complaint_list dashboard_main_content">
  <div class="top_bar">
    <div class="left_part">
      <div class="search_bar common_content">
        <div class="input-group">
          <button class="btn search-btn">
            <mat-icon>search</mat-icon>
          </button>
          <input
            type="search"
            class="form-control"
            placeholder="{{ 'search_by_complain_reason' | translate }}"
            aria-label="Search"
            [ngModel]="searchText"
            (search)="handleSearchData($event)"
            (keyup)="handleSearchData($event)"
          />
        </div>
      </div>
      <!-- <div class="content_wrap">
        <div class="policy">
          <div class="form_field_wrapper">
            <mat-form-field class="inner_label" appearance="fill">
              <mat-label>Complaints by </mat-label>
              <mat-select (selectionChange)="onSelectChange($event)"  [ngModel]="selectedOption">
                <mat-option value="all">All</mat-option>
                <mat-option value="patient">Patient</mat-option>
                <mat-option value="doctor">Doctor</mat-option>
                <mat-option value="hospital">Hospital</mat-option>
                <mat-option value="pharmacy">Pharmacy</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="policy">
          <div class="form_field_wrapper">
            <mat-form-field appearance="fill">
              <input type="email" placeholder="Email" matInput />
            </mat-form-field>
          </div>
        </div>
        <div class="policy date">
          <div class="form_field_wrapper">
            <mat-form-field class="example-full-width" appearance="fill">
              <input
                matInput
                [matDatepickerFilter]="myFilter"
                [matDatepicker]="picker1"
                placeholder="Date"
                (dateChange)="onSelect($event)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div> -->
      <!-- <div class="primary_btn">
        <button type="button" class="btn btn-link" (click)="clearFilter()">Clear All</button>
      </div> -->
    </div>
  </div>

  <div class="bottom_bar">
    <div class="table-wrap">
      <div class="table-inner">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="complainantName">
            <th
              mat-header-cell
              *matHeaderCellDef
              (click)="onSortData('complaint_from_user_name')"
            >
              {{ "complainant_name" | translate }}
              <span
                *ngIf="sortColumn === 'complaint_from_user_name'"
                class="material-icons sorticon"
                >{{ sortIconClass }}</span
              >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.complaint_from_user_name }}
            </td>
            <!-- Complaints By Column -->
            <ng-container matColumnDef="complainttype">
              <th
                mat-header-cell
                *matHeaderCellDef
                (click)="onSortData('provider_type_from')"
              >
                {{ "complaints_by" | translate }}
                <span
                  *ngIf="sortColumn === 'provider_type_from'"
                  class="material-icons sorticon"
                  >{{ sortIconClass }}</span
                >
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.provider_type_from }}
              </td>
            </ng-container>
          </ng-container>
          <!--Complaints ID Column -->
          <ng-container matColumnDef="complaintsid">
            <th
              mat-header-cell
              *matHeaderCellDef
              (click)="onSortData('complaint_id')"
            >
              {{ "complaint_id" | translate }}
              <span
                *ngIf="sortColumn === 'complaint_id'"
                class="material-icons sorticon"
                >{{ sortIconClass }}</span
              >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.complaint_id }}
            </td>
          </ng-container>

          <!--Your Response Column -->
          <ng-container matColumnDef="complaintreason">
            <th
              mat-header-cell
              *matHeaderCellDef
              (click)="onSortData('complaint_subject')"
            >
              {{ "complaint_type" | translate }}
              <span
                *ngIf="sortColumn === 'complaint_subject'"
                class="material-icons sorticon"
                >{{ sortIconClass }}</span
              >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.complaint_subject }}
            </td>
          </ng-container>

          <!--Against Column -->
          <ng-container matColumnDef="complaintagainsttype">
            <th
              mat-header-cell
              *matHeaderCellDef
              (click)="onSortData('provider_type_to')"
            >
              {{ "against" | translate }}
              <span
                *ngIf="sortColumn === 'provider_type_to'"
                class="material-icons sorticon"
                >{{ sortIconClass }}</span
              >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.provider_type_to }}
            </td>
          </ng-container>

          <!--Reason of Complaints Column -->
          <ng-container matColumnDef="complaintaganistname">
            <th
              mat-header-cell
              *matHeaderCellDef
              (click)="onSortData('complaint_to_user_name')"
            >
              {{ "against_name" | translate }}
              <span
                *ngIf="sortColumn === 'complaint_to_user_name'"
                class="material-icons sorticon"
                >{{ sortIconClass }}</span
              >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.complaint_to_user_name }}
            </td>
          </ng-container>

          <!--Date & Time Column -->
          <ng-container matColumnDef="dateandtime">
            <th
              mat-header-cell
              *matHeaderCellDef
              (click)="onSortData('createdAt')"
            >
              {{ "date_of_complaint" | translate }}
              <span
                *ngIf="sortColumn === 'createdAt'"
                class="material-icons sorticon"
                >{{ sortIconClass }}</span
              >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.createdAt | date : "dd/MM/YYYY HH:mm" }}
            </td>
          </ng-container>

          <!--Action column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              {{ "action" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="icon_group">
                <ng-container *ngIf="giveInnerPermission('view')">
                <a
                  class="svgicon"
                  [routerLink]="['/super-admin/complaint/view', element._id]"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="9"
                    viewBox="0 0 16 9"
                    fill="none"
                  >
                    <path
                      d="M8 0C2.7512 0 0 3.88286 0 4.5C0 5.11554 2.7512 9 8 9C13.248 9 16 5.11554 16 4.5C16 3.88286 13.248 0 8 0ZM8 7.96098C6.036 7.96098 4.444 6.4117 4.444 4.5C4.444 2.5883 6.036 1.03741 8 1.03741C9.964 1.03741 11.5552 2.5883 11.5552 4.5C11.5552 6.4117 9.964 7.96098 8 7.96098ZM8 4.5C7.6744 4.1408 8.5304 2.76911 8 2.76911C7.0176 2.76911 6.2216 3.54455 6.2216 4.5C6.2216 5.45545 7.0176 6.23089 8 6.23089C8.9816 6.23089 9.7784 5.45545 9.7784 4.5C9.7784 4.06045 8.2768 4.80455 8 4.5Z"
                    />
                  </svg>
                </a>
              </ng-container>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div *ngIf="compalintdataSource?.length === 0" class="text-center">
          <b>{{ "no_record_found" | translate }}</b>
        </div>

        <mat-paginator
          #paginator
          class="pagination"
          [length]="totalLength"
          (page)="handlePageEvent($event)"
          [pageSize]="pageSize"
          [pageSizeOptions]="[20, 50, 100]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
