<div class="pharmacy_medicine_claims dashboard_main_content">
    <div class="pharmacy_medicine_inner">
        <mat-stepper class="example-stepper" #mainStepper [orientation]="(stepperOrientation | async)!">

            <mat-step [stepControl]="firstFormGroup" label="Common Information">
                <div class="step_counter_inner">
                    <app-commoninformation-appointment [mstepper]="mainStepper"></app-commoninformation-appointment>
                </div>

            </mat-step>

            <mat-step [stepControl]="secondFormGroup" label="Service Type">
                <div class="step_counter_inner">
                    <app-servicetype-appointment [mstepper]="mainStepper"></app-servicetype-appointment>
                </div>

            </mat-step>


            <mat-step [stepControl]="thirdFormGroup" label="Document Upload">
                <div class="step_counter_inner">
                    <app-documentupload-appointment [mstepper]="mainStepper"></app-documentupload-appointment>
                </div>

            </mat-step>

            <mat-step [stepControl]="thirdFormGroup" label="eSignature">
                <div class="step_counter_inner">
                    <app-esignature-appointment [mstepper]="mainStepper"></app-esignature-appointment>
                </div>

            </mat-step>
        </mat-stepper>
    </div>
</div>