<!-- <div>
    <div>
        <app-hospital-sidebar></app-hospital-sidebar>
    </div>
    <div>
        <div>
            <app-hospital-header></app-hospital-header>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<div class="main_block">
    <div class="sidebar_section">
        <app-hospital-sidebar></app-hospital-sidebar>
    </div>
    <div class="main_section">
        <div>
            <app-hospital-header></app-hospital-header>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>