
// colors
$bodycolor:#0B4977;
$bodyopacitycolor:rgba(12, 47, 73, 0.5);
$bodyopacitylightcolor:rgba(12, 47, 73, 0.75);
$bodybackground:#fafbff;
$bodyhovercolor:#0B4977;
$white_color: #ffffff;
$black_color:#000000;
$black_light_color:#151522;
$sidebarcolor:#F6F8FC;
$linkcolor: #26323C;
$linkhovercolor: #0B4977;
$common_border:#B6C8D6;
$formfiledbackgroundcolor:#ffffff;
$formfiledbordercolor: rgba(228, 228, 228, 0.9);
$formfiled_color:#0F123F;
$table_color:#0C2F49;
$star_color: #E8A908;
$homepage_hovercolor:#3DA7C8;


// sidebar colors
$sidebar_background: #F6F8FC;
$sidebar_font_color: #0B4977;

// header colors
$header_background: #ffffff;
$header_icon_color: #26323C;


// Counter background
$bright_blue: rgba(11, 73, 119, 0.12);
$dark_blue: rgba(80, 81, 249, 0.2);
$light_red: rgba(255, 83, 83, 0.1);
$light_blue: #D9EFFF;
$light_green: #EBFBEE;
$light_orange: #FBF3EA;
$light_yellow: #FFF7E6;
$light_violet: #F0EAFF;
$light_skyblue: #ECF9FF;















