@import '../../../../assets/css/variable/variable';

.hospital_revenue{
    padding: 0;
    .main_title{
        font-size: $font_medium;
        line-height: 22px;
    }
    .top_bar{
        &.up_bar{
            justify-content: flex-end;
            margin: 0;
        }
        .content_wrap{
            .policy{
                margin: 0 0 0 20px;
                display: flex;
                align-items: center;
                label{
                    margin-right: 10px;
                    margin-bottom: 0;
                }
                .form_field_wrapper{
                    .mat-form-field{
                        .mat-form-field-wrapper{
                            padding: 0;
                            .mat-form-field-flex{
                                background-color: #EBF0F4;
                                border: 1px solid #EBF0F4;
                                border-radius: 15px;
                                .mat-form-field-infix{
                                    .mat-select{
                                        .mat-select-arrow-wrapper{
                                            transform: translateY(0);
                                        }
                                        .mat-select-value{
                                            color: $formfiled_color;
                                            font-weight: 500;
                                        }
                                    }
                                    width: 110px;
                                }
                            }
                            .mat-form-field-underline{
                                display: none;
                            }
                        }
                    }
                }
            }
        } 
    }

    .counter_section {
        .cust_col{
            border-radius: 15px;
            padding: 20px 15px;
            position: relative;
            display: flex;
            align-items: center;
            min-height: 120px;
            justify-content: center;
            .cust_col_inner{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 -5px;
                width: 100%;
                &.header-card-inner {
                    display: flex;
                    position: relative;
                    .action-block {
                        top: -15px;
                        right: 0;
                        position: absolute;
                        text-align: right;
                        width: 100%;
                        button {
                         background: inherit !important;
                            &:hover {
                                background: inherit !important;
                            }
                        }
                    }
                    .card-details {
                        display: flex;
                        padding: 10px 0 0;
                    }
                    .more_action{
                        .btn {
                            padding: 0;
                            border: none;
                            background: $white_color;
                            height: 24px;
                            &:hover{
                                background: $white_color;
                            }
                            .mat-icon{
                                color: $black_color;
                            }

                        }

                    }

                }
                .more{
                    padding: 0;
                    position: absolute;
                    right: 10px;
                    left: auto;
                    top: 0;
                    bottom: auto;
                    color: $black_color;
                }
                .left{
                    padding: 0 5px;
                    .counter{
                        font-weight: 600;
                        font-size: 26px;
                        line-height: 30px;
                        color: $black_color;
                        margin: 0 0 5px;
                        &.downtwobolock{
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 24px;
                            color: #000000;
                        }
                    }
                    .counter_title{
                        font-size: $font_small;
                        line-height: 22px;
                        color: $black_color;
                        position: relative;
                    }
                }  
                .right {
                    padding: 0 5px;
                    text-align: right;
                    .counter_img{
                        background: $white_color;
                        box-shadow: 0px 0px 20px rgba(8, 48, 79, 0.08);
                        border-radius: 15px;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        display: inline-block;
                        img{
                            width: 50%;
                        }
                    }
                }
            }
            &.light_blue{
                background: $light_blue;
            }
            &.light_green{
                background: $light_green;  
            }
            &.light_orange{
                background: $light_orange;
            }
            &.light_yellow{
                background: $light_yellow;
            }
            &.light_violet{
                background: $light_violet;
            }
            &.light_skyblue{
                background: $light_skyblue;
            }
            &.light_orang{
                background: #F6E5E5;
            }
        }
    }
    .claim_section{
        border-bottom: 1px solid #B6C8D6;
        .cost_details{
            border-right:1px solid #B6C8D6;
        }
        .common_space {
            border-bottom: none;
            .top_bar{
                .content_wrap{
                    .icons{
                        margin: 0 0 0 25px;
                    }
                }
            }
        }
    }

    .top_bar {
        margin: 0 0 30px;
        flex-direction: row;
        .main_title{
            font-size: 16px;
        }
        .icons{
            display: flex;
            align-items: center;
            .mat-icon{
                color: $black_color;
                margin: 0 0 0 5px;
            }
            .more_action{
                position: relative;
                .btn {
                    padding: 0;
                    border: none;
                    background: $white_color;
                    height: 24px;
                    &:hover{
                        background: $white_color;
                    }
                }
                .dropdown-menu{
                    position: absolute !important;
                    right: 0 !important;
                    left: auto !important;
                }
            }
        }
    }
    
    .claim_by_month{
        border-bottom: none;
        .top_bar {
            .policy_wrapper{
                display: flex;
            }
            .icons{
                display: flex;
                align-items: center;
                margin: 0 0 0 25px;
                .mat-icon{
                    color: $black_color;
                    margin: 0 0 0 5px;
                }
                .more_action{
                    .btn {
                        padding: 0;
                        border: none;
                        background: $white_color;
                        height: 24px;
                        &:hover{
                            background: $white_color;
                        }
                    }
                }
            }
        }
    }
}
.two_data{
    display: flex;
    p{
        margin-bottom: 0;
        &:first-child{
            font-weight: 600;
            font-size: 16px;
            line-height: 27px;
            color: #000000;
        }
    }
    .first_block{
        margin-right: 10px;
        &:last-child{
            margin: 0;
        }
    }
}
.main_title{
    position: relative;
}



.piecharts{
    max-width: 400px;
    margin: 0 auto;
}
.chart_label{
    margin-top: 50px;
    .chart_detail{
        display: flex;
      .line{
        width: 4px;
        background: #4880FF;
        border-radius: 10px;
        &.two {
            background: #4880FF;
        }
        &.three {
            background: #1BEDD4;
        }
        &.four {
            background: #FF6069; 
        }
      } 
      .detail_section{
        margin-left: 15px;
          p{
            margin-bottom: 0;
            &:first-child {
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #0C2F49;
            }
            &:nth-child(2){
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                padding-top: 10px;
            }
          }
      } 
    }
}
.common_ring{
    display: flex;
    margin-top: 20px;
    .ring_section{
        display: flex;
        padding-right: 10px;
        line-height: 18px;
        .ring_block {
            border: 4px solid #3DA7C8;
            width: 20px;
            height: 20px;
            min-width: 20px;
            border-radius: 50px;
            margin: 0 10px 0 0;
            p{
                margin-bottom: 0;
                font-weight: 500;
                font-size: 14.1014px;
                line-height: 17px;
                color: #0F123F;
            }
            &.skyblue{
                border: 4px solid #0B4977;
            }
        }
    }
}

@media screen and (max-width:$desktop_medium) {
    .hospital_revenue .counter_section .cust_col .cust_col_inner{
        min-height: 100px;
    }
    .hospital_revenue .counter_section .cust_col .cust_col_inner .left .counter{
        font-size: $font_large;
    }
}
@media screen and (min-device-width: $desktop_up) and (max-device-width: $desktop_medium) { 
    .hospital_revenue .top_bar.up_bar  .content_wrap .policy .form_field_wrapper .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
        width: 95px;
    }
}
@media screen and (max-width:$desktop) {
    .hospital_revenue .top_bar.up_bar .content_wrap .policy{
        flex-direction: column;
    }
    .hospital_revenue .top_bar.up_bar .content_wrap .policy label{
        margin-bottom: 15px;
    }
    .hospital_revenue .counter_section .cust_col .cust_col_inner {
        min-height: 160px;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
    }
    .hospital_revenue .counter_section .cust_col .cust_col_inner .left .counter_title {
        margin: 0 0 10px;
    }
    .hospital_revenue .claim_section .cost_details{
        border-right: none;
        border-bottom: 1px solid #B6C8D6;
    }
}
@media screen and (max-width:$tablet) {
    .hospital_revenue .top_bar.up_bar .content_wrap .policy {
        margin: 0 15px;
    }
}
@media screen and (max-width:$large_phone) {
    .hospital_revenue .top_bar.up_bar .content_wrap .policy:not(:last-child){
        margin: 0 0 15px;
    }
    .hospital_revenue .counter_section .row > *:not(:last-child) .cust_col {
        margin: 0 0 20px;
    }
    .hospital_revenue .top_bar.up_bar .content_wrap,
    .hospital_revenue .top_bar.up_bar {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .hospital_revenue .top_bar .content_wrap{
        margin: 0;
    }
    .hospital_revenue .top_bar.up_bar .content_wrap .policy {
        display: block;
        width: 100%;
    }
    .hospital_revenue .counter_section .cust_col .cust_col_inner{
        min-height: auto;
    }
}
@media screen and (max-width:$medium_iphone) {
    .hospital_revenue .common_space .top_bar {
        flex-direction: column;
    }
    .hospital_revenue .common_space .top_bar .title_wrap{
        margin: 0 0 15px;
    }   
}
@media screen and (max-width:$small_phone) {
    .hospital_revenue .top_bar .content_wrap .policy{
        margin-left: 0;
        width: 100%;
    }
    .hospital_revenue .top_bar .content_wrap .policy .form_field_wrapper{
        width: 100%;
    }
    .hospital_revenue .claim_by_month  .top_bar .content_wrap{
        flex-direction: column;
    }
    .hospital_revenue .claim_by_month .top_bar .icons{
        margin: 15px 0 0;
    }
}