@import '../../../../../assets/css/variable/variable';

.edit_profile{
    .profile_setting{
        border: 1px solid #B6C8D6;
        border-radius: 15px;
        .profile_top{
            background-color: rgba(61, 167, 200, 0.1);
            padding: 25px;
            border-radius: 15px 15px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .part{
                padding: 0 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                &.left{
                    .user_image_upload{
                        margin: 0 40px 0 0;
                        .user_upload_input{
                            width: 117px;
                            height: 117px;
                        }
                        .user_upload_block{
                            margin-left: -117px;
                            .user_upload_wrapper{
                                width: 117px;
                                height: 117px;
                                line-height: 117px;
                                border-radius: 20px;
                                background: transparent;
                                .user_upload_icon{
                                    img{
                                        width: 117px;
                                        height: 117px;
                                        line-height: 117px;
                                        border-radius: 20px;
                                    }
                                }
                            }
                            .edit_upload_wrapper{
                                background: #0B4977;
                                border: 3px solid #ffffff;
                                right: -10px;
                                bottom: -10px;
                            }
                        }
                    }
                    .user_info{
                        .user_title{
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 29px;
                            color: $bodyopacitylightcolor;
                            margin: 0 0 7px;
                        }
                        .user_email{
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 19px;
                            color: $bodyopacitylightcolor;
                        }   
                    }
                }
                &.right{
                    // .open_twentyfourhour{
                    //     .toggel-slide{
                    //         label{
                    //             margin: 0;
                    //             font-weight: 500;
                    //             font-size: 18px;
                    //             line-height: 22px;
                    //             color: $table_color;
                    //             .mat-slide-toggle-bar{
                    //                 order: 2;
                    //                 margin-right: 0;
                    //                 margin-left: 15px;
                    //             }
                    //             .mat-slide-toggle-content{
                    //                 order: 1;
                    //             }
                    //         }
                    //     }
                    // }
                    .primary_btn{
                        margin: 0 0 0 30px;
                    }
                }
            }
        }
        .profile_contact{
            padding: 25px;
            border-bottom: 1px solid #B6C8D6;
            ul{
                list-style: none;
                margin-bottom: 0;
                padding: 0;
                    li{
                        margin: 0 0 20px;
                        label{
                            font-size: 14px;
                            line-height: 17px;
                            color: $bodyopacitylightcolor;
                            margin: 0 0 5px;
                        } 
                        .value{
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 22px;
                            color: $bodyopacitylightcolor;
                        }
                    }
            }
        }
        .about_us_section{
            .about_us_section_inner{
                padding: 25px;
                border-bottom: 1px solid #B6C8D6;
            }
        }
        .services{
            .services_inner{
                padding: 25px;
                border-bottom: 1px solid #B6C8D6;
                .row{
                    .item{
                        width: auto;
                        margin: 0 0 15px;
                        label{
                            font-size: $font_small;
                            font-weight: 400;
                            margin: 0 0 5px;
                            color: rgba(12, 47, 73, 0.8); 
                        }
                        .value{
                            font-size: $font_medium;
                            font-weight: 600;
                            color: rgba(12, 47, 73, 0.8); 
                        }
                    }
                }
            }
        }
        // .picture_section{
        //     .picture_section_inner{
        //         padding: 25px 25px 0;
        //         .image_wrapper{
        //             display: flex;
        //             flex-wrap: wrap;
        //             margin: 0 -15px;
        //             .item{
        //                 padding: 0 15px;
        //                 margin: 0 0 30px;
        //                 .user_image_upload{
        //                     margin: 0;
        //                     .user_upload_input{
        //                         width: 171px;
        //                         height: 156px;
        //                     }
        //                     .user_upload_block{
        //                         margin-left: 0;
        //                         position: absolute;
        //                         left: 0;
        //                         .user_upload_wrapper{
        //                             width: 171px;
        //                             height: 156px;
        //                             line-height: 156px;
        //                             border-radius: 10px;
        //                             background: rgba(182, 200, 214, 0.5);
        //                             flex-direction: column;
        //                             .mat-icon{
        //                                 color: #728b9d;
        //                                 height: 30px;
        //                                 width: 30px;
        //                                 font-size: 30px;
        //                             }
        //                             label{
        //                                 margin: 10px 0 0;
        //                             }
        //                         }
        //                     }
        //                 }
        //                 .image{
        //                     img{
        //                         width: 171px;
        //                         height: 156px;
        //                         border-radius: 10px;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
        .bank_details{
            .back_details_inner{
                padding: 25px;
                border-color: #B6C8D6;
                border-style: solid;
                border-width: 0 0 1px;
                label{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    color: rgba(12, 47, 73, 0.8); 
                }
                .row{
                    align-items: center;
                    margin: 0 -25px;
                    flex-wrap: wrap;
                    .item_info {
                        width: auto;
                        min-width: 15%;
                        padding: 0 25px;
                        margin: 0 0 20px;
                        label{
                            font-size: $font_small;
                            font-weight: 400;
                            margin: 0 0 5px;
                            color: rgba(12, 47, 73, 0.8); 
                        }
                        .value{
                            font-size: $font_medium;
                            font-weight: 600;
                            color: rgba(12, 47, 73, 0.8); 
                        }
                        &.user_img_wrap{
                            display: flex;
                            align-items: center;
                            .user_img{
                                border: 1px solid #B6C8D6;
                                border-radius: 15px;
                                width: 50px;
                                height: 52px;
                                line-height: 52px;
                                margin: 0 15px 0 0;
                                text-align: center;
                                display: inline-block;
                                img{
                                    width: 80%;
                                }
                            }
                        }
                    }
                }
               
            }
        }
        .mobile_pay_details{
            .mobile_pay_details_inner{
                padding: 25px;
                label{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    color: rgba(12, 47, 73, 0.8); 
                }
                .row{
                    .item{
                        width: auto;
                        margin: 0 0 15px;
                        label{
                            font-size: $font_small;
                            font-weight: 400;
                            margin: 0 0 5px;
                            color: rgba(12, 47, 73, 0.8); 
                        }
                        .value{
                            font-size: $font_medium;
                            font-weight: 600;
                            color: rgba(12, 47, 73, 0.8); 
                        }
                    }
                }
            }
        }
    }
    .subscribe_detail_inner {
        .expansion_panel {
            .expansion_panel_inner {
                .item{
                    width: auto;
                    min-width: 200px;
                    display: flex;
                    align-items: center;
                    .outer_detail_block {
                        padding: 10px 15px 10px 0;
                        .detail_section{
                            flex-direction: column;
                            p{
                                margin: 0 0 5px;
                                &:last-child{
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.availability{
            .mat-accordion{
                .mat-expansion-panel-header{
                    height: auto;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    .mat-content{
                        align-items: center;
                        .right_part {
                            display: flex;
                            .item{
                                display: flex;
                                align-items: center;
                                margin: 0 25px 0 0;
                                label{
                                    margin: 0 12px 0 0;
                                }
                                .form_field_wrapper{
                                    .mat-form-field{
                                        .mat-form-field-wrapper{
                                            padding-bottom: 0;
                                            .mat-form-field-flex {
                                                background: #EBF0F4;
                                                border-radius: 12px;
                                                border: none;
                                                .mat-form-field-infix{
                                                    width: 88px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                 
                    &.mat-expanded{
                        height: auto;
                    }
                }
                .mat-expansion-panel-body{
                    .expansion_panel {
                        .expansion_panel_inner{
                            padding-top: 20px;
                            padding-bottom: 20px;
                            .item{
                                width: auto;
                                display: block;
                                margin: 0 0 24px;   
                                .day{
                                    border: 1px solid #B6C8D6;
                                    border-radius: 15px;
                                    .section{
                                        padding: 15px;
                                        &.top_section{
                                            background: rgba(182, 200, 214, 0.15);
                                            text-align: center;
                                            .title{
                                                font-weight: 500;
                                                font-size: 18px;
                                                line-height: 22px;
                                                color: $table_color;
                                            }
                                        }   
                                        &.bottom_section{
                                            border-bottom: 1px solid #B6C8D6;
                                            .time{
                                                color: rgba(38, 50, 60, 0.75);                            
                                                margin: 0 0 5px;
                                            }
                                            &:last-child{
                                                border-bottom: none;
                                            }
                                        }    
                                    }
                                    
                                }
                            }
                        }
                    
                    }
                }
            }
        }
        &.fee_management{
            .mat-accordion{
                .mat-expansion-panel-header{
                    height: auto;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    .mat-content{
                        align-items: center;
                        .right_part {
                            display: flex;
                            .item{
                                display: flex;
                                align-items: center;
                                margin: 0 25px 0 0;
                                label{
                                    margin: 0 12px 0 0;
                                }
                                .form_field_wrapper{
                                    .mat-form-field{
                                        .mat-form-field-wrapper{
                                            padding-bottom: 0;
                                            .mat-form-field-flex {
                                                background: #EBF0F4;
                                                border-radius: 12px;
                                                border: none;
                                                .mat-form-field-infix{
                                                    width: 88px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                 
                    &.mat-expanded{
                        height: auto;
                    }
                }
                .mat-expansion-panel-body{
                    .expansion_panel {
                        .expansion_panel_inner{
                            padding-top: 20px;
                            padding-bottom: 20px;
                            .item{
                                width: auto;
                                display: block;
                                margin: 0 0 24px;   
                                .day{
                                    border: 1px solid #B6C8D6;
                                    border-radius: 15px;
                                    .section{
                                        padding: 15px;
                                        &.top_section{
                                            background: rgba(182, 200, 214, 0.15);
                                            text-align: center;
                                            .title{
                                                font-weight: 500;
                                                font-size: 18px;
                                                line-height: 22px;
                                                color: $table_color;
                                            }
                                        }   
                                        &.bottom_section{
                                            border-bottom: 1px solid #B6C8D6;
                                            .time{
                                                color: rgba(38, 50, 60, 0.75);                            
                                                margin: 0 0 5px;
                                            }
                                            &:last-child{
                                                border-bottom: none;
                                            }
                                        }    
                                    }
                                    
                                }
                                &:last-child {
                                    .outer_detail_block {
                                        &::after {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    
                    }
                }
            }
        }
        &.document {
            .expansion_panel {
                .outer_detail_block{
                    .detail_section{
                        .doc_img{
                            border-radius: 15px;
                            overflow: hidden;
                            width: 215px;
                        }
                    }
                    &:after{
                        display: none;
                    }
                    &.user_img_wrap{
                        display: flex;
                        align-items: center;
                        .user_img{
                            border: 1px solid #B6C8D6;
                            border-radius: 15px;
                            width: 76px;
                            height: 68px;
                            line-height: 68px;
                            margin: 0 20px 0 0;
                            text-align: center;
                            display: inline-block;
                        }
                    }
                }
            }
        }
       
     
    }
    .edit_staff {
        .modal-dialog {
            .modal-body {
                .primary_btn {
                    margin-top: 10px;
                }
            }
        }
    }
}


@media screen and (max-width:$desktop) {
    .edit_profile .profile_setting .profile_top .part.left .user_image_upload {
        margin: 0 20px 0 0;
    }
    .edit_profile .profile_setting .profile_top .part.left .user_info .user_title{
        font-size: 20px;
        line-height: 24px;
    }
    .edit_profile .profile_setting .profile_top .part.left .user_info .user_email{
        font-size: 14px;
    }
    .edit_profile .subscribe_detail_inner.availability .mat-accordion .mat-expansion-panel-header .mat-content .right_part{
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0 0 10px;
    }
}

@media screen and (max-width:$large_phone) {
    .edit_profile .profile_setting .profile_top .part{
        flex-direction: column;
        align-items: flex-start;
    }
    .edit_profile .profile_setting .profile_top .part.left .user_image_upload{ 
        margin: 0 0 20px;
    }
    // .edit_profile .profile_setting .profile_top .part.right .primary_btn {
    //     margin: 15px 0 0;
    // }
}
@media screen and (max-width:$medium_phone) {
    .edit_profile .profile_setting .profile_top{
        flex-direction: column;
    }
    .edit_profile .profile_setting .profile_top .part{
        align-items: center;
        text-align: center;
        margin: 0 0 20px;
    }
    .edit_profile .profile_setting .profile_top .part.right .primary_btn{
        margin: 0;
    }
}



.profile_manage{
    .profile_tab{

        .mat-tab-header{
            margin: 0 0 28px;
            border-bottom: none;
            .mat-tab-list{
                .mat-tab-labels{
                    display: inline-flex;
                    .mat-tab-label {
                        font-family: $font_family_body,$font_sans_sarif;
                        height: 55px;
                        padding: 0 10px;
                        min-width: 200px;
                        font-size: $font_medium;
                        font-weight: 500;
                        color: $bodycolor;
                        background-color: $white_color;
                        border: 1px solid rgba(11, 73, 119, 0.15);
                        border-radius: 10px;
                        justify-content: flex-start;
                        opacity: 1;
                        margin-left: 20px;
                        &:first-child{
                            margin-left: 0;
                        }
                        .mat-tab-label-content{
                            .btn_svg {
                                height: 35px;
                                width: 35px;
                                line-height: 35px;
                                margin-right: 10px;
                                background-color: #0B4977;
                                border-radius: 9px;
                                svg{
                                    fill: #ffffff;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                    .mat-tab-label.mat-tab-label-active{
                        color: $white_color;
                        background-color: $bodycolor;
                        .mat-tab-label-content{
                            .btn_svg {
                                background-color: #EBF0F4;
                                svg{
                                    fill: #0B4977;
                                }
                            }
                        }
                    }
                }
                .mat-ink-bar{
                    display: none;
                }
                .mat-ink-bar{
                    background-color: $bodycolor;
                }
            }
        }
        .mat-tab-body-content{
            overflow: hidden;
        }
    }
    .tab_content {
        .profile_setting{
            border: 1px solid #B6C8D6;
            border-radius: 15px;
            .profile_top{
                background-color: rgba(61, 167, 200, 0.1);
                padding: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 -15px;
                .part{
                    padding: 0 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &.left{
                        .user_image_upload{
                            margin: 0 40px 0 0;
                            .user_upload_input{
                                width: 117px;
                                height: 117px;
                            }
                            .user_upload_block{
                                margin-left: -117px;
                                .user_upload_wrapper{
                                    width: 117px;
                                    height: 117px;
                                    line-height: 117px;
                                    border-radius: 20px;
                                    background: transparent;
                                    .user_upload_icon{
                                        img{
                                            width: 117px;
                                            height: 117px;
                                            line-height: 117px;
                                            border-radius: 20px;
                                        }
                                    }
                                }
                                .edit_upload_wrapper{
                                    background: #0B4977;
                                    border: 3px solid #ffffff;
                                    right: -10px;
                                    bottom: -10px;
                                }
                            }
                        }
                        .user_info{
                            .user_title{
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 29px;
                                color: $bodyopacitylightcolor;
                                margin: 0 0 7px;
                            }
                            .user_email{
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 19px;
                                color: $bodyopacitylightcolor;
                            }   
                        }
                    }
                    &.right{
                        .open_twentyfourhour{
                            .toggel-slide{
                                label{
                                    margin: 0;
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 22px;
                                    color: $table_color;
                                    .mat-slide-toggle-bar{
                                        order: 2;
                                        margin-right: 0;
                                        margin-left: 15px;
                                    }
                                    .mat-slide-toggle-content{
                                        order: 1;
                                    }
                                }
                            }
                        }
                        .primary_btn{
                            margin: 0 0 0 30px;
                        }
                    }
                }
            }
            .profile_contact{
                padding: 25px;
                border-bottom: 1px solid #B6C8D6;
                ul{
                    list-style: none;
                    margin-bottom: 0;
                    padding: 0;
                        li{
                            margin: 0 0 20px;
                            label{
                                font-size: 14px;
                                line-height: 17px;
                                color: $bodyopacitylightcolor;
                                margin: 0 0 5px;
                            } 
                            .value{
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 22px;
                                color: $bodyopacitylightcolor;
                            }
                        }
                }
            }
            .about_us_section{
                .about_us_section_inner{
                    .about_row{
                        margin: 0 -1px 0 0;
                        .about_us_item{
                            padding: 25px;
                            border-color: #B6C8D6;
                            border-style: solid;
                            border-width: 0 1px 1px 0;
                            label{
                                font-weight: 400;
                                font-size: 14px;
                                color: $bodyopacitycolor;
                            }
                            p{
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 30px;
                                margin: 0;
                                color: rgba(12, 47, 73, 0.8);
                            }
                            &.medicine_request {
                                label{
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: rgba(12, 47, 73, 0.8);
                                } 
                                .item {
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 22px;
                                    color: rgba(12, 47, 73, 0.8);
                                }
                            }
                            &.license {
                                label{
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: rgba(12, 47, 73, 0.8);
                                } 
                                .item {
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 22px;
                                    color: rgba(12, 47, 73, 0.8);
                                }
                            }
                        }
                    }
                }
            }
            .picture_section{
                .picture_section_inner{
                    padding: 25px 25px 0;
                    .image_wrapper{
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -15px;
                        .item{
                            padding: 0 15px;
                            margin: 0 0 30px;
                            .user_image_upload{
                                margin: 0;
                                .user_upload_input{
                                    width: 171px;
                                    height: 156px;
                                }
                                .user_upload_block{
                                    margin-left: 0;
                                    position: absolute;
                                    left: 0;
                                    .user_upload_wrapper{
                                        width: 171px;
                                        height: 156px;
                                        line-height: 156px;
                                        border-radius: 10px;
                                        background: rgba(182, 200, 214, 0.5);
                                        flex-direction: column;
                                        .mat-icon{
                                            color: #728b9d;
                                            height: 30px;
                                            width: 30px;
                                            font-size: 30px;
                                        }
                                        label{
                                            margin: 10px 0 0;
                                        }
                                    }
                                }
                            }
                            .image{
                                img{
                                    width: 171px;
                                    height: 156px;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .bank_details{
                .back_details_inner{
                    padding: 25px;
                    border-color: #B6C8D6;
                    border-style: solid;
                    border-width: 1px 0 1px;
                    label{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        color: rgba(12, 47, 73, 0.8); 
                    }
                    .row{
                        align-items: center;
                        margin: 0 -25px;
                        flex-wrap: wrap;
                        .item_info {
                            width: auto;
                            min-width: 15%;
                            padding: 0 25px;
                            margin: 0 0 20px;
                            label{
                                font-size: $font_small;
                                font-weight: 400;
                                margin: 0 0 5px;
                                color: rgba(12, 47, 73, 0.8); 
                            }
                            .value{
                                font-size: $font_medium;
                                font-weight: 600;
                                color: rgba(12, 47, 73, 0.8); 
                            }
                            &.user_img_wrap{
                                display: flex;
                                align-items: center;
                                .user_img{
                                    border: 1px solid #B6C8D6;
                                    border-radius: 15px;
                                    width: 50px;
                                    height: 52px;
                                    line-height: 52px;
                                    margin: 0 15px 0 0;
                                    text-align: center;
                                    display: inline-block;
                                    img{
                                        width: 80%;
                                    }
                                }
                            }
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                   
                }
            }
            .mobile_pay_details{
                .mobile_pay_details_inner{
                    padding: 25px;
                    label{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        color: rgba(12, 47, 73, 0.8); 
                    }
                    .row{
                        .item{
                            width: auto;
                            margin: 0 0 15px;
                            label{
                                font-size: $font_small;
                                font-weight: 400;
                                margin: 0 0 5px;
                                color: rgba(12, 47, 73, 0.8); 
                            }
                            .value{
                                font-size: $font_medium;
                                font-weight: 600;
                                color: rgba(12, 47, 73, 0.8); 
                            }
                        }
                    }
                }
            }
        }
        .change_pass{
            .changepass_inner{
                padding: 30px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                form{
                    border: 1px solid #B6C8D6;
                    border-radius: 15px;
                    padding: 35px;
                    width: 550px;
                    margin: 0 auto;
                    .form-btn{
                        margin-top: 20px;
                        .btn{
                            width: 100%;
                            padding: 15px;
                        }
                    }
                }
            }
        }
        .on_duty{
            background: #FFFFFF;
            border: 1px solid #B6C8D6;
            border-radius: 5px;
            padding: 25px;
            .title{
                font-weight: 500;
                font-size: $font_large;
                line-height: 22px;
                color: #0C2F49;
                margin: 0 0 20px;
            }
            .on_duty_inner{
                display: flex;
                align-items: center;
                margin: 0 0 25px;
                .form_field_wrapper{
                    label{
                        font-weight: 400;
                        color: $bodyopacitylightcolor;
                    }
                    .time{
                        position: relative;
                        margin: 0 0 15px;
                        .form-control{
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0.03em;
                            min-height: 50px;
                            @include formfield;
                            padding: 10px;
                            box-sizing: border-box;
                            &::placeholder{
                                font-size: 14px;
                                font-family: $font_family_body,$font_sans_sarif;
                            }
                        }
                        .time_icon{
                            position: absolute;
                            right: 10px;
                            left: auto;
                            top: 15px;
                            bottom: auto;
                        }
                    }
                }
                .row_generate {
                    border-radius: 5px;
                    min-width: 50px;
                    width: 50px;
                    height: 50px;
                    margin: 12px 0 0 20px;
                    .mat-icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 50px;
                        width: 50px;
                        height: 50px;
                    }
                    &.row_add{
                        background: #0B4977;
                        .mat-icon{
                            color: #ffffff; 
                        }
                    }
                    &.row_minus{
                        background: #FDE6E5;
                        .mat-icon{
                            color: #F05A4F; 
                        }
                    }
                }
            }
        }
        .opening_hour{
            background: #FFFFFF;
            border: 1px solid #B6C8D6;
            border-radius: 5px;
            .week_days{
               .week_days_inner{
                    display: flex;
                    align-items: stretch;
                    justify-content: space-between;
                    margin: 0 0 15px;
                    .week_item{
                        width: 14.28%;
                        .form_field_wrapper{
                            label{
                                font-weight: 400;
                                color: $bodyopacitylightcolor;
                            }
                            .time{
                                position: relative;
                                margin: 0 0 15px;
                                .form-control{
                                    font-weight: 400;
                                    line-height: 20px;
                                    letter-spacing: 0.03em;
                                    min-height: 50px;
                                    border: 1px solid rgba(228, 228, 228, 0.9);
                                    border-radius: 5px;
                                    padding: 10px;
                                    box-sizing: border-box;
                                    &::placeholder{
                                        font-size: 14px;
                                        font-family: $font_family_body,$font_sans_sarif;
                                    }
                                }
                            }
                        }
                    }
                    .row_generate {
                        border-radius: 5px;
                        margin: 30px 0 15px 20px;
                        height: auto;
                        .mat-icon{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            min-width: 50px;
                            width: 50px;
                            height: 100%;
                        }
                        &.row_add{
                            background: #0B4977;
                            .mat-icon{  
                                color: #ffffff; 
                            }
                        }
                        &.row_minus{
                            background: #FDE6E5;
                            .mat-icon{
                                color: #F05A4F; 
                            }
                        }
                    }
                    &:last-child{
                        margin: 0;
                    }
               }
            }
            .opening_hour_content{
                padding: 25px;
                border-bottom: 1px solid #B6C8D6;
                .title{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #0C2F49;
                    margin: 0 0 20px;
                } 
                .date_time_inner{
                    display: flex;
                    align-items: stretch;
                    .time_item{
                        width: 33.33%;
                        .form_field_wrapper{
                            label{
                                font-weight: 400;
                                color: $bodyopacitylightcolor;
                            }
                            .time{
                                position: relative;
                                margin: 0 0 15px;
                                .form-control{
                                    font-weight: 400;
                                    line-height: 20px;
                                    letter-spacing: 0.03em;
                                    min-height: 50px;
                                    border: 1px solid rgba(228, 228, 228, 0.9);
                                    border-radius: 5px;
                                    padding: 10px;
                                    box-sizing: border-box;
                                    &::placeholder{
                                        font-size: 14px;
                                        font-family: $font_family_body,$font_sans_sarif;
                                    }
                                }
                            }
                        }
                    }
                    .row_generate {
                        border-radius: 5px;
                        margin: 30px 0 15px 20px;
                        height: auto;
                        .mat-icon{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            min-width: 50px;
                            width: 50px;
                            height: 100%;
                        }
                        &.row_add{
                            background: #0B4977;
                            .mat-icon{  
                                color: #ffffff; 
                            }
                        }
                        &.row_minus{
                            background: #FDE6E5;
                            .mat-icon{
                                color: #F05A4F; 
                            }
                        }
                    }
                }
                &:last-child{
                    border-bottom: none;
                }   
           }
            
        }
           
        .primary_btn{
            margin-top: 30px;
            justify-content: flex-end;
        }
    }

}
.edit_staffnew
{
    z-index: 999;
}
.modal-backdrop {
    /* Your custom styles here */
   z-index: 999 !important;
    /* Add any other styles you want to apply to the backdrop */
  }

  
  .right_part {
    display: flex;
    justify-content: center;
    .item{
        display: flex;
        align-items: center;
        margin: 0 25px 0 0;
        label{
            margin: 0 12px 0 0;
        }
        .form_field_wrapper{
            .mat-form-field{
                .mat-form-field-wrapper{
                    padding-bottom: 0;
                    .mat-form-field-flex {
                        background: #EBF0F4;
                        border-radius: 12px;
                        border: none;
                        .mat-form-field-infix{
                            width: 88px;
                        }
                    }
                }
            }
        }
    }
}  