<div class="insurance_medicines dashboard_main_content border_radius_block">
    <div class="table-wrap">
      <div class="table-inner without_pagination_block_three">
        <table
          mat-table
          [dataSource]="dataSources"
          class="mat-elevation-z8 withoutpagination"
        >
          <ng-container matColumnDef="personname">
            <th mat-header-cell *matHeaderCellDef (click)="onSortData('userName')" >
              {{ "person_name" | translate }}
              <span
                  *ngIf="sortColumn === 'userName'"
                  class="material-icons sorticon"
                  >{{ sortIconClass }}</span
                >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.userName }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="adminname" >
            <th mat-header-cell *matHeaderCellDef  (click)="onSortData('adminData?.adminName')">
              {{ "admin" | translate }}
              <span
              *ngIf="sortColumn === 'adminData?.adminName'"
              class="material-icons sorticon"
              >{{ sortIconClass }}</span
            >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.adminData?.adminName }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="logindatetime">
            <th mat-header-cell *matHeaderCellDef  (click)="onSortData('loginDateTime')">
              {{ "login_date_time" | translate }}
              <span
              *ngIf="sortColumn === 'loginDateTime'"
              class="material-icons sorticon"
              >{{ sortIconClass }}</span
            >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.loginDateTime | date : "dd-MM-yyyy | HH:mm" }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="logouttime">
            <th mat-header-cell *matHeaderCellDef  (click)="onSortData('logoutDateTime')">
              {{ "logout_date_time" | translate }}
              <span
              *ngIf="sortColumn === 'logoutDateTime'"
              class="material-icons sorticon"
              >{{ sortIconClass }}</span
            >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.logoutDateTime | date : "dd-MM-yyyy | HH:mm" }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef  (click)="onSortData('userAddress')"> {{ "address" | translate }}
              <span
              *ngIf="sortColumn === 'userAddress'"
              class="material-icons sorticon"
              >{{ sortIconClass }}</span
            >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.userAddress }}
  
            </td>
          </ng-container>
  
          <ng-container matColumnDef="ipaddress">
            <th mat-header-cell *matHeaderCellDef  (click)="onSortData('ipAddress')">
              {{ "ip_address" | translate }}
              <span
              *ngIf="sortColumn === 'ipAddress'"
              class="material-icons sorticon"
              >{{ sortIconClass }}</span
            >
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.ipAddress }}
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumnss"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnss"></tr>
        </table>
        <div *ngIf="dataSources?.length === 0" class="text-center">
          <b>{{ "no_record_found" | translate }}</b>
        </div>
        <mat-paginator
          class="pagination"
          [length]="totalLength"
          (page)="handlePageEvent($event)"
          [pageSize]="pageSize"
          [pageSizeOptions]="[10, 20, 50]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
  