<div class="complaint_details dashboard_main_content">
  <div class="back_button" [routerLink]="['/patient/complaint']">
    <button class="btn btn-primary">{{ "back" | translate }}</button>
  </div>
  <!-- <div class="top_bar">
    <div class="right_part">
      <div class="primary_btn">
        <button
          type="button"
          class="btn btn-primary"
          (click)="openVerticallyCenteredAddComplaint(addcomplaintcontent)"
        >
          Add New Complain
        </button>
      </div>
    </div>
  </div> -->

  <div class="profile_data">
    <div class="profile_info complain_data">
      <ul class="profile_info_inner">
        <li class="col_item profile_image_wrapper">
          <div
            class="profile_image"
            *ngIf="complaintData?.provider_type_to == 'pharmacy'"
          >
            <img
              src="{{
                userData?.profile_picture
                  ? userData?.profile_picture
                  : '../../../../assets/img/logo.svg'
              }}"
            />
          </div>
          <div
            class="profile_image"
            *ngIf="complaintData?.provider_type_to == 'doctor'"
          >
            <img
              src="{{
                userData?.profile_picture?.url
                  ? userData?.profile_picture?.url
                  : '../../../../assets/img/logo.svg'
              }}"
            />
          </div>
          <div
            class="profile_image"
            *ngIf="complaintData?.provider_type_to == 'hospital'"
          >
            <img
              src="{{
                userData?.profile_picture?.url
                  ? userData?.profile_picture?.url
                  : '../../../../assets/img/logo.svg'
              }}"
            />
          </div>
          <div
          class="profile_image"
          *ngIf="complaintData?.provider_type_to == 'Paramedical-Professions'"
        >
          <img
            src="{{
             profilePic
                ?profilePic
                : '../../../../assets/img/logo.svg'
            }}"
          />
        </div>
        <div
        class="profile_image"
        *ngIf="complaintData?.provider_type_to == 'Laboratory-Imaging'"
      >
        <img
          src="{{
           profilePic
              ?profilePic
              : '../../../../assets/img/logo.svg'
          }}"
        />
      </div>
      <div
      class="profile_image"
      *ngIf="complaintData?.provider_type_to == 'Optical'"
    >
      <img
        src="{{
         profilePic
            ?profilePic
            : '../../../../assets/img/logo.svg'
        }}"
      />
    </div>
    <div
    class="profile_image"
    *ngIf="complaintData?.provider_type_to == 'Dental'"
  >
    <img
      src="{{
       profilePic
          ?profilePic
          : '../../../../assets/img/logo.svg'
      }}"
    />
  </div>
          <div class="profile_contact">
            <div class="lable">
              {{ userName(complaintData?.provider_type_to) }}
              {{ "name" | translate }}
            </div>

            <div
              class="user_value"
              *ngIf="complaintData?.provider_type_to == 'pharmacy'"
            >
              {{ userData?.pharmacy_name }}
            </div>
            <div
              class="user_value"
              *ngIf="complaintData?.provider_type_to == 'doctor'"
            >
              {{ userData?.full_name }}
            </div>
            <div
              class="user_value"
              *ngIf="complaintData?.provider_type_to == 'hospital'"
            >
              {{ userData?.hospital_name }}
            </div>
            <div
            class="user_value"
            *ngIf="complaintData?.provider_type_to == 'Paramedical-Professions'"
          >
            {{ complaintData?.complaint_to_user_name}}
          </div>
          <div
          class="user_value"
          *ngIf="complaintData?.provider_type_to == 'Laboratory-Imaging'"
        >
        {{ complaintData?.complaint_to_user_name}}
        </div>
        <div
        class="user_value"
        *ngIf="complaintData?.provider_type_to == 'Optical'"
      >
      {{ complaintData?.complaint_to_user_name}}
      </div>
      <div
      class="user_value"
      *ngIf="complaintData?.provider_type_to == 'Dental'"
    >
    {{ complaintData?.complaint_to_user_name}}
    </div>
          </div>
        </li>
        <li class="col_item">
          <div class="profile_contact">
            <div class="lable">{{ "date_and_time" | translate }}</div>
            <div class="user_value">
              {{ complaintData?.createdAt | date : "dd/MM/YYYY HH:mm" }}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="complain complain_data">
      <label>{{ "complain" | translate }}</label>
      <div class="complain_desc">
        {{ complaintData?.complaint_body }}
      </div>
    </div>
    <div class="doctor_response complain_data">
      <label
        >{{ userName(complaintData?.provider_type_to) }}
        {{ "response" | translate }}</label
      >
      <div class="complain_desc">
        {{
          complaintData?.provider_response
            ? complaintData?.provider_response
            : "Response Not Given"
        }}
      </div>
    </div>
    <div class="admin_action complain_data">
      <label>{{ "super_admin_action" | translate }}</label>
      <div class="complain_desc">
        {{
          complaintData?.super_admin_response
            ? complaintData?.super_admin_response
            : "Response Not Given"
        }}
      </div>
    </div>
  </div>
</div>
