.image-upload {
    input {
        display: none;
    }
    img {
        width: 80px;
        cursor: pointer;
    }
}

.table-wrap-block {
    max-height: 255px;
    overflow-y: auto;
}

// .speciality-select-block {
//     ::ng-deep {
//         .select2-label ~ .select2-container > div > .select2-selection--multiple {
//             ul {
//                 // width: 400px !important;
//                 overflow: auto !important;
//                 position: relative;
//                 z-index: 10;
//                 height: 50px;
//                 li {
//                     height: 27px;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                 }
//             }
//         }
//     }
// }