@import '../../../../../assets/css/variable/variable';

.step_counter{
    mat-stepper {
        background-color: transparent;
        .mat-horizontal-stepper-header-container {
            padding: 15px;
            margin: 0 0 20px;
            .mat-step-header {
                flex-direction: column;
                padding: 0 10px;
                width: 120px;
                height: 100px;
                overflow: visible;
                box-sizing: border-box;
                &:hover,
                &:focus {
                    background: transparent;
                }
                .mat-step-icon {
                    height: 30px;
                    width: 30px;
                    line-height: 18px;
                    margin: 0 0 13px;
                    background-color: #ffffff;
                    border: 3px solid #F2F7FA;
                    .mat-step-icon-content {
                        font-size: 12px;
                        font-weight: 600;
                        background-color: #ffffff;
                        color: #26323C;
                    }
                    &.mat-step-icon-selected {
                        background-color: #ffffff;
                        border-color: #3DA7C8;
                        border-width: 3px;
                    }
                }
                .mat-step-label {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: rgba(38, 50, 60, 0.75);
                    white-space: normal;
                    text-align: center;
                    &.mat-step-label-selected{
                        color: $table_color;       
                        font-weight: 600;
                    }
                }
            }
            .mat-stepper-horizontal-line {
                border-color: #F2F7FA;
                border-top-width: 3px;
                margin: -70px -55px 0;
            }
        }
        .mat-horizontal-content-container {
            padding: 0;
            .btn-wrapper {
                margin-bottom: 15px;
                text-align: right;
                .add_more {
                    font-size: $font_small;
                    font-weight: 400;
                    line-height: 22px;
                    border-radius: 10px;
                    padding: 12px 22px;
                }
            }
            .form-btn {
                .stepbtn {
                    font-size: 18px;
                    padding: 12px 20px;
                    border-radius: 15px;
                }
            }
            .mat-horizontal-stepper-content {
                .medication_first {
                    padding: 0;
                    .medication_first_inner {
                        padding: 0 15px;
                    }
                }
            }
            .white-card {
                table {
                    tr {
                        height: 48px;
                    }
                }
                .add_more {
                    font-size: 14px;
                    min-width: 200px;
                    padding: 15px 22px;
                    margin: 25px 0 0;
                }
            }
        }
    }

    .mat-stepper-vertical{
        .mat-step{
            .mat-step-header{
                padding-left: 10px;
                padding-right: 10px;
                &:hover,
                &:focus {
                        background: transparent;
                        &:not([aria-disabled]){
                            background-color: transparent;  
                        }
                    }
                    .mat-step-icon {
                        height: 30px;
                        width: 30px;
                        background-color: #ffffff;
                        border: 2px solid rgba(55, 103, 177, 0.5);
                        .mat-step-icon-content {
                            font-size: 0;
                            background-color: #ffffff;
                        }
                        &.mat-step-icon-selected {
                            background-color: #ffffff; 
                            border-color: #3DA7C8;
                            border-width: 3px;

                        }
                    }
                    .mat-step-label {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 14px;
                        color: #0C2F49;
                        white-space: normal;
                    }
            }
            .mat-vertical-content-container{
                margin-left: 25px;
                .mat-vertical-content{
                    padding: 0 0 20px 20px;
                    .btn-wrapper {
                        margin-bottom: 15px;
                        text-align: right;
                        .add_more {
                            font-size: $font_small;
                            font-weight: 400;
                            line-height: 22px;
                            border-radius: 10px;
                            padding: 12px 22px;
                        }
                    }
                    .form-btn {
                        .stepbtn{
                            font-size: 18px;
                            padding: 12px 20px;
                            border-radius: 15px;
                        }
                    }
                    .white-card {
                        table {
                            tr {
                                height: 48px;
                            }
                        }
                        .add_more {
                            font-size: 14px;
                            min-width: 200px;
                            padding: 15px 22px;
                            margin: 25px 0 0;
                        }
                    }
                }
            }
            .mat-stepper-vertical-line{
                &::before{
                    border-color: #3DA7C8;
                    border-width: 2px;
                    top: -22px;
                    bottom: -22px;
                }
            }
        }
      
    }
}

.step_counter_inner {
    form{
        .form_title{
            font-weight: 500;
            font-size: 20px;
            color: #000000;
            margin: 0 0 10px;
        }
        .form_sub_title{
            font-weight: 500;
            font-size: 16px;
            color: #000000;
            margin: 0 0 10px;
        }
        .form_field_wrapper{
            label{
                color: $bodyopacitylightcolor;
            }
            .insurance_validity{
                display: flex;
                align-items: baseline;
                .date_lable{
                    margin: 0 12px 0 0;
                    min-width: 35px;
                }
                .mat-form-field{
                    width: 100%;
                    .mat-form-field-wrapper{
                        .mat-form-field-flex {
                            .mat-form-field-infix{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .upload_item{
            .form_field_wrapper{
               .upload_input{
                position: relative;
                padding-bottom: 22px;
                    .upload_input_content{
                        position: absolute;
                        top: 0;
                        bottom: auto;
                        width: 100%;
                        label{
                            padding: 16px;
                            background-color: #ffffff;
                            border: 1px solid rgba(228, 228, 228, 0.9);
                            font-size: 14px;
                            font-weight: 500;
                            border-radius: 5px;
                            color: #3DA7C8;
                            display: block;
                            text-align: center;
                            margin: 0;
                        }   
                    } 
               }
               .user_upload_input{
                    opacity: 0;
                    z-index: 0;
                    min-height: 50px;
                    width: 100%;
               }
            }
        }
        .radiobtn_title{
            font-weight: 500;
            color: $bodyopacitylightcolor;
            margin: 0 0 10px;
        }
        .mat-radio-group{
            margin: 0 0 20px 10px;
            display: inline-block;
            .mat-radio-button{
                margin: 0 25px 0 0;
                .mat-radio-label{
                    margin: 0;
                    .mat-radio-label-content{
                        padding-left: 12px;
                    }
                }
            }
        }
    }
    .primary_btn{
        justify-content: flex-end;
        margin-top: 10px;
    }
    .common_stepper{
        form{
            padding: 0;
            .increse_content{
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                margin: 0 0 5px;
                .increse_content_inner{
                    .item{
                        label{
                            font-weight: 400;
                            line-height: 18px;
                            color: $bodyopacitycolor;
                        }
                    }
                }
                .row_generate{
                    border-radius: 5px;
                    height: auto;
                    margin: 30px 0 15px 30px;
                    &.row_add{
                        background: $bodycolor;
                        .mat-icon{
                            color: #ffffff;
                        }
                    }
                    &.row_minus{
                        background: #FDE6E5;
                        .mat-icon{
                            color: #F05A4F;
                        }
                    }
                    .mat-icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 50px;
                        width: 50px;
                        height: 100%;
                    }
                }
                .primary_btn{
                    justify-content: flex-end;
                }
            }
        }

        &.immunization{
            form {
                .increse_content {
                    .form_field_wrapper{
                        .toggel-slide{
                            padding: 11px 15px;
                            background-color: #ffffff;
                            border: 1px solid rgba(228, 228, 228, 0.9);
                            border-radius: 5px;                      
                            margin: 0 0 20px;
                            label{
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        &.history{
            form {
                .increse_content {
                    .increse_content_inner{
                        width: 100%;
                    }
                }
            } 
        }
        &.medical_document{
            form {
                .increse_content {
                    .increse_content_inner{
                        width: 100%;
                        .upload_item  {
                            label{
                                color: #3DA7C8;
                                border-color: #3DA7C8;
                            }
                        }
                    }
                }
            }
        }
        &.dependent_family{
            form {
                .increse_content {
                    &.first{
                        margin: 0 0 25px;
                    }
                }
            }
        }

    }
}
@media screen and (min-width:$tablet_up) {
    .step_counter_inner .common_stepper.medical_document form .increse_content .increse_content_inner .upload_item .invisible{
        display: none;
    }
}
@media screen and (max-width:$medium_iphone) {
    .step_counter_inner form .insurance_validity_wrap {
        width: 50%;
    }
    .step_counter_inner .common_stepper form .increse_content .row_generate {
        margin: 30px 0 15px 15px;
    }
    .step_counter_inner .common_stepper .increse_content .form_field_wrapper .mat-form-field-infix {
        width: 135px;
    }
    .step_counter_inner .common_stepper.medical_document form .increse_content .increse_content_inner .upload_item .invisible{
        display: none;
    }
}
@media screen and (max-width:$medium_phone) {
    .step_counter_inner form .insurance_validity_wrap {
        width: 100%;
    }
}
@media screen and (max-width:$small_phone) {
    .step_counter_inner .common_stepper .increse_content .form_field_wrapper .mat-form-field-infix {
        width: 85px;
    }
}