<div class="add_doctor dashboard_main_content">
    <div class="step_counter">


        <mat-stepper #mainStepper [orientation]="(stepperOrientation | async)!" linear (selectionChange)="onStepSelectionChange($event)">
            <mat-step [completed]="basicInfo">
                <ng-template matStepLabel>{{"basic_info" | translate}}</ng-template>
                <ng-template [ngIf]="stepIndex === 0">
                <app-basicinfo-optical [mstepper]="passToChild" (fromChild)="handleEvent($event)" *ngIf="isEnable"></app-basicinfo-optical>
            </ng-template>
            </mat-step>

            <mat-step [completed]="educationalForm">
                <ng-template matStepLabel>{{"educational" | translate}}</ng-template>
                <ng-template [ngIf]="stepIndex === 1">
                <app-educational-optical [mstepper]="passToChild" (fromChild)="handleEvent($event)" *ngIf="isEnable"></app-educational-optical>
            </ng-template>
            </mat-step>

            <mat-step [completed]="locationForm">
                <ng-template matStepLabel>{{"location" | translate}}</ng-template>
                <ng-template [ngIf]="stepIndex === 2">
                <app-location-optical [mstepper]="passToChild" (fromChild)="handleEvent($event)" *ngIf="isEnable"></app-location-optical>
            </ng-template>
            </mat-step>

            <mat-step [completed]="availability">
                <ng-template matStepLabel>{{"availability" | translate}}</ng-template>
                <ng-template [ngIf]="stepIndex === 3">
                <app-availability-optical [mstepper]="passToChild" (fromChild)="handleEvent($event)" *ngIf="isEnable"></app-availability-optical>
            </ng-template>
            </mat-step>

            <mat-step [completed]="feeManage">
                <ng-template matStepLabel>{{"Fee Management" | translate}} </ng-template>
                <ng-template [ngIf]="stepIndex === 4">
                <app-feemanagement-optical [mstepper]="passToChild" (fromChild)="handleEvent($event)" *ngIf="isEnable"></app-feemanagement-optical>
            </ng-template>
            </mat-step>

            <mat-step [completed]="docManage">
                <ng-template matStepLabel>{{"document_manage" | translate}}</ng-template>
                <ng-template [ngIf]="stepIndex === 5">
                <app-documentmanage-optical [mstepper]="passToChild" (fromChild)="handleEvent($event)" *ngIf="isEnable"></app-documentmanage-optical>
            </ng-template>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>{{"manage_permissions" | translate}}</ng-template>
                <ng-template [ngIf]="stepIndex === 6">
                <app-managepermission-optical ></app-managepermission-optical>
            </ng-template>
            </mat-step>

        </mat-stepper>
    </div>
</div>