<div class="payment">
  <div class="payment_inner">
    <div class="row">
      <div class="left_part part col-md-6">
        <div class="leftpart_inner">
          <div class="section_wrap">
            <div class="top_section">
              <div class="project_title_wrap">
                <mat-icon>west</mat-icon>
                <div class="project_logo">
                  <img src="../../../../../assets/img/login_img.svg" />
                </div>
                <div class="project_title">
                  {{ "healthcare-crm_project" | translate }}
                </div>
              </div>
              <div class="plan_info">
                <label>{{ "subscibe_to_plan_C" | translate }}</label>
                <div class="price">
                  US$499.00<span class="duration"
                    >{{ "half" | translate }}<br />{{
                      "yearly" | translate
                    }}</span
                  >
                </div>
              </div>
            </div>
            <div class="bottom_bar">
              <ul class="list_wrapper">
                <li>
                  {{ "powered_by" | translate }}
                  <b>{{ "stripe" | translate }}</b>
                </li>
                <li>{{ "terms" | translate }}</li>
                <li>{{ "privacy" | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="right_part part col-md-6">
        <div class="rightpart_inner">
          <div class="payment_form">
            <div class="payment_form_inner">
              <form>
                <div class="payment_title">
                  {{ "pay_with_card" | translate }}
                </div>
                <div class="form_field_wrapper">
                  <mat-form-field appearance="fill">
                    <input type="email" placeholder="Email" matInput />
                  </mat-form-field>
                </div>

                <div class="form_field_wrapper card_info">
                  <label>{{ "card_information" | translate }}</label>
                  <div class="card_info_field">
                    <mat-form-field class="card_no" appearance="fill">
                      <input
                        type="number"
                        placeholder="1234 1234 1234 1234"
                        matInput
                      />
                      <img
                        class="pay_strip"
                        src="/assets/img/payment_strip.png"
                      />
                    </mat-form-field>
                    <div class="row">
                      <mat-form-field
                        class="col-sm-6 card_month_year"
                        appearance="fill"
                      >
                        <input type="text" placeholder="MM / YY" matInput />
                      </mat-form-field>
                      <mat-form-field
                        class="col-sm-6 card_cvc"
                        appearance="fill"
                      >
                        <input type="number" placeholder="CVC" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="form_field_wrapper">
                  <label>{{ "name_on_card" | translate }}</label>
                  <mat-form-field appearance="fill">
                    <input type="text" placeholder="Enter your name" matInput />
                  </mat-form-field>
                </div>

                <div class="form_field_wrapper">
                  <label>{{ "country_or_region" | translate }}</label>
                  <mat-form-field appearance="fill">
                    <!-- <mat-label>Sub-admin</mat-label> -->
                    <mat-select disableRipple>
                      <mat-option value="1">{{
                        "united_states" | translate
                      }}</mat-option>
                      <mat-option value="2">{{
                        "united_states" | translate
                      }}</mat-option>
                      <mat-option value="3">{{
                        "united_states" | translate
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-btn primary_btn">
                  <button
                    class="btn btn-primary"
                    (click)="
                      openVerticallyCenteredpaymentcontent(paymentcontent)
                    "
                  >
                    {{ "subscribe" | translate }}
                  </button>
                </div>

                <div class="payment_desc">
                  <p>{{ "payment_desc" | translate }}</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------------------------Payment Successfull modal---------------------------------------- -->
<div class="payment_succesfull">
  <ng-template #paymentcontent let-modal>
    <div class="custome_modal">
      <div class="modal-body">
        <div class="successfull_icon">
          <img src="/assets/img/successfull.png" />
        </div>
        <div class="successfull_title">
          {{ "payment" | translate }} <br />
          {{ "successfull" | translate }}
        </div>
        <a
          class="backtodashboard"
          (click)="modal.dismiss('Cross click')"
          [routerLink]="['/insurance/policyclaim']"
          >{{ "go_to_dashboard" | translate }}</a
        >
      </div>
    </div>
  </ng-template>
</div>
