@import '../../../../../assets/css/variable/variable';

.back_button {
    display: flex;
    justify-content: flex-end;
  }

.eprescriptiondetails{
    .main_title{
        margin: 0 0 15px;
        color: $linkcolor;
    }
    .profile_data{
        background: #ffffff;
        border: 1px solid #B6C8D6;
        border-radius: 15px;
        background: #ffffff;
        margin: 0 0 30px;
        .profile_info{
            padding: 25px 25px 25px;
            position: relative; 
            ul{
                display: grid;
                align-items: end;
                grid-gap: 15px;
                grid-template-columns: repeat(4, 1fr);
                border-bottom: 1px solid #C4CDEA;
                padding-bottom: 25px;
                margin-bottom: 25px;
                padding-left: 0;
                padding-right: 0;
                .col_item{
                    display: flex;
                    align-items:center;
                    min-height: 60px;
                    .profile_image{
                        width: 95px;
                        height: 95px;
                        min-width: 95px;
                        margin: 0 20px 0 0;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                    .profile_contact{
                        .profile_title{
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 24px;
                            letter-spacing: 0em;
                            color: $linkcolor;
                            margin: 0 0 15px;
                        }
                        .lable{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16px;
                            letter-spacing: 0.05em;
                            color: $bodyopacitylightcolor;
                            margin: 0 0 6px;
                        }
                        .user_value{
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: $linkcolor;
                            letter-spacing: 0.05em;
                        }
                    }
                }
                &.profile_info_with_img{
                    grid-template-columns: 285px repeat(5, 1fr);
                }
                &:last-child{
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
    .typeof_prescription{
        .mat-button-toggle-group{
            margin: 0 -10px;
            border: none;
            flex-wrap: wrap;
            .mat-button-toggle{
                margin: 0 10px 20px;
                border: 1px solid #B6C8D6;
                border-radius: 10px;
                min-width: 150px;
                .mat-button-toggle-label-content{
                    font-size: $font_medium;
                    font-weight: 500;
                    line-height: 34px;
                    color: $bodycolor;
                    padding: 10px 15px;
                }
                &.mat-button-toggle-checked{
                    background: rgba(11, 73, 119, 0.1);
                }
            }
        }
    }
    .primary_btn{
        justify-content: flex-end;
    }
}

@media screen and (max-width:$desktop_medium) {
    .eprescriptiondetails .profile_data .profile_info ul.profile_info_with_img {
        grid-template-columns: 285px repeat(3, 1fr);
    }
}
@media screen and (max-width:$desktop) {
    .eprescriptiondetails .profile_data .profile_info ul.profile_info_with_img {
        grid-template-columns: 285px repeat(2, 1fr);
    }
}
@media screen and (max-width:$large_phone) {
    .eprescriptiondetails .profile_data .profile_info ul.profile_info_with_img {
        grid-template-columns: 285px repeat(1, 1fr);
    }
}
@media screen and (max-width:$medium_iphone) {
    .eprescriptiondetails .profile_data .profile_info ul.profile_info_with_img {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:$medium_phone) {
    .eprescriptiondetails .profile_data .profile_info ul .col_item .profile_image{
        width: 70px;
        height: 70px;
        min-width: 70px;
        margin: 0 0 15px;
    }
    .eprescriptiondetails .profile_data .profile_info ul .col_item{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (max-width:$small_phone) {
    .eprescriptiondetails .typeof_prescription .mat-button-toggle-group .mat-button-toggle{
        width: 100%;
    }
}