<div class="medicines_claim dashboard_main_content common_space">
    <div class="top_bar">
        <div class="left_part">
            <div class="policy">
                <mat-form-field class="custome_dropdown">
                    <mat-select #select multiple placeholder="{{'all_insurance'| translate}}">
                        <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{ standalone: true }"
                                (change)="toggleAllSelection()">{{'select_all'| translate}}</mat-checkbox>
                        </div>
                        <mat-option (click)="optionClick()" *ngFor="let food of foods" [value]="food.value">
                            {{ food.viewValue | titlecase }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="right_part">
            <div class="primary_btn">
                <a routerLink="/patient/medicalconsultation/submitclaim"><button type="button" class="btn btn-primary">
                        <mat-icon>assignment</mat-icon>{{'new_claim'| translate}}
                    </button></a>
                <button type="button" class="btn btn-primary" (click)="exportLab()">
                    <mat-icon>share</mat-icon>{{'export'| translate}}
                </button>
            </div>
        </div>
    </div>
    <hr />
    <div class="export_list">
        <div class="inner_exprot_list">
            <ul class="row">
                <li>
                    <button class="status_list {{ claimStatus === 'resubmit' ? 'active' : '' }}"
                        (click)="onTabChange('resubmit')">
                        <img class="img-fluid" src="../../../../../assets/img/insurance-medicines/todo.svg"
                            alt="approve" />
                        <p>{{'resubmit'| translate}} ({{ statusCountData?.resubmit ? statusCountData?.resubmit : "0" }})</p>
                    </button>
                </li>
                <li>
                    <button class="status_list {{ claimStatus === 'pending' ? 'active' : '' }}"
                        (click)="onTabChange('pending')">
                        <img class="img-fluid" src="../../../../../assets/img/insurance-medicines/pending.svg"
                            alt="approve" />
                        <p>{{'pending'| translate}} ({{ statusCountData?.pending ? statusCountData?.pending : "0" }})</p>
                    </button>
                </li>
                <li>
                    <button class="status_list {{ claimStatus === 'approved' ? 'active' : '' }}"
                        (click)="onTabChange('approved')">
                        <img class="img-fluid" src="../../../../../assets/img/insurance-medicines/approve.svg"
                            alt="approve" />
                        <p>{{'approved'| translate}} ({{ statusCountData?.approved ? statusCountData?.approved : "0" }})</p>
                    </button>
                </li>
                <li>
                    <button class="status_list {{ claimStatus === 'rejected' ? 'active' : '' }}"
                        (click)="onTabChange('rejected')">
                        <img class="img-fluid" src="../../../../../assets/img/insurance-medicines/reject.svg"
                            alt="approve" />
                        <p>{{'rejected'| translate}} ({{ statusCountData?.reject ? statusCountData?.reject : "0" }})</p>
                    </button>
                </li>
                <li>
                    <button class="status_list {{ claimStatus === '' ? 'active' : '' }}" (click)="onTabChange('')">
                        <img class="img-fluid" src="../../../../../assets/img/insurance-medicines/autorization.svg"
                            alt="approve" />
                        <p>
                            {{'pre-authorization'| translate}} ({{
                            statusCountData?.preauth ? statusCountData?.preauth : "0"
                            }})
                        </p>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="table_detail pt-30">
        <div class="table-wrap">
            <div class="table-inner">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 withoutpagination" matTableExporter
                    #exporter="matTableExporter">
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('status')">{{'status'| translate}}
                            <span *ngIf="sortColumn === 'status'" class="material-icons sorticon">{{ sortIconClass
                                }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <!-- <span class="{{ element?.status}}">{{ element?.status}}</span> -->
                            <a class="{{ element?.status }}">{{ element?.status }}</a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('createdAt')">{{'Date'| translate}}
                            <span *ngIf="sortColumn === 'createdAt'" class="material-icons sorticon">{{ sortIconClass
                                }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.createdAt | date : "MM-dd-yyyy" }}
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="makeClaim">
              <th mat-header-cell *matHeaderCellDef>Make Claim</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.created_by }}
              </td>
            </ng-container> -->

                    <ng-container matColumnDef="claimid">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('claimId')">{{'claim_ID'| translate}}
                            <span *ngIf="sortColumn === 'claimId'" class="material-icons sorticon">{{ sortIconClass
                                }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">{{ element?.claimId }}</td>
                    </ng-container>

                    <ng-container matColumnDef="prescribercentre">
                        <th mat-header-cell *matHeaderCellDef
                            (click)="onSortData('prescriberCenterInfo.prescriberCenter')">{{'prescriber_centre'| translate}}
                            <span *ngIf="sortColumn === 'prescriberCenterInfo.prescriberCenter'"
                                class="material-icons sorticon">{{ sortIconClass }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.prescriberCenterInfo?.prescriberCenter }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="insuranceprovider">
                        <th mat-header-cell *matHeaderCellDef>{{'insurance_provider'| translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.insurance_company_name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="insuranceholder">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('insurerType')">{{'insurance_holder'| translate}}
                            <span *ngIf="sortColumn === 'insurerType'" class="material-icons sorticon">{{ sortIconClass
                                }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{
                            element.insurerType == "secondaryInsurer"
                            ? findvalue(
                            "Insurance Holder Name",
                            element?.secondaryInsuredIdentity
                            )
                            : findvalue(
                            "Insurance Holder Name",
                            element?.primaryInsuredIdentity
                            )
                            ? findvalue(
                            "Insurance Holder Name",
                            element?.primaryInsuredIdentity
                            )
                            : "-"
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="insuranceid">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('insurerType')">{{'insurance_ID'| translate}}
                            <span *ngIf="sortColumn === 'insurerType'" class="material-icons sorticon">{{ sortIconClass
                                }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{
                            element.insurerType == "secondaryInsurer"
                            ? findvalue("Insurance ID", element?.secondaryInsuredIdentity)
                            : findvalue("Insurance ID", element?.primaryInsuredIdentity)
                            ? findvalue("Insurance ID", element?.primaryInsuredIdentity)
                            : "-"
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="patient">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('insurerType')">{{'patient_name'| translate}}
                            <span *ngIf="sortColumn === 'insurerType'" class="material-icons sorticon">{{ sortIconClass
                                }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{
                            element.insurerType == "secondaryInsurer"
                            ? findvalue("First Name", element?.secondaryInsuredIdentity)
                            : findvalue("First Name", element?.primaryInsuredIdentity)
                            ? findvalue("First Name", element?.primaryInsuredIdentity)
                            : "-"
                            }}
                            {{
                            element.insurerType == "secondaryInsurer"
                            ? findvalue("Middle Name", element?.secondaryInsuredIdentity)
                            : findvalue("Middle Name", element?.primaryInsuredIdentity)
                            ? findvalue("Middle Name", element?.primaryInsuredIdentity)
                            : "-"
                            }}
                            {{
                            element.insurerType == "secondaryInsurer"
                            ? findvalue("Last Name", element?.secondaryInsuredIdentity)
                            : findvalue("Last Name", element?.primaryInsuredIdentity)
                            ? findvalue("Last Name", element?.primaryInsuredIdentity)
                            : "-"
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="reimbursmentrate">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('reimbursmentRate')">{{'reimbursment_rate'| translate}}
                            <span *ngIf="sortColumn === 'reimbursmentRate'" class="material-icons sorticon">{{
                                sortIconClass }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.reimbursmentRate }} %
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="totalamount">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('totalCostOfAllMedicine')">{{"total_amount"| translate}}
                            <span *ngIf="sortColumn === 'totalCostOfAllMedicine'" class="material-icons sorticon">{{
                                sortIconClass }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.totalCostOfAllMedicine }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="paidbypatient">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('totalCoPayment')">{{'paid_by_patient'| translate}}
                            <span *ngIf="sortColumn === 'totalCoPayment'" class="material-icons sorticon">{{
                                sortIconClass }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.totalCoPayment }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="requestedamount">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('totalRequestedAmount')">{{"requested_amount"| translate}}
                            <span *ngIf="sortColumn === 'totalRequestedAmount'" class="material-icons sorticon">{{
                                sortIconClass }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.totalRequestedAmount }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="approvedamount">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('totalApprovedAmount')">{{"approved_amount"| translate}}
                            <span *ngIf="sortColumn === 'totalApprovedAmount'" class="material-icons sorticon">{{
                                sortIconClass }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <!-- {{element | json}} -->
                            {{
                            element?.totalApprovedAmount
                            ? element?.totalApprovedAmount + " CFA"
                            : "-"
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="rejectamount">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('totalApprovedAmount')">{{'reject_amount'| translate}}
                            <span *ngIf="sortColumn === 'totalApprovedAmount'" class="material-icons sorticon">{{
                                sortIconClass }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{
                            element?.totalApprovedAmount
                            ? (element?.totalRequestedAmount -
                            element?.totalApprovedAmount | number : "1.2-2") + " CFA"
                            : "-"
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Resubmit Reason">
                        <th mat-header-cell *matHeaderCellDef (click)="onSortData('resubmit')">
                            {{ "resubmit_reason" | translate }}
                            <span *ngIf="sortColumn === 'resubmit'" class="material-icons sorticon">{{ sortIconClass
                                }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element" style="text-align: left;">
                            <span *ngFor="let data of element?.resubmit">
                                <span *ngIf="!data.resubmitReason">
                                    <li>-</li>
                                </span>
                                <span *ngIf="data.resubmitReason">
                                    <li> {{ data?.resubmitReason ? data?.resubmitReason : "-"}}
                                        ({{data?.resubmitUsers[0]?.staff_name}})
                                    </li>

                                </span>
                            </span>


                        </td>
                    </ng-container>



                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef>{{"action"| translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="icon_group">
                                <!-- [routerLink]="['/individual-doctor/claims/medicalclaimdetails']" -->
                                <mat-icon *ngIf="element?.claimComplete == true" [routerLink]="[
                      '/patient/medicalconsultation/details',
                      element?.claimId
                    ]">visibility</mat-icon>
                                <mat-icon *ngIf="
                      element?.claimComplete == false ||
                      element?.status == 'resubmit'
                    " (click)="editclaim(element?.claimId)">edit</mat-icon>&nbsp;
                                <button class="btn btn-primary" *ngIf="
                      element?.status === 'approved' &&
                      element?.requestType === 'pre-auth' &&  !element?.pre_auth_reclaim 
                    " (click)="editclaim(element?.claimId, 'pre_auth')">
                                    {{"submit"| translate}}
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <div *ngIf="dataSource.length < 1" class="text-center">
                    <h2>{{'no_records'| translate}}</h2>
                </div>
            </div>
            <mat-paginator class="pagination" [length]="totalLength" (page)="handlePageEvent($event)"
                [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>