<div *ngIf="startcall && appointment_id">
  <app-video-calling
    [loggedInUserName]="loggedInUserName"
    [details]="details"
    [roomName]="roomName"
    [callby]="callby"
    [portaltype]="portaltype"
  ></app-video-calling>
</div>
<!-- <input type="text" [(ngModel)]="loggedInUserName">
<button (click)="joincall()">Join call</button> -->

<div class="container" style="background-image: url('assets/img/homepage/main_banner.png'); background-size: cover; background-position: center; height: 100vh;"> <!-- Add mt-5 class for top margin -->
  <img src="assets/img/logo.svg" alt="Company Logo" class="logo" />
  <div *ngIf="showBox" class="row justify-content-center">
    <div class="col-md-6">
      <div class="mb-4">
 
          <div class="form-group">
            <label for="loggedInUserName" class="bold-label">Your Name</label>
            <input
              type="text"
              class="form-control"
              id="loggedInUserName"
              [(ngModel)]="loggedInUserName"
            />
          </div>

          <div class="text-end mt-2"> <!-- Center the button -->
            <button
              type="button"
              class="btn btn-primary btn-block"
              (click)="joincall()"
            >
              Join Call
            </button>
          </div>
      </div>
    </div>
  </div>

  <div *ngIf="!showBox" class="message-box">
    <h2>Given Link Expired.</h2>
  </div>
</div>

