@import '../../../../../assets/css/variable/variable';


.back_button {
    display: flex;
    justify-content: flex-end;
  }
.appointment_detail{
      .main_profile_title{
        font-size: 24px;
        font-weight: 500;
        color: $table_color;
        margin: 0 0 15px;
    }
    .top_bar{
            margin: 0 0 15px;
            flex-wrap: wrap;
       
        &.profile_top_bar{
            .main_title{
                margin: 0 0 15px; 
            }   
            .primary_btn{
                flex-wrap: wrap;
                justify-content: flex-start;
                .btn{
                    margin: 0 15px 15px 0;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .profileinfo_title{
        font-weight: 600;
        font-size: $font_large;
        line-height: 19px;
        color: $table_color;
    }
    .profile_data{
        background: $white_color;
        border: 1px solid #B6C8D6;
        border-radius: 15px;
        background: $white_color;
        margin: 0 0 30px;
        .profile_info{
            padding: 25px 25px 25px;
            position: relative; 
            ul{
                display: grid;
                align-items: end;
                grid-gap: 15px;
                grid-template-columns: repeat(4, 1fr);
                border-bottom: 1px solid #C4CDEA;
                padding-bottom: 25px;
                margin-bottom: 25px;
                padding-left: 0;
                padding-right: 0;
                .col_item{
                    display: flex;
                    align-items:center;
                    min-height: 60px;
                    .profile_image{
                        width: 95px;
                        height: 95px;
                        min-width: 95px;
                        margin: 0 20px 0 0;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                    .profile_contact{
                        .profile_title{
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 24px;
                            letter-spacing: 0em;
                            color: $linkcolor;
                            margin: 0 0 15px;
                        }
                        .lable{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16px;
                            letter-spacing: 0.05em;
                            color: $bodyopacitylightcolor;
                            margin: 0 0 6px;
                        }
                        .user_value{
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 20px;
                            color: $linkcolor;
                            letter-spacing: 0.05em;
                            a{
                                color: #3DA7C8;
                                text-decoration: none;
                            }
                        }
                    }
                }
                &.profile_info_with_img{
                    grid-template-columns: 285px repeat(5, 1fr);
                }
                &:last-child{
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
            .emergency_contact{
                .profileinfo_title{
                    font-size: $font_medium;
                }
            }
            .select2-dropdown {
                .select2-results {
                    ul {
                        display: block;
                    }
                }
            }
        }
    }
    .profile_appoint_details{
        .profile_info{
            .profile_info_inner{
                grid-template-columns: repeat(5, 1fr);
                .col_item{
                    &.consult_type{
                        .user_value{
                            display: flex;
                            align-items: center;
                            svg{
                                margin: 0 5px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .healthcare_provider{
        .profile_data{
            .profile_info{
                .profile_info_inner {
                    grid-template-columns: 285px repeat(3, 1fr);
                    .col_item {
                        .profile_contact{
                            .profile_title{
                                font-size: 18px;
                                margin: 0 0 10px;
                            }
                            .lable{
                                margin: 0 0 3px;
                            }
                        }
                    }
                }
            }
        }
    }
    .patient_details_tab{
        .mat-tab-header {
            margin: 0 0 30px;
            border-bottom: none;
            .mat-tab-list {
                .mat-tab-labels {
                    padding: 7px 12px;
                    background: #F6F8FC;
                    border: 1px solid #B6C8D6;
                    border-radius: 15px;
                    .mat-tab-label {
                        font-family: $font_family_body, $font_sans_sarif;
                        height: 40px;
                        padding: 0 30px;
                        min-width: 120px;
                        font-size: 14px;
                        font-weight: 500;
                        color: $bodyopacitylightcolor;
                        opacity: 1;
                    }
                    .mat-tab-label.mat-tab-label-active {
                        font-weight: 700;
                        color: #0C2F49;
                    }
                }
                .mat-ink-bar {
                    display: none;
                }
            }
        }
        .tab_content {
            .tab_content_item{
                margin: 0 0 30px;
                .top_bar{
                    margin: 0 0 20px;
                    .main_title{
                        margin: 0;
                    }
                }
                &:last-child{
                    margin: 0;
                }
            }
            &.medical_doc{
                .top_bar{
                    .profileinfo_title{
                        margin: 0;
                    }
                }
                .bottom_bar{
                    margin: 30px 0 0;
                    overflow: hidden;
                    .item {
                        margin-bottom: 30px;
                        text-align: center;
                        width: 235px;
                        .item_inner{
                            display: inline-block;
                            vertical-align: top;
                            text-align: left;
                            .doc_img{
                                position: relative;
                                img{
                                    border-radius: 10px;
                                    overflow: hidden;
                                }
                                .quick_view{
                                    display: inline-block;
                                    vertical-align: top;
                                    width: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                    background-color: #ffffff;
                                    border-radius: 50%;                         
                                    text-align: center;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    opacity: 0;
                                    cursor: pointer;
                                    z-index: 9;
                                    transition-duration: 300ms;
                                    -webkit-transition-duration: 300ms;
                                    -moz-transition-duration: 300ms;
                                    -ms-transition-duration: 300ms;
                                    -o-transition-duration: 300ms;
                                }
                                &::after{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    background-color: rgba(11, 73, 119, 0.5);
                                    left:0;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    border-radius: 10px;
                                    opacity: 0;
                                    transition-duration: 300ms;
                                    -webkit-transition-duration: 300ms;
                                    -moz-transition-duration: 300ms;
                                    -ms-transition-duration: 300ms;
                                    -o-transition-duration: 300ms;
                                }
                            }
                            .doc_desc{
                                margin-top: 15px;
                                .name{
                                    font-weight: 700;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: $table_color;
                                    margin: 0 0 5px;
                                }
                                .date{
                                    font-weight: 500;
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: $bodyopacitycolor;
                                }
                            }
                            &:hover{
                                .doc_img{
                                    &::after{
                                        opacity: 1;
                                        transition-duration: 300ms;
                                        -webkit-transition-duration: 300ms;
                                        -moz-transition-duration: 300ms;
                                        -ms-transition-duration: 300ms;
                                        -o-transition-duration: 300ms;
                                    }
                                    .quick_view{
                                        opacity: 1;
                                        transition-duration: 300ms;
                                        -webkit-transition-duration: 300ms;
                                        -moz-transition-duration: 300ms;
                                        -ms-transition-duration: 300ms;
                                        -o-transition-duration: 300ms;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.assessment{
                .bottom_bar{
                    .assessment_item{
                        border: 1px solid #B6C8D6;
                        border-radius: 10px;
                        padding: 15px 20px;
                        margin: 0 0 20px;
                        label{
                            font-weight: 500;
                            line-height: 20px;
                            margin: 0 0 5px;
                            font-size: $font_small;
                            color: $bodyopacitycolor;
                        }
                        .answer{
                            font-weight: 500;
                            font-size: $font_medium;
                            color: $table_color;
                        }
                    }
                }
            }

        }
        .primary_btn.btn_consultation{
            justify-content: flex-end;
            margin-top: 30px;
        }
    } 
}


// Assign nurse modal
.assign_healthcare{
    .modal-content{
        border-radius: 26px;
        .searchbar{
            margin: 0 0 20px;
            .searchbox {
                .input-group{
                    border: 1px solid #B6C8D6;
                    border-radius: 10px;
                    overflow: hidden;
                    .btn {
                        padding: 5px 15px;
                    }
                    .form-control{
                        border: none;
                        padding: 10px 10px 10px 0;
                        &::placeholder{
                            font-weight: 500;
                            color: $bodyopacitycolor;
                        }
                    }
                }
            }
        }
        .assign_item_wrapper{
            overflow-y: scroll;
            height: 400px;
            &::-webkit-scrollbar{
                width: 3px; 
            }
            &::-webkit-scrollbar-thumb{
                background-color: #B5C8D8; 
                border-radius: 10px;
            }
            .assign_item{
                background: $white_color;
                border: 1px solid #B6C8D6;
                border-radius: 10px;
                padding: 15px;
                margin: 0 0 20px;
                .assign_item_inner{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 16px;
                    color: $bodyopacitycolor; 
                    .left_part{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .chat_img{
                            margin: 0 14px 0 0;
                            height: 47px;
                            width: 47px;
                            min-width: 47px;
                            position: relative;
                        }
                        .chat_detail{
                            .chat_name{
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 133.5%;
                                letter-spacing: 0.02em;
                                color: $table_color;
                                text-transform: capitalize;
                                margin: 0 0 3px;
                            }
                        }
                    }
                }
                &.active{
                    background-color: $bodycolor;
                    border-color: $bodycolor;
                    box-shadow: 0px 4px 10px rgba(61, 57, 137, 0.05); 
                .assign_item_inner{
                    color: $white_color;
                .chat_detail {
                    .chat_name{
                    color: $white_color;
                    }
                    }
                    }
                }
            }
        }
        .primary_btn{
            justify-content: center;
            .btn{
                width: 100%;
                border-radius: 15px;
                padding: 15px;
                font-weight: 600;
                font-size: $font_large;
            }
        }
    }
}

// Set remainder css start
.common_plan{
    .form_field_wrapper{
        .fieldicon_wrap{
            display: flex;
            justify-content: space-between;
            .mat-icon{
                border-radius: 10px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                min-width: 50px;
                text-align: center;
                margin-left: 15px;
                &.minus{
                    background: #FDE6E5;
                    border: 1px solid #FDE6E5;
                    border-radius: 10px;
                    color: #F05A4F;
                }
                &.plus{
                    background: #0B4977;
                    color: #ffffff;  
                }
            }
        }
        .mat-form-field{
            width: 100%;
            padding-right: 1rem;
            .mat-form-field-wrapper{
                padding-bottom: 20px;
            }
        } 
    }
    .vr{
        width: 100%;
        background-color: transparent;
        text-align: center;
        margin: 0 0 20px;
        text-transform: uppercase;
        font-size: 16px;
    }
    .primary_btn{
        &.add_popup{
            justify-content: end;
            .btn.btn-primary{
                &:first-child{
                    margin-right: 15px;
                }
            }
        }
    }
  
}

// Reschedule appointment modal css 
.choose_date {
    .resshedule_appointment{
        display: flex;
        background: #FFFFFF;
        border: 1px solid #B6C8D6;
        border-radius: 15px;
        align-items: center;
        padding: 15px;
        .content_block{
            margin-left: 25px;
            h3{
                font-weight: 500;
                font-size: 22px;
                line-height: 28px;
                color: #0C2F49;    
                margin-bottom: 10px;        
            }
            p{
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #0C2F49;
                margin-bottom: 15px; 
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    display: inline-block;
                    padding-right: 15px;
                    .doctore_detail{
                        p{
                            margin-bottom: 5px;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 15px;
                            color: #0C2F49;
                        }
                        h4{
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 19px;
                            color: #0C2F49;
                            margin-bottom: 0;
                            i{
                                color: $star_color;
                            }
                        }
                    }
                }
            }
        }
    }
    .choose_slot{
        padding: 30px 0 15px;
        .heading{
            h4{
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: #25282B;
            }
        }
        .choose_detail{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            .nearest_slot{
                margin: 0 0 10px;
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: $bodyopacitylightcolor;
                }
                h3{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #0C2F49;
                    margin-bottom: 0;
                }
            }
            .btn{
                margin: 0 0 10px;
            }
        }
    }
    .primary_btn{
        flex-wrap: wrap;
        .btn { 
            margin-top: 15px;
        }
    }
}

// Reschedule Appointment1
.select_datetime{
    .resshedule_appointment{
        display: flex;
        background: #FFFFFF;
        border: 1px solid #B6C8D6;
        border-radius: 15px;
        align-items: center;
        padding: 15px;
        .content_block{
            margin-left: 25px;
            h3{
                font-weight: 500;
                font-size: 22px;
                line-height: 28px;
                color: #0C2F49;    
                margin-bottom: 10px;        
            }
            p{
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #0C2F49;
                margin-bottom: 15px; 
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    display: inline-block;
                    padding-right: 15px;
                    .doctore_detail{
                        p{
                            margin-bottom: 5px;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 15px;
                            color: #0C2F49;
                        }
                        h4{
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 19px;
                            color: #0C2F49;
                            margin-bottom: 0;
                            i{
                                color: $star_color;
                            }
                        }
                    }
                }
            }
        }
    }
    .choose_slot{
        padding: 30px 0 15px;
        .heading{
            h4{
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: #25282B;
            }
        }
        .choose_detail{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            .nearest_slot{
                margin: 0 0 10px;
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: $bodyopacitylightcolor;
                }
                h3{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #0C2F49;
                    margin-bottom: 0;
                }
            }
            .btn{
                margin: 0 0 10px;
            }
        }
    }
    .primary_btn{
        flex-wrap: wrap;
        .btn { 
            margin-top: 15px;
        }
    }
    .consultation_datetime{
        .consultation_datetime_inner{
            margin: 0;
            border: 1px solid #B6C8D6;
            border-radius: 15px;
            .expansion_item {
                border-right: 1px solid #B6C8D6;  
                border-bottom: none;
                padding: 20px;
                .mat-button-toggle-group{
                    border: none;
                    flex-wrap: wrap;
                    margin: 0 -10px;
                    .mat-button-toggle{
                        border-left: none;
                        margin: 0 10px 10px;
                        border: 1px solid rgba(11, 73, 119, 0.15);
                        border-radius: 10px;
                        .mat-button-toggle-label-content{
                            padding: 10px 14px;
                            font-weight: 600;
                            font-size: $font_small;
                            white-space: break-spaces;
                            color: #214469;        
                            line-height: 22px;
                            white-space: break-spaces;
                        }
                        &:hover{
                            background-color: $bodycolor;
                            border-color: $bodycolor;
                            .mat-button-toggle-label-content{
                                color: $white_color;
                            }
                        }
                        &.mat-button-toggle-checked{
                            background-color: $bodycolor;
                            border-color: $bodycolor;
                            .mat-button-toggle-label-content{
                                color: $white_color;
                            }
                        }
                    }
                }
                &:last-child{
                    border: none;
                }
                &.calender{
                    padding: 0;
                }
            }
        }
    }
}


// View Immunization  modal
.view_immunization {
    .modal-dialog{
        .modal-body{
            padding: 0;
            .immunization_inner{
                .part{
                    padding: 25px;
                    &.top_part{
                        background-image: url(../../../../../assets/img/immunization_frame.png);
                        background-color: rgba(61, 167, 200, 0.1);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        h2{
                            font-size: 20px;
                            font-weight: 600;
                            color: $linkcolor;
                            margin: 0 0 5px;
                        }
                        .address{
                            font-size: 16px;
                            font-weight: 400;
                            color: $linkcolor;
                        }
                        .right_part{
                            display: flex;
                            align-items: flex-end;
                            flex-direction: column;
                            .immunization_img{
                                width: 165px;
                                margin: 0 0 15px;
                            }
                        }
                      
                    }
                    &.bottom_part{
                        .immmunization_info{
                            background: rgba(182, 200, 214, 0.2);
                            border-radius: 5px;
                            padding: 20px 20px 10px;
                            margin: 0 0 40px;
                            .item_wrapper{
                                .item{
                                    margin: 0 0 15px;
                                    label{
                                        font-size: $font_small;
                                        font-weight: 400;
                                        color: $bodyopacitylightcolor;
                                        margin: 0 0 3px;
                                    }
                                    .value{
                                        font-size: $font_small;
                                        font-weight: 700;
                                        line-height: 18px;
                                        color: $table_color; 
                                    }
                                }
                            }
                        }
                        .immmunization_secondary_info{
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
               
            }
        }
    }
}

// Add Immunization  modal
.add_immunization {
    .form_title{
        font-size: $font_medium;
        font-weight: 600;
        color: $linkcolor;
        margin: 0 0 7px;
    }
    .add_immunization_inner{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin: 0 0 10px;
        .increse_content_inner{
            width: 100%;
            .form_field_wrapper{
                .mat-form-field{
                    .mat-form-field-wrapper{
                        .mat-form-field-flex {
                            .mat-form-field-infix{
                                width: 100%;
                            }
                        }
                    }
                }
                .toggel-slide{
                    padding: 5px 15px;
                    border: 1px solid rgba(228, 228, 228, 0.9);
                    border-radius: 5px;
                    min-height: 50px;
                    margin: 0 0 15px;
                    display: flex;
                    align-items: center;
                }
                .upload_input{
                    background-color: #ffffff;
                    border: 1px solid rgba(228, 228, 228, 0.9);
                    font-size: $font_small;
                    border-radius: 5px;
                    width: 100%;
                    position: relative;
                    margin-bottom: 15px;
                    .user_upload_input{
                        opacity: 0;
                        z-index: 0;        
                        width: 100%;
                        min-height: 50px;
                    }
                    .upload_input_content{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        label{
                            color: #3DA7C8;
                            margin: 0;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .row_generate {
            border-radius: 5px;
            height: auto;
            margin: 30px 0 15px 20px;
            .mat-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 50px;
                width: 50px;
                height: 100%;
            }
            &.row_add{
                background: #0B4977;
                .mat-icon{
                    color: #ffffff; 
                }
            }
            &.row_minus{
                background: #FDE6E5;
                .mat-icon{
                    color: #F05A4F; 
                }
            }
        }
    }
}



// Quickview modal css
.quick_view{
    .modal-content{
        .modal-header{
            padding: 0;
            .btn-close{
                margin: 0;
                padding: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                background: #ffffff;
                border-radius: 50%;
                position: absolute;
                right: -15px;
                left: auto;
                top: -15px;
                bottom: auto;
                .mat-icon{
                    line-height: 30px;
                }
            }
        }
        .modal-body {
            padding: 15px;
            .docview_img{
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (min-width:1100px) {
    .view_immunization .modal-dialog {
        max-width: 1000px;
    }
}
@media screen and (max-width:$desktop_medium) {
    .appointment_detail .profile_data .profile_info ul.profile_info_with_img{
        grid-template-columns: 285px repeat(4, 1fr);
    }
    .appointment_detail .profile_appoint_details .profile_info .profile_info_inner{
        grid-template-columns: repeat(4, 1fr);   
    }
}
@media screen and (max-width:$desktop) {
    .appointment_detail .profile_data .profile_info ul.profile_info_with_img,
    .appointment_detail .healthcare_provider .profile_data .profile_info .profile_info_inner{
        grid-template-columns: 285px repeat(2, 1fr);
    }
    .appointment_detail .profile_appoint_details .profile_info .profile_info_inner{
        grid-template-columns: repeat(3, 1fr);   
    }
    .view_immunization .modal-dialog .modal-body .immunization_inner .part.top_part h2{
        font-size: 18px;
    }
}

@media screen and (max-width:$large_phone) {
    .appointment_detail .profile_data .profile_info ul.profile_info_with_img,
    .appointment_detail .healthcare_provider .profile_data .profile_info .profile_info_inner{
        grid-template-columns: 285px repeat(1, 1fr);
    }
    .appointment_detail .profile_appoint_details .profile_info .profile_info_inner{
        grid-template-columns: repeat(2, 1fr);   
    }
    .appointment_detail .profile_data .profile_info ul{
        grid-template-columns: repeat(2, 1fr);   
    }
    .appointment_detail .primary_btn{
        margin-top: 15px;
    }
    .view_immunization .modal-dialog .modal-body .immunization_inner .part.top_part{
        flex-direction: column;
        text-align: center;
    }
    .view_immunization .modal-dialog .modal-body .immunization_inner .part.top_part .right_part{
        align-items: center;
    }
    .view_immunization .modal-dialog .modal-body .immunization_inner .part.top_part .right_part .immunization_img{ 
        width: 165px;
        margin: 15px 0;
    }
    .appointment_detail .top_bar.profile_top_bar .main_title{
        margin: 0;
    }
}
@media screen and (max-width:$medium_iphone) {
    .appointment_detail .profile_data .profile_info ul.profile_info_with_img,
    .appointment_detail .healthcare_provider .profile_data .profile_info .profile_info_inner{
        grid-template-columns: repeat(1, 1fr);
    }
    .appointment_detail .profile_appoint_details .profile_info .profile_info_inner{
        grid-template-columns: repeat(1, 1fr);   
    }
    .appointment_detail .profile_data .profile_info ul{
        grid-template-columns: repeat(1, 1fr);   
    }
    .appointment_detail .top_bar.profile_top_bar .primary_btn .btn{
        width: 100%;
        margin-right: 0;
    }
    .appointment_detail .patient_details_tab .tab_content.medical_doc .bottom_bar .item{
        width: 100%;
    }
}
@media screen and (max-width:$small_phone) {
    .appointment_detail .profile_data .profile_info ul .col_item .profile_image{
        width: 70px;
        height: 70px;
        min-width: 70px;
    }
    .appointment_detail .profile_data .profile_info ul .col_item .profile_contact .profile_title{
        margin: 0 0 10px;
        font-size: 18px;
    }   
    .view_immunization .modal-dialog .modal-body .immunization_inner .part.bottom_part .immmunization_secondary_info{
        flex-direction: column;
        align-items: center;
    }
    .view_immunization .modal-dialog .modal-body .immunization_inner .part.bottom_part .immmunization_secondary_info .signature{
        margin: 0 0 15px;
    }
}

.validate_info{
    padding: 25px;
    margin: 0 0 40px;
    border: 1px solid #B6C8D6;
    border-radius: 5px;
    .prescrib_list{
        padding: 0;
        margin: 0;
        font-weight: 600;
        font-size: $font_medium;
        color: $linkcolor;
        list-style-position: inside;
        li{
            margin: 0 0 30px;
            .prescrib_text{
                font-size: $font_small;
                font-weight: 600;
                line-height: 19px;
                color: $linkcolor;
                margin: 8px 0;
                display: inline;
                &.prescrib_unit{
                    display: block;
                    font-weight: 400;
                    color: rgba(38, 50, 60, 0.75);
                }
            }
            &:last-child{
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
    .prescription_content{
        text-align: right;
        .prescription_no{
            display: inline-block;
            background: #F6F8FC;
            border: 1px solid #B6C8D6;
            border-radius: 10px;
            padding: 12px 15px;
            color: rgba(38, 50, 60, 0.75);
            span{
                font-weight: 600;
                color: $linkcolor;
            }
        }
    }
}

.disabled {
    opacity: 0.5; /* Adjust the opacity value as needed */
    pointer-events: none;
}

.custome_modal{
    .primary_btn{
        justify-content: flex-end;
    }
    &.requestamount {
        .modal-body label{
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #25282B;
        }
        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #25282B;
        }
    }
    &.approver{
        .image_block{
            text-align: center;
        }
        .primary_btn{
            text-align: center;
            justify-content: center;
            .btn {
                min-width: 40%;
            }
        }
        p{
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #25282B;
        }
    }
    &.wanttosign {
        p{
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #25282B;
        } 
        .primary_btn{
            text-align: center;
            justify-content: center;
            .btn {
                min-width: 20%;
               margin: 0 10px;
            }
        }
        .expansion_panel{
            margin-top: 20px;
            border: 1px solid #B6C8D6;
            border-radius: 15px;
        }
        .siganature{
            p{
                text-align: left;
            }
            .signature_block{
                display: flex;
                justify-content: space-between;
                background: #F5F5F5;
                border-radius: 5px;
                align-items: center;
            }
            .signature_iamge{
               padding: 15px;
            }
            .icon_img{
                background: #0B4977;
                border-radius: 5px;
                padding: 21px;
            }
           
        }
        .mat-form-field-flex {
            background-color: #0B4977 !important;
           
        }
        .mat-select-placeholder{
            color: white;
        }
        .mat-select-arrow{
            border: solid #ffffff !important;
            border-width: 0 3px 3px 0 !important; 
        }
        .mat-form-field{
            max-width: 230px;
            margin: 0 auto;
        }
        .mat-select-value{
            color: white;
        }
        .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #0B4977 !important;
        }
        
        .mat-option-text{
            color: #0B4977 !important;
        }
        .mat-option.mat-active {
            color: #0B4977 !important;
        }
    }
}
.disabled {
    pointer-events: none;
    opacity: 1;
}