@import '../../../../../assets/css/variable/variable';

.rolepermission{
    .role_item{
        margin-bottom: 25px;
        .form_field_wrapper{
            display: flex;
            justify-content: space-between;
            background: #FFFFFF;
            border: 1px solid rgba(11, 73, 119, 0.15);
            border-radius: 10px;
            padding: 10px;
            padding: 15px 10px;
            align-items: center;
            .mat-checkbox{
                width: 100%;
                .mat-checkbox-layout{
                    display: flex;
                    .mat-checkbox-inner-container{
                        order: 2;
                    }
                    .mat-checkbox-label{
                        order: 1;
                        color: $bodycolor;
                        font-size: 15px;
                        font-weight: 500;
                        margin: 0 10px 0 0;
                    }
                }
            }
            .mat-icon{
                color: #130F26;
            }
            &:hover{
                background: $bodycolor;
                border: 1px solid $bodycolor;
                label{
                    color: #ffffff;
                }
                .mat-checkbox{
                    .mat-checkbox-layout{
                        .mat-checkbox-label{
                            color: $white_color;
                        }
                    }
                }
                .mat-icon{
                    color: $white_color;
                }
            }
            label{
                margin-bottom: 0;
            }
        }
    }
}

.top_bar{
    margin: 0 0 35px;
    .left_part{
        display: flex;
        .search_bar{
            .input-group{
                background: #F6F8FC;
                border-radius: 6px;
                .form-control{
                    border: none;
                    background-color: transparent;
                    padding: 12px 12px 12px 0;
                    width: 210px;
                    &::placeholder{
                        font-weight: 400;
                        font-size: $font_small;
                        line-height: 24px;
                    }
                    &:focus{
                        box-shadow: none;
                    }
                }
                .btn{
                    padding: 0;
                    border: none;
                    .mat-icon{
                        line-height: 50px;
                        height: 50px;
                        width: 50px;
                        color: #9B9B9B;
                        font-size: 24px;
                    }
                }
            }
        }
        .content_wrap{
            .policy{
                margin: 0 0 0 20px;
                label{
                    margin-right: 12px;
                }
                width: 300px;
                .mat-form-field{          

                    .mat-form-field-wrapper{
                        padding: 0;
                        .mat-form-field-flex{
                            background-color: #EBF0F4;
                            border-color: #EBF0F4;
                            border-radius: 10px;
                            .mat-form-field-infix{
                                width: 200px;
                                .mat-select{
                                    .mat-select-value{
                                        color: $formfiled_color;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                        .mat-form-field-underline{
                            display: none;
                        }
                    }
                }
                &:first-child{
                    margin: 0;
                }
            }
        }
    }
}

.permission_commit {
    .table-wrap{
        table{
            box-shadow: none;
            border-radius: 15px;
            tr{
                &.mat-header-row {
                    height: 50px;
                }
                .mat-header-cell{
                    background: #ffffff;
                }
                .mat-cell{
                    color: #686868;
                }
                .mat-checkbox{
                    margin: 0 0 0 10px;
                }
                td {
                    border-bottom: none;
                }
            }
        }

        
    }
    .primary_btn{
        margin-top: 20px;
    }
}

.mat-expansion-panel-header-title{
    margin-left: 25px;
}

.mat-expansion-indicator::after {
    border-style: none !important;
    border-width: 0 2px 2px 0;
    content: "\e61a" !important;
    font-family: "themify-icons" !important;
    display: inline-block;
    padding: 0px !important;
    transform: none !important;
    vertical-align: middle;
    color: #0C2F49;
    font-weight: 600;
    font-size: 15px;
}

.mat-expanded .mat-expansion-indicator::after {
    border-style: none !important;
    border-width: 0 2px 2px 0;
    content: "\e622" !important;
    font-family: "themify-icons" !important;
    display: inline-block;
    padding: 0px !important;
    transform: rotate(0deg) !important;
    vertical-align: middle;
    color: #0C2F49;
    font-weight: 600;
    font-size: 15px;
}

.mat-accordion .mat-expansion-panel .mat-expansion-panel-header {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #0C2F49;
    height: 60px;
    // padding: 0 37px;
}

.mat-expansion-indicator{
    position: absolute;
    left: 10px;
    right: auto;
    background: #FFFFFF;
    border: 1px solid rgba(11, 73, 119, 0.15);
    border-radius: 4px;
    transform: rotate(0deg) !important;
    width:24px;
    height:24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-accordion .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
   background: transparent; 
}

.table-wrap{
    border: 1px solid #B6C8D6;
    border-radius: 15px;
}
.form_frame{
    border: 1px solid #B6C8D6;
    border-radius: 15px;
    .heading{
        border-bottom: 1px solid #B6C8D6;
    }
}
.inner_heading{
    display: flex;
    justify-content: space-between;
    padding: 15px 24px 15px 18px;
    align-items: center;
}
.table-wrap table{
    border: none;
    border-radius: 0 !important;
}

// .table-wrap table tr .mat-header-cell{
//     font-size: 16px;
// }
.mat-expansion-panel-body{
    p{
        padding: 6px 27px;
    }
}
.mat-accordion .mat-expansion-panel .mat-expansion-panel-header {
    font-size: 14px;
}
.mat-accordion .mat-expansion-panel{
    border-bottom: 1px solid #B6C8D6;
    border-radius: 0 !important;
}

.mat-accordion .mat-expansion-panel .mat-expansion-panel-header:last-child{
    border-bottom: none !important;
}
.mat-accordion .mat-expansion-panel:last-child{
   border-radius: 15px !important;
}
.mat-expanded .mat-expansion-panel-header {
    border-bottom: none !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom: none !important;
}


.right_block{
    display: flex;
    align-items: center;
}

.checklist{
 padding: 10px 20px;
}
.icon_group_check {
    display: flex;
    justify-content: space-between;
}
.icon_group_check{
    label{
        font-size: 14px;
    }
}
.mat-expansion-panel-spacing {
    margin: 0px 0 !important;
}
@media screen and (max-width:$desktop_large) {
    .rolepermission .role_item{
        width: auto;
        min-width: 265px;
    }
}
@media screen and (max-width:$medium_iphone) {
    .rolepermission .role_item{
        width: 100%;
        min-width: auto;
    } 
}