<div class="insurance_medicines dashboard_main_content common_space">
    <div class="user_insurance pt-30">
      <div class="row">
        <div class="col-md-6 mt-3 mt-md-0">
          <div class="user_insurance_block">
            <p>This Claim for :</p>
            <p class="value">{{ allDetails?.insurerType=='primaryInsurer'?'Primary Insurer':"Secondary Insurer" }}</p>
          </div>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
          <div class="user_insurance_block">
            <p>Insurance Type :</p>
            <!-- {{subscriber_details}} -->
            <p class="value">{{ subscriber_details?.subscriber_type }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="export_list mt-3">
      <!-- <div class="inner_exprot_list">
        <div class="primary_btn">
          <button type="button" class="btn btn-primary" (click)="openVerticallyCenteredsecond(viewdocumentdetails)">
            <mat-icon>description</mat-icon>Download Claim Template
          </button>
        </div>
        <div class="primary_btn">
          <button type="button" class="btn btn-primary" (click)="openVerticallyCenteredsecond(viewdocumentdetails)">
            <mat-icon>description</mat-icon>View Attached Documents
          </button>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-6">
  
        </div>
        <div class="col-md-3">
          <div class="primary_btn">
            <a href="{{allDetails?.previewtemplateUrl}}"> <button type="button" class="btn btn-primary">
                <mat-icon>download</mat-icon>Download Claim Template
              </button></a>
  
          </div>
        </div>
        <div class="col-md-3">
          <div class="primary_btn">
            <button type="button" class="btn btn-primary" (click)="openVerticallyCenteredsecond(viewdocumentdetails)">
              <mat-icon>description</mat-icon>View Attached Documents
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="subscribe_detail_inner mt-30">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Primary Insurer Identity </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion_panel">
            <div class="expansion_panel_inner">
              <div class="row">
                <div class="col-md-3">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>First Name:</p>
                      <p>
                        {{findvalue('First Name')==''?'-':findvalue('First Name')}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>Middle Name:</p>
                      <p>
                        {{findvalue('Middle Name')==''?'-':findvalue('Middle Name')}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>Last Name:</p>
                      <p>
                        {{findvalue('Last Name')==''?'-':findvalue('Last Name')}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>Gender:</p>
                      <p>
                        {{findvalue('Gender')==''?'-':findvalue('Gender')}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="outer_detail_block last_child">
                    <div class="detail_section">
                      <p>Date of birth:</p>
                      <p>{{findvalue('Date Of Birth')==''?'-':findvalue('Date Of Birth') | date:"MM-dd-YYYY"}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expansion_other_panel">
                <div class="row">
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Age:</p>
                        <p>{{findvalue('Age')==''?'-':(findvalue('Age')+' yrs')}} </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Insurance ID:</p>
                        <p>{{findvalue('Insurance ID')==''?'-':findvalue('Insurance ID')}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="outer_detail_block last_child">
                      <div class="detail_section">
                        <p>Insurance Validity:</p>
                        <p>From: {{findvalue('Insurance From Date')==''?'-':findvalue('Insurance From Date') |
                          date:"MM-dd-YYYY"}} To: {{findvalue('Insurance To Date')==''?'-':findvalue('Insurance To Date')
                          | date:"MM-dd-YYYY"}} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expansion_other_panel">
                <div class="row">
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Policy ID:</p>
                        <p>{{findvalue('Policy ID')==''?'-':findvalue('Policy ID')}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Card ID:</p>
                        <p>{{findvalue('Card ID')==''?'-':findvalue('Card ID')}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="outer_detail_block last_child">
                      <div class="detail_section">
                        <p>Employee ID:</p>
                        <p>{{findvalue('Employee ID')==''?'-':findvalue('Employee ID')}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expansion_other_panel">
                <div class="row">
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Insurance Holder:</p>
                        <p>{{findvalue('Insurance Holder Name')==''?'-':findvalue('Insurance Holder Name')}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Reimbursement:</p>
                        <p>{{findvalue('Reimbursement')==''?'-':(findvalue('Reimbursement')+' %')}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-4">
                    <div class="outer_detail_block last_child">
                      <div class="detail_section">
                        <p>Registration Number:</p>
                        <p>541287636201320</p>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="subscribe_detail_inner mt-30" *ngIf="allDetails?.insurerType=='secondaryInsurer'">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Secondary Insurer Identity </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion_panel">
            <div class="expansion_panel_inner">
              <div class="row">
                <div class="col-md-3">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>First Name:</p>
                      <p>{{findvaluesecondary('First Name')==''?'-':findvaluesecondary('First Name')}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>Middle Name:</p>
                      <p>{{findvaluesecondary('Middle Name')==''?'-':findvaluesecondary('Middle Name')}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>Last Name:</p>
                      <p>{{findvaluesecondary('Last Name')==''?'-':findvaluesecondary('Last Name')}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>Gender:</p>
                      <p>{{findvaluesecondary('Gender')==''?'-':findvaluesecondary('Gender')}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="outer_detail_block last_child">
                    <div class="detail_section">
                      <p>Date of birth:</p>
                      <p>{{findvaluesecondary('Date Of Birth')==''?'-':findvaluesecondary('Date Of Birth') |
                        date:"MM-dd-YYYY"}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expansion_other_panel">
                <div class="row">
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Age:</p>
                        <p>{{findvaluesecondary('Age')==''?'-':(findvaluesecondary('Age')+' yrs')}} </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Insurance ID:</p>
                        <p>{{findvaluesecondary('Insurance ID')==''?'-':findvaluesecondary('Insurance ID')}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="outer_detail_block last_child">
                      <div class="detail_section">
                        <p>Insurance Validity:</p>
                        <p>From: {{findvaluesecondary('Insurance From Date')==''?'-':findvaluesecondary('Insurance From
                          Date') | date:"MM-dd-YYYY"}} To: {{findvaluesecondary('Insurance To
                          Date')==''?'-':findvaluesecondary('Insurance To Date') | date:"MM-dd-YYYY"}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expansion_other_panel">
                <div class="row">
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Policy ID:</p>
                        <p>{{findvaluesecondary('Policy ID')==''?'-':findvaluesecondary('Policy ID')}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Card ID:</p>
                        <p>{{findvaluesecondary('Card ID')==''?'-':findvaluesecondary('Card ID')}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="outer_detail_block last_child">
                      <div class="detail_section">
                        <p>Employee ID:</p>
                        <p>{{findvaluesecondary('Employee ID')==''?'-':findvaluesecondary('Employee ID')}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expansion_other_panel">
                <div class="row">
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Insurance Holder:</p>
                        <p>{{findvaluesecondary('Insurance Holder Name')==''?'-':findvaluesecondary('Insurance Holder
                          Name')}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="outer_detail_block">
                      <div class="detail_section">
                        <p>Reimbursement:</p>
                        <p>{{findvaluesecondary('Reimbursement')==''?'-':(findvaluesecondary('Reimbursement')+' %')}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="outer_detail_block last_child">
                      <div class="detail_section">
                        <p>Relation with the Pirmary Insured:</p>
                        <p>{{findvaluesecondary('Relation With The Primary Insured')==''?'-':findvaluesecondary('Relation
                          With The Primary Insured')}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="expansion_other_panel">
                <div class="row">
                  <div class="col-md-7">
                    <div class="outer_detail_block two_block">
                      <div class="detail_section">
                        <p>Relation with the Pirmary Insured:</p>
                        <p>Wife</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  
    <div class="subscribe_detail_inner mt-30">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Deliver Information </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion_panel">
            <div class="expansion_panel_inner">
              <div class="row">
                <div class="col-md-4">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>Deliver Centre:</p>
                      <p>{{ allDetails?.deliverCenterName }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>Deliver Information Name:</p>
                      <p>
                        {{ allDetails?.deliverCenterInfo?.deliverFirstName }}
                        {{ allDetails?.deliverCenterInfo?.deliverMiddleName }}
                        {{ allDetails?.deliverCenterInfo?.deliverLastName }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="outer_detail_block last_child">
                    <div class="detail_section">
                      <p>Deliver information Role:</p>
                      <p>{{ allDetails?.deliverCenterInfo?.deliverTitle }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  
    <div class="subscribe_detail_inner mt-30">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Prescibing Centre </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion_panel">
            <div class="expansion_panel_inner">
              <div class="row">
                <div class="col-md-3">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>Name of the Centre:</p>
                      <p>
                        {{ allDetails?.prescriberCenterInfo?.prescriberCenter }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>Prescriber First Name:</p>
                      <p>
                        {{
                        allDetails?.prescriberCenterInfo?.prescriberFirstName
                        }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="outer_detail_block">
                    <div class="detail_section">
                      <p>Prescriber Last Name:</p>
                      <p>
                        {{ allDetails?.prescriberCenterInfo?.prescriberLastName }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="outer_detail_block last_child">
                    <div class="detail_section">
                      <p>Specialist:</p>
                      <p>
                        {{ allDetails?.prescriberCenterInfo?.prescriberSpecialty }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  
    <div class="subscribe_detail_inner mt-30">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <div class="expansion_panel">
            <div class="table-wrap">
              <div class="table-inner">
                <table mat-table [dataSource]="dataSources" class="mat-elevation-z8">
                  <ng-container matColumnDef="medicinename">
                    <th mat-header-cell *matHeaderCellDef>Medicine Name</th>
                    <td mat-cell *matCellDef="let element">
  
                      <span [ngClass]="{'excludedcheck':checkmedicine(element?.medicineName)}">{{ element?.medicineName }}
                        <span *ngIf="checkmedicine(element?.medicineName)"
                          ngbTooltip="This medicine is excluded in your health plan"> <i class="fa fa-info-circle"
                            style="color: red;"></i></span> </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="totalamount">
                    <th mat-header-cell *matHeaderCellDef>Total Amount</th>
                    <td mat-cell *matCellDef="let element">
                      <span [ngClass]="{'excludedcheck':checkmedicine(element?.medicineName)}">
                        {{ element?.totalCost ? (element?.totalCost | number:'1.2-2') + " CFA" : "" }}
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="copayment">
                    <th mat-header-cell *matHeaderCellDef>Co-pay Amount</th>
                    <td mat-cell *matCellDef="let element">
                      <span [ngClass]="{'excludedcheck':checkmedicine(element?.medicineName)}">
  
                        {{ element?.coPayment ? (element?.coPayment | number:'1.2-2') + " CFA" : "" }}
                      </span>
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="requestedamount">
                    <th mat-header-cell *matHeaderCellDef>Requested Amount</th>
                    <td mat-cell *matCellDef="let element">
                      <span [ngClass]="{'excludedcheck':checkmedicine(element?.medicineName)}">
                        {{ element?.requestAmount ? (element?.requestAmount | number:'1.2-2') + " CFA" : "" }}
                      </span>
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="frequency">
                    <th mat-header-cell *matHeaderCellDef>Frequency</th>
                    <td mat-cell *matCellDef="let element">
                      <span [ngClass]="{'excludedcheck':checkmedicine(element?.medicineName)}">
                        {{ element?.frequency }}
                      </span>
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="unitpackprescribed">
                    <th mat-header-cell *matHeaderCellDef>
                      Unit/Pack Prescribed
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span [ngClass]="{'excludedcheck':checkmedicine(element?.medicineName)}">
                        {{
                        element?.quantityPrescribed
                        ? element?.quantityPrescribed + " Packs"
                        : ""
                        }}
                      </span>
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="quantitydelivered">
                    <th mat-header-cell *matHeaderCellDef>Quantity Delivered</th>
                    <td mat-cell *matCellDef="let element">
                      <span [ngClass]="{'excludedcheck':checkmedicine(element?.medicineName)}">
                        {{
                        element?.quantityDelivered
                        ? element?.quantityDelivered + " Packs"
                        : ""
                        }}
                      </span>
                    </td>
                  </ng-container>
  
  
  
                  <ng-container *ngFor="let column of dynamiccolumns" [matColumnDef]="column.columnDef">
                    <!-- <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell> -->
                    <th mat-header-cell *matHeaderCellDef>
                      {{ column.header }}
  
                    </th>
                    <td mat-cell *matCellDef="let element; let index = index">
                      <!-- {{ element[column.columnDef] }} -->
  
  
  
                      <a class="icon_group_status">
                        <a class="{{
                            checkLoginUser(element.staffData,element._id,column.staffRoleID)?.type == 'approved'
                              ? 'approved'
                              : 'rejected'
                          }}">{{
                          checkLoginUser(element.staffData,element._id,column.staffRoleID)?.type == 'approved'
                          ? "Approved"
                          : "Rejected"
                          }}</a>
                        &nbsp;
  
                        <img class="img-fluid" src="../../../../../assets/img/insurance-medicines/info_details.svg"
                          alt="approve"
                          title="{{   checkLoginUser(element.staffData,element._id,column.staffRoleID)?.comment }}" />
                      </a>
  
  
                    </td>
                  </ng-container>
  
  
                  <!-- <ng-container matColumnDef="medicalanalysis">
                    <th mat-header-cell *matHeaderCellDef>Medical Analysis</th>
                  
                    <td mat-cell *matCellDef="let element">
                      <a
                        class="{{
                          element?.cfo?.isApproved === null
                            ? 'pending'
                            : element?.cfo?.isApproved
                            ? 'approved'
                            : 'rejected'
                        }}"
                        >{{
                          element?.cfo?.isApproved === null
                            ? "Pending"
                            : element?.cfo?.isApproved
                            ? "Approved"
                            : "Rejected"
                        }}</a
                      >
                    </td>
                  
                  </ng-container>
  
                  <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef>Comment</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element?.medicalAdvisor?.comment }}
                    </td>
                  </ng-container> -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumnss"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnss"></tr>
                </table>
                <div class="text-center" *ngIf="dataSources.length ==0">
                  <h2>No Data Found!!</h2>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="expansion_panel_inner last_table_data">
      <div class="row">
        <div class="col-md-2">
          <div class="outer_detail_block">
            <div class="detail_section">
              <p>{{ "total" | translate }}:</p>
              <p>{{ totalCoPayment ? (totalCoPayment | number:'1.2-2') + " CFA" : "" }}</p>
  
              <!-- <p>{{ totalCost ? (totalCost | number:'1.2-2') + " CFA" : "" }}</p> -->
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="outer_detail_block">
            <div class="detail_section">
              <p>{{ "co-payment" | translate }}:</p>
              <p>{{ totalCost ? (totalCost | number:'1.2-2') + " CFA" : "" }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="outer_detail_block">
            <div class="detail_section">
              <p>Total Amount Approved : <span>
                  {{
                  lastElement
  
                  ? lastElement
                  : " - "
                  }}
                </span></p>
  
              <p>Total Amount Rejected : <span>
                  {{
                  (totalToBePaidByInsurance -
                  lastElement | number : "1.2-2")
                  }}
                </span></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="outer_detail_block last_child">
            <div class="detail_section">
              <p>{{ "to_be_paid_by_the_insurance" | translate }}:</p>
              <p>
                {{
                totalToBePaidByInsurance
                ? (totalToBePaidByInsurance | number:'1.2-2') + " CFA"
                : "0 CFA"
                }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="outer_detail_block last_child">
            <div class="detail_section" *ngFor=" let data of uniqueRole">
              <p>Total Amount Approved By {{data.roleInfoData}} : <span>
                  {{
                  data.amount
  
                  ? data.amount
                  : " - "
                  }}
                </span></p>
  
            </div>
          </div>
        </div>
        <!-- <div class="col-md-3">
          <div class="outer_detail_block last_child">
            <div class="detail_section">
              <p>Total Approved Amount:</p>
              <p>
                {{
                totalApprovedAmountByCFO
                ? (totalApprovedAmountByCFO | number:'1.2-2') + " CFA"
                : "0 CFA"
                }}
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  
  
  
  <ng-template #viewdocumentdetails let-modal>
    <div class="custome_modal">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">View Attached Documents</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <!-- {{allDetails.medicineclaimdocs | json}} -->
        <div class="row">
          <div class="col-md-2 col-sm-6" *ngFor="let claimdata of allDetails.medicineclaimdocs; let i=index">
            <a href="{{claimdata.document_signed_url}}"> <span class="downloadicon">
                <mat-icon>download</mat-icon>
              </span></a>
  
            <img src="{{claimdata.document_signed_url}}" class="documentimage">
            <span>{{claimdata.fileName}}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>