@import '../../../../../assets/css/variable/variable';

.insurance_details{
    .profile_data{
        background: #ffffff;
        border: 1px solid #B6C8D6;
        border-radius: 15px;
        background: #ffffff;
        .profile_info{
            padding: 25px 25px 25px;
            position: relative; 
            ul{
                display: grid;
                align-items: baseline;
                grid-gap: 20px;
                grid-template-columns: 285px repeat(5, 1fr);
                border-bottom: 1px solid #C4CDEA;
                padding-bottom: 25px;
                margin-bottom: 25px;
                padding-left: 0;
                padding-right: 0;
                .col_item{
                    display: flex;
                    align-items: flex-start;
                    min-height: 60px;
                    .profile_image{
                        width: 95px;
                        height: 95px;
                        margin: 0 20px 0 0;
                        border-radius: 10px;
                        overflow: hidden;
                    }
                    .profile_contact{
                        .row {
                            display: flex;
                            flex-wrap: nowrap;
                            margin-bottom: 20px;
                        }
                        .profile_title{
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 24px;
                            letter-spacing: 0em;
                            color: $linkcolor;
                            margin: 0 0 15px;
                        }
                        .lable{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16px;
                            letter-spacing: 0.05em;
                            color: $bodyopacitylightcolor;
                            margin: 0 0 6px;
                        }
                        .user_value{
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: $linkcolor;
                            letter-spacing: 0.05em;
                        }
                    }
                }
                &.company_detail{
                    grid-template-columns: repeat(5, 1fr);
                    border-bottom:none;
                    padding-bottom: 0;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .primary_btn{
        justify-content: flex-end;
        margin-top: 30px;
    }
}
// Select claim modal css
.select_claim {
    .modal-body{
        .primary_btn{
            margin-top: 15px;
        }
    }
}

@media screen and (max-width:$desktop_medium) {
    .insurance_details .profile_data .profile_info ul{
        grid-template-columns: 300px repeat(2, 1fr);
    }
}
@media screen and (max-width:$desktop) {
    .insurance_details .profile_data .profile_info ul.company_detail{
        grid-template-columns: repeat(3, 1fr);
    }
    .insurance_details .profile_data .profile_info ul .col_item{
        min-height: 70px;
    }
}
@media screen and (max-width:$large_phone) {
    .insurance_details .profile_data .profile_info ul,
    .insurance_details .profile_data .profile_info ul.company_detail{
        grid-template-columns: repeat(2, 1fr);
    }
    .insurance_details .profile_data .profile_info ul .col_item {
        min-height: 60px;
    }
}
@media screen and (max-width:$medium_iphone) {
    .insurance_details .profile_data .profile_info ul,
    .insurance_details .profile_data .profile_info ul.company_detail{
        grid-template-columns: repeat(1, 1fr);
    }
    .insurance_details .profile_data .profile_info ul .col_item {
        min-height: auto;
        margin: 0 0 15px;
        &:last-child{
            margin: 0;
        }
    }
}
@media screen and (max-width:$small_phone) {
    .insurance_details .profile_data .profile_info ul .profile_image_wrapper{
        flex-direction: column;
        .profile_image{
            width: 70px;
            height: 70px;
            margin: 0 0 20px;
        }
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
  }
  