@import "../../../../../assets/css/variable/variable";

.create_profile{
  margin: 60px 0;
  overflow: hidden;
  .main_title{
      color: $black_light_color;
      margin: 0 0 30px;
  }
  .create_profile_inner{
      border: 1px solid rgba(228, 228, 228, 0.9);
      border-radius: 15px;
      padding: 30px;
      .profile_img{
          background: #E7E7E7;
          border-radius: 10px;
          padding: 15px;
          display: inline-block;
          margin: 0 0 30px;
          position: relative;
      }

      .form_field_wrapper{
        select2
            {
                width: 100%;
            }
          label{
              color: $bodycolor;
          }
          .fieldicon_wrap{
              display: flex;
              justify-content: space-between;
              .mat-form-field{
                  width: 85%;
              }
              .mat-icon{
                  border-radius: 5px;
                  width: 50px;
                  height: 50px;
                  line-height: 50px;
                  text-align: center;
                  margin-left: 15px;
                  font-family: 'Material Icons';
                  &.minus{
                      background: #FDE6E5;
                      color: #F05A4F;
                  }
                  &.plus{
                      background: #0B4977;
                      color: #ffffff;
                  }
              }
          }
          .mat-form-field{
              width: 100%;
              .mat-form-field-wrapper{
                //   padding-bottom: 30px;
                  .mat-form-field-flex{
                      .mat-form-field-infix{
                          .mat-input-element {
                              color: $bodyopacitycolor;
                          }
                      }
                  }
              }
          } 
          .upload_input{
              padding: 11px 15px;
              margin-bottom: 30px;
              background-color: #ffffff;
              border: 1px solid rgba(228, 228, 228, 0.9);
              font-size: $font_small;
              border-radius: 5px;
              width: 100%;
              position: relative;
              .user_upload_input{
                  opacity: 0;
                  z-index: 0;
              }
            //   .upload_input_content{
            //       display: flex;
            //       align-items: center;
            //       position: absolute;
            //       top: 10px;
            //       bottom: auto;
            //       label{
            //           margin: 0 0 0 10px;
            //       }
            //   }
          }
      }
      .healthcare_network{
          padding: 30px 0 20px 0;
          margin: -1px 0 0;
          position: relative;
          &::before{
            content: "";
            height: 1px;
            background: rgba(228, 228, 228, 0.9);  
            position: absolute;
            left:-30px;
            right: -30px;
            top: 0;
            bottom: auto;
          }
          &::after{
              content: "";
              height: 1px;
              background: rgba(228, 228, 228, 0.9);  
              position: absolute;
              left:-30px;
              right: -30px;
              top: auto;
              bottom: 0;
          }
          h2{
              font-size: $font_large;
          }
          &.association{
              .association_part{
                  .association_part_inner{
                      margin: 0 -30px;
                      .item{
                          width: auto;
                          padding: 0 30px;
                          margin: 0 0 15px;
                          .title{
                              font-size: $font_medium;
                              color: rgba(12, 47, 73, 0.8);
                              margin: 0 0 15px;
                          }
                          .mat-radio-group{
                              .mat-radio-button{
                                  margin: 0 30px 0 0;
                              }
                          }
                      }
                  }
              }
              .association_field{
                  padding-bottom: 30px;
                  margin-top: 15px;
                  .row{
                      margin: 0 -25px;
                      .association_item{
                          padding: 0 25px;
                          margin: 0 0 15px;
                          .form_field_wrapper{
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                              .mat-form-field{
                                  .mat-form-field-wrapper{
                                      padding-bottom: 0;
                                  }
                              }
                              .row_generate {
                                  margin: 0 0 0 10px;
                                  border-radius: 5.1416px;
                                  .mat-icon{
                                      height: 50px;
                                      width: 50px;
                                      line-height: 50px;
                                      text-align: center;
                                  }
                                  &.row_add{
                                      background: #0B4977;
                                      .mat-icon{
                                          color: #ffffff; 
                                      }
                                  }
                                  &.row_minus{
                                      background: #FDE6E5;
                                      .mat-icon{
                                          color: #F05A4F; 
                                      }
                                  }
                              }
                          }
                      }
                  }
              }
              
          }
          &.onduty_group{
              .onduty{
                  .onduty_inner{
                      margin: 0 -30px;
                      .item{
                          width: auto;
                          padding: 0 30px;
                          margin: 0 0 15px;
                          .title{
                              font-size: $font_medium;
                              color: rgba(12, 47, 73, 0.8);
                              margin: 0 0 15px;
                          }
                          .mat-radio-group{
                              .mat-radio-button{
                                  margin: 0 30px 0 0;
                              }
                          }
                      }
                  }
              }
          }
          &.mobile_paydetails {
            .modal-body{
                padding: 0;
                .paydetail_content {
                    width: 75%;
                    margin-bottom: 0;
                    .modal_content_inner{
                        width: 100%;
                    }
                    .field-wrap-block {
                        border: 1px solid $formfiledbordercolor;
                        border-radius: 5px;
                        .mat-form-field-wrapper {
                            padding-bottom: 0;
                        }
                        .mat-select {
                            display: inline-flex;
                            align-items: center;
                            width: 100px;
                            padding: 0 10px;
                            background-color: rgba(0,0,0,.04);
                        }
                        .mat-form-field {
                            width: calc(100% - 80px);
                            .mat-form-field-flex {
                                border: none;
                            }
                        }
                    }
                }
            }
            &::after{
                display: none;
            }
        } 
        &.picture_section{
            .image_wrapper {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -15px;
                .item{
                    padding: 0 15px;
                    margin: 0 0 30px;
                    .user_image_upload{
                        margin: 0;
                        .user_upload_input{
                            width: 171px;
                            height: 156px;
                        }
                        .user_upload_block{
                            margin-left: 0;
                            position: absolute;
                            left: 0;
                            .user_upload_wrapper{
                                width: 171px;
                                height: 156px;
                                line-height: 156px;
                                border-radius: 10px;
                                background: rgba(182, 200, 214, 0.5);
                                flex-direction: column;
                                .mat-icon{
                                    color: #728b9d;
                                    height: 30px;
                                    width: 30px;
                                    font-size: 30px;
                                    label{
                                        margin: 10px 0 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .boxes_wrapper {
                display: flex;
                flex-direction: column;
                .boxes {
                    background: #B6C8D6;
                    opacity: 0.5;
                    border-radius: 5px;
                    width: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .inner_boxes{
                        text-align: center;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        p{
                        margin-bottom: 0;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #0C2F49;
                        }
                    }
                }
                .preview-img{
                    //   margin: 0 15px;
                    img{
                        height: 110px;
                        width: 110px;
                        border-radius: 5px;
                    }
                }
                .images-preview {
                    display: flex;
                    gap: 12px;
                    flex-wrap: wrap;
                    .preview-img {
                        position: relative;
                    }
                }
            }
            .add_image {
            .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
                border: none;
                padding: 0;
            }
            }
            .boxes {
                height: auto;
                padding: 8px 5px;
            }
            .user_image_upload {
                margin: 0;
                width: 100%;
                display: flex;
                position: relative;
                input {
                    height: auto;
                    width: 100%;
                    opacity: 0;
                    position: absolute;
                    cursor: pointer;
                }
                .user_upload_block {
                    margin: 0;
                    width: 100%;
                }
                .user_upload_wrapper {
                    height: inherit;
                    width: inherit;
                    line-height: inherit;
                    mat-icon {
                        position: relative;
                        top: 3px;
                    }
                    p {
                        margin: 0;
                        line-height: inherit;
                        label {
                            margin: 0;
                        }
                    }
                }
            }
      }
          .upload_item{
              .form_field_wrapper{
                  .upload_text{
                      border: 1px solid rgba(228, 228, 228, 0.9);
                      border-radius: 5px;
                      position: relative;
                      font-weight: 500;
                      font-size: 16px;
                      line-height: 19px;
                      color: #3DA7C8;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 50px;
                      margin: 0 0 30px;
                  }
              }
          }
      }
      .btn_wrap{
          justify-content: center;
          margin: 30px 0 0;
         .btn-secondary{
              margin-left: 15px;
          }
      }
  }
  .primary_btn{
      justify-content: flex-end;
  }
}

@media screen and (max-width: $desktop) {
    .create_profile {
        .create_profile_inner {
            .additional-number {
                .form_field_wrapper {
                    .fieldicon_wrap {
                        justify-content: inherit;
                        .mat-form-field {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$tablet) {
  .create_profile .create_profile_inner .form_field_wrapper .fieldicon_wrap .mat-form-field {
      width: 66%;
  }
}
@media screen and (max-width:$large_phone) {
  .create_profile .create_profile_inner .form_field_wrapper .fieldicon_wrap .mat-form-field {
      width: 85%;
  }
  .create_profile .create_profile_inner .healthcare_network .upload_item label{
      display: none;
  }
}

@media screen and (max-width: $medium_iphone) {
    .create_profile {
        .create_profile_inner {
            .additional-number {
                .form_field_wrapper {
                    .fieldicon_wrap {
                        .mat-form-field {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$small_phone) {
  .create_profile .create_profile_inner .form_field_wrapper .fieldicon_wrap .mat-form-field {
      width: 68%;
  }
  .association_field  .association_item  .form_field_wrapper .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
      width: 110px;
  }
  .create_profile .create_profile_inner .healthcare_network.picture_section .boxes_wrapper .preview-img img{
      height: 100px;
      width: 100px;
  }
  .create_profile .create_profile_inner .healthcare_network.picture_section .boxes_wrapper .boxes{
      height: 100px;
      width: 100px;
  }
}

.image-upload {
  input {
      display: none;
  }
  img {
      width: 80px;
      cursor: pointer;
  }
}
.closeicon
{
  margin-left: 4px;
  margin-top: 3px;
}

.quick_view
{
  position: absolute;
  margin-left: 84px;
  background: #0B4977;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: -12px;
  color: white;
}

.upload_item {
    .quick_view {
        top: 0;
        right: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        .closeicon {
            margin: 0;
        }
    }
}
// .mat-error {
//     position: relative;
//     top: -25px;
// }

// .mobile_paydetails {
//     .modal-body{
//         padding: 0;
//         .paydetail_content {
//             width: 75%;
//             margin-bottom: 0;
//             .modal_content_inner{
//                 width: 100%;
//             }
//             .field-wrap-block {
//                 border: 1px solid $formfiledbordercolor;
//                 border-radius: 5px;
//                 .mat-form-field-wrapper {
//                     padding-bottom: 0;
//                 }
//                 .mat-select {
//                     display: inline-flex;
//                     align-items: center;
//                     width: 40px;
//                     padding: 0 10px;
//                     background-color: rgba(0,0,0,.04);
//                 }
//                 .mat-form-field {
//                     width: calc(100% - 80px);
//                     .mat-form-field-flex {
//                         border: none;
//                     }
//                 }
//             }
//         }
//     }
//     &::after{
//         display: none;
//     }
// } 

.quick_view
{
  position: absolute;
//   margin-left: 84px;
  top: 5px;
  right: -5px;
  z-index: 1;
  background: #0B4977;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: -12px;
  color: white;
  .material-icons {
    font-size: 18px;
    position: relative;
    top: 3.5px;
    left: 3.5px;
    margin: 0;
  }
}
.form_field_wrapper {
    .select2-container {
        .select2-selection {
            margin: 0 !important;
        }
    }
}
.select2-container {
    .select2-selection--single {
        .select2-selection__rendered {
            white-space: break-spaces !important;
        }
    }
}
