<div class="hospital_details dashboard_main_content">
  <div class="profile_data">
    <div class="profile_info">
      <ul class="profile_info_inner">
        <li class="col_item profile_image_wrapper">
          <div class="profile_image">
            <img src="{{ hospitalDetails?.profile_picture }}" />
          </div>
          <div class="profile_contact">
            <div class="profile_title">
              {{ hospitalDetails?.hospital_name }}
            </div>
            <div class="lable">{{ "email" | translate }}</div>
            <div class="user_value">
              {{ hospitalDetails?.for_portal_user?.email }}
            </div>
          </div>
        </li>
        <li class="col_item">
          <div class="profile_contact">
            <div class="lable">{{ "phone_number" | translate }}</div>
            <div class="user_value">
              {{ hospitalDetails?.for_portal_user?.mobile }}
            </div>
          </div>
        </li>
        <!-- <li class="col_item">
          <div class="profile_contact">
            <div class="lable">Role</div>
            <div class="user_value">Hospital</div>
          </div>
        </li> -->
        <li class="col_item">
          <div class="profile_contact">
            <div class="lable">{{ "address" | translate }}</div>
            <div class="user_value">
              4517 Washington Ave. Manchester, Kentucky 39495
            </div>
          </div>
        </li>
      </ul>
      <ul class="profile_info_inner hospitalsub_data">
        <li class="col_item">
          <div class="profile_contact">
            <div class="lable">{{ "total_doctors" | translate }}</div>
            <div class="user_value">20</div>
          </div>
        </li>
        <li class="col_item">
          <div class="profile_contact">
            <div class="lable">{{ "type_of_health_centre" | translate }}</div>
            <div class="user_value">
              {{ hospitalDetails?.category_of_health_center }}
            </div>
          </div>
        </li>
        <li class="col_item">
          <div class="profile_contact">
            <div class="lable">{{ "specialty" | translate }}</div>
            <div class="user_value">Lorem Ipsum is simply dummy</div>
          </div>
        </li>
        <li class="col_item">
          <div class="profile_contact">
            <div class="lable">{{ "department" | translate }}</div>
            <div class="user_value">Lorem Ipsum is simply dummy</div>
          </div>
        </li>
        <li class="col_item">
          <div class="profile_contact">
            <div class="lable">{{ "joined_date" | translate }}</div>
            <div class="user_value">
              {{ hospitalDetails?.createdAt | date : "dd/MM/YYYY" }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <h3>{{ "about" | translate }}</h3>
  <div class="profile_data">
    <div class="profile_info">
      <p>
        {{ hospitalDetails?.about_hospital }}
      </p>
    </div>
  </div>

  <h3>{{ "picture" | translate }}</h3>
  <div class="hospital_img">
    <div class="row" *ngFor="let picture of hospitalDetails?.hospitalPictures">
      <div class="item col-sm-3 col-xl-2">
        <img src="{{ picture }}" />
      </div>
      <!-- <div class="item col-sm-3 col-xl-2">
        <img src="../../../../../assets/img/hospital_img.png" />
      </div>
      <div class="item col-sm-3 col-xl-2">
        <img src="../../../../../assets/img/hospital_img.png" />
      </div>
      <div class="item col-sm-3 col-xl-2">
        <img src="../../../../../assets/img/hospital_img.png" />
      </div> -->
    </div>
  </div>

  <h3>{{ "license" | translate }}</h3>
  <div class="profile_data">
    <div class="profile_info">
      <div class="row">
        <div class="item_info">
          <div class="user_img">
            <img src="{{ hospitalDetails?.license?.image }}" />
          </div>
        </div>
        <div class="item_info">
          <label>{{ "license_number" | translate }}</label>
          <div class="value">{{ hospitalDetails?.license?.number }}</div>
        </div>
        <div class="item_info">
          <label>{{ "licence_validity" | translate }}</label>
          <div class="value">
            {{ hospitalDetails?.license?.expiry_date | date : "dd/MM/YYYY" }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <h3>Document</h3>
  <div class="profile_data">
    <div class="profile_info">
      <div class="row">
        <div class="item_info">
          <div class="user_img">
            <img src="../../../../../assets/img/doc.png" />
          </div>
        </div>
        <div class="item_info">
          <label>Document Name</label>
          <div class="value">Lorem ipsum dolor</div>
        </div>
        <div class="item_info">
          <label>Issue Date</label>
          <div class="value">22-05-2018</div>
        </div>
        <div class="item_info">
          <label>Expiration Date</label>
          <div class="value">22-05-2030</div>
        </div>
      </div>
    </div>
  </div> -->

  <h3>{{ "Subscription Plan" | translate }}</h3>
  <div class="profile_data">
    <div class="text-center" *ngIf="subscriptionPlans.length === 0">
      <b>{{ "no_plan_purchased" | translate }}</b>
    </div>

    <div class="profile_info" *ngFor="let plan of subscriptionPlans">
      <div class="row">
        <div class="item_info">
          <label>{{ "plan" | translate }}</label>
          <div class="value">{{ plan?.subscription_plan_name }}</div>
        </div>
        <div class="item_info">
          <label>{{ "status" | translate }}</label>
          <div class="value">
            <span class="status {{ checkForExpiry(plan?.expiry_date) }}"
              >{{ checkForExpiry(plan?.expiry_date) }}
            </span>
          </div>
        </div>
        <div class="item_info">
          <label>{{ "features" | translate }}</label>
          <div
            class="value"
            *ngFor="let statement of planServiceStatement(plan?.services)"
          >
            {{ statement }}
          </div>
        </div>
        <div class="item_info">
          <label>{{ "plan_price" | translate }}</label>
          <div class="value">
            {{ plan?.currency_code }} {{ plan?.plan_price }}
          </div>
        </div>
        <div class="item_info">
          <label>{{ "plan_type" | translate }}</label>
          <div class="value">{{ plan?.plan_type }}</div>
        </div>
        <div class="item_info">
          <label>{{ "purchase_date" | translate }}</label>
          <div class="value">{{ plan?.createdAt | date : "dd/MM/YYYY" }}</div>
        </div>
        <div class="item_info">
          <label>{{ "expiry_date" | translate }}</label>
          <div class="value">
            {{ plan?.expiry_date | date : "dd/MM/YYYY" }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>{{ "mobile_pay_details" | translate }}</h3>
  <div class="profile_data">
    <div class="text-center" *ngIf="hospitalDetails?.in_mobile_pay === null">
      <b>{{ "no_details_found" | translate }}</b>
    </div>

    <div class="profile_info" *ngIf="hospitalDetails?.in_mobile_pay != null">
      <div class="row">
        <div class="item_info">
          <label>{{ "name_of_mobile_provider" | translate }}</label>
          <div class="value">
            {{ hospitalDetails?.in_mobile_pay?.mobilePay[0]?.provider }}
          </div>
        </div>
        <div class="item_info">
          <label>{{ "mobile_pay_number" | translate }}</label>
          <div class="value">
            {{ hospitalDetails?.in_mobile_pay?.mobilePay[0]?.pay_number }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="primary_btn">
    <button
      type="button"
      class="btn btn-secondary"
      [routerLink]="['/super-admin/hospital/permission', for_portal_userId]"
    >
      {{ "edit_role_permission" | translate }}
    </button>

    <button
      type="button"
      class="btn btn-primary"
      (click)="openVerticallyCentereddetale(addsecondsubsriber)"
    >
      {{ "delete" | translate }}
    </button>
  </div>
</div>

<!-- Delete modal -->

<ng-template #addsecondsubsriber let-modal>
  <div class="custome_modal action_modals">
    <div class="modal-body">
      <div class="delete_screen text-center">
        <div class="image delete">
          <img
            class="img-fluid"
            src="../../../../assets/img/delete.svg"
            alt=""
          />
        </div>
        <p class="heading delete">{{ "are_you_sure" | translate }}</p>
        <p>{{ "you_want_to_delete_this_plan" | translate }}</p>
        <div class="primary_btn mt-30">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')"
          >
            {{ "no" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="activeLockDeleteHospital('DELETE')"
          >
            {{ "yes" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Block modal -->
<ng-template #block let-modal>
  <div class="custome_modal action_modals">
    <div class="modal-body">
      <div class="delete_screen text-center">
        <div class="image block">
          <img
            class="img-fluid"
            src="../../../../assets/img/block.svg"
            alt=""
          />
        </div>
        <p class="heading delete">{{ "are_you_sure" | translate }}</p>
        <p>{{ "you_want_to_block_this_doctor" | translate }}</p>
        <div class="primary_btn mt-30">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')"
          >
            {{ "no" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="activeLockDeleteHospital('BLOCK')"
          >
            {{ "yes" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Reasone for Block modal -->
<ng-template #reasoneforblock let-modal>
  <div class="custome_modal action_modals reasoneforblock">
    <div class="modal-header">
      <h4 class="modal-title text-center" id="modal-basic-title">
        {{ "reason_for_block" | translate }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form_field_wrapper">
          <label>{{ "reason" | translate }}</label>
          <mat-form-field appearance="fill">
            <textarea matInput #reason></textarea>
          </mat-form-field>
        </div>
        <div class="primary_btn">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')"
          >
            {{ "cancel" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="handleBlockDoctor(reason.value)"
          >
            {{ "submit" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
