<div class="login">
    <div class="login_inner">
        <div class="row">
            <div class="left_part part col-md-6">
                <div class="leftpart_inner">
                    <div class="logo">
                        <img [src]="login_logo" alt="Store logo">
                    </div>
                </div>
            </div>
            <div class="right_part part col-md-6">
                <div class="rightpart_inner">
                    <div class="login_form">
                        <div class="login_form_inner">
                            <form>
                                <div class="login_img">
                                    <img src="../../../../assets/img/right_arrow.svg">
                                </div>
                                <div class="title_wrapper">
                                    <h4 class="form_title">{{'password_reset'|translate}}</h4>
                                    <div class="form_desc pass_reset">
                                        {{'your_password_has_been_successfully_reset._click_below_to_sign_in_magically'|translate}}.</div>
                                </div>

                                <div class="form-btn primary_btn">
                                    <button class="login_btn btn btn-primary">{{'continue'|translate}}</button>
                                </div>

                                <div class="signup_section">
                                    <div class="signup backlogin" [routerLink]="['/insurance/login']">
                                        <mat-icon>west</mat-icon>{{'back_to_log_in'|translate}}
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>