<!-- <div>
    <div>
        <app-pharmacy-sidebar></app-pharmacy-sidebar>
    </div>
    <div>
        <div>
            <app-pharmacy-header></app-pharmacy-header>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->




<div class="main_block">
    <div class="sidebar_section">
        <app-pharmacy-sidebar></app-pharmacy-sidebar>
    </div>
    <div class="main_section">
        <div>
            <app-pharmacy-header></app-pharmacy-header>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>