<div class="hospital_dashboad dashboard_main_content">
  <div class="top_bar up_bar common_space">
    <div class="content_wrap">
      <div class="policy">
        <label>{{ "date" | translate }}:</label>
        <div class="form_field_wrapper">
          <mat-form-field class="example-full-width" appearance="fill">
            <input
              matInput
              [matDatepickerFilter]="myFilter"
              placeholder="Date"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="counter_section common_space">
    <div class="row">
      <div class="col-md col-sm-4">
        <div class="cust_col light_blue">
          <div class="cust_col_inner">
            <mat-icon class="more">more_horiz</mat-icon>
            <div class="left">
              <div class="counter">
                {{ TotalorderCount ? TotalorderCount : "0" }}
              </div>
              <div class="counter_title">
                {{ "total" | translate }}<br />{{ "order" | translate }}
              </div>
            </div>
            <div class="right">
              <div class="counter_img">
                <img src="assets/img/dashboard/dashboard43.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md col-sm-4">
        <div class="cust_col light_violet">
          <div class="cust_col_inner">
            <mat-icon class="more">more_horiz</mat-icon>
            <div class="left">
              <div class="counter">
                {{ scheduledCount ? scheduledCount : "0" }}
              </div>
              <div class="counter_title">
                <br />
                {{ "scheduled" | translate }}
              </div>
            </div>
            <div class="right">
              <div class="counter_img">
                <img src="assets/img/dashboard/dashboard41.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md col-sm-4">
        <div class="cust_col light_orang">
          <div class="cust_col_inner">
            <div class="left">
              <div class="counter">
                {{ cancelledCount ? cancelledCount : "0" }}
              </div>
              <div class="counter_title">
                <br />
                {{ "cancelled" | translate }}
              </div>
            </div>
            <div class="right">
              <div class="more_action">
                <mat-icon
                  class="more"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >more_horiz</mat-icon
                >
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="dropdown-item" href="#">{{
                      "action" | translate
                    }}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">{{
                      "another_action" | translate
                    }}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">{{
                      "something_else_here" | translate
                    }}</a>
                  </li>
                </ul>
              </div>
              <div class="counter_img">
                <img src="assets/img/dashboard/dashboard40.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md col-sm-4">
        <div class="cust_col light_green">
          <div class="cust_col_inner">
            <mat-icon class="more">more_horiz</mat-icon>
            <div class="left">
              <div class="counter">{{ pickupCount ? pickupCount : "0" }}</div>
              <div class="counter_title">
                <br />
                {{ "Picked up" | translate }}
              </div>
            </div>
            <div class="right">
              <div class="counter_img">
                <img src="assets/img/dashboard/dashboard43.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="claim_section">
    <div class="row">
      <div class="claim_details col-xl-6">
        <div class="claim_details_inner common_space">
          <div class="top_bar d-flex">
            <div class="main_title">{{ "total_revenue" | translate }}</div>
            <div class="icons">
              <mat-icon
                (click)="openVerticallyCenteredpiechartpopup(piechartpopup)"
                >zoom_out_map</mat-icon
              >
              <div class="more_action">
                <button
                  class="btn btn-outline-light"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="dropdown-item" href="#">{{
                      "action" | translate
                    }}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">{{
                      "another_action" | translate
                    }}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">{{
                      "something_else_here" | translate
                    }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="pie_outer">
                <div class="pie_chart_main canvas_wrap">
                  <canvas
                    baseChart
                    [type]="'pie'"
                    [datasets]="pieChartDatasets"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend"
                  >
                  </canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="detail_description chart">
                <ul>
                  <li>
                    <div class="line darkblue"></div>
                    <div class="detail_section">
                      <p>{{ CopayAmount }}</p>
                      <p>{{ "co_pay_amount" | translate }}</p>
                    </div>
                  </li>
                  <li>
                    <div class="line blue"></div>
                    <div class="detail_section">
                      <p>{{ approvedClaimAmount }}</p>
                      <p>{{ "insurance_amount" | translate }}</p>
                    </div>
                  </li>
                  <li>
                    <div class="line green"></div>
                    <div class="detail_section">
                      <p>{{ directPayment }}</p>
                      <p>{{ "direct_payment" | translate }}</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cost_details col-xl-6">
        <div class="cost_details_inner common_space">
          <div class="top_bar d-flex">
            <div class="main_title">
              {{ "total_prescriptions" | translate }}
            </div>
            <div class="prescription-header-block">
              <div class="year-block">
                  <label>{{ "year" | translate }}</label>
                  <div class="form_field_wrapper">
                    <mat-form-field appearance="fill">
                      <mat-select
                        placeholder="{{ 'select_year' | translate }}"
                        [(ngModel)]="selectedYear"
                      >
                        <mat-option
                          (click)="getYear(year)"
                          *ngFor="let year of years"
                          [value]="year"
                          >{{ year }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              <div class="icons">
                <mat-icon
                  (click)="openVerticallyCenteredclaimlistpopup(linegraph)"
                  >zoom_out_map</mat-icon
                >

                <div class="more_action">
                  <button
                    class="btn btn-outline-light"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                  >
                    <li>
                      <a class="dropdown-item" href="#">{{
                        "action" | translate
                      }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">{{
                        "another_action" | translate
                      }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">{{
                        "something_else_here" | translate
                      }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="content_wrap">
            <!-- <label>{{ "year" | translate }}</label>
                 <div class="form_field_wrapper">
                   <mat-form-field appearance="fill">
                     <mat-select
                     placeholder="{{ 'select_year' | translate }}"
                     [(ngModel)]="selectedYear"
                   >
                     <mat-option
                       (click)="getYear(year)"
                       *ngFor="let year of years"
                       [value]="year"
                       >{{ year }}</mat-option
                     >
                   </mat-select>
                   </mat-form-field>
                                    
             </div> -->
            <div class="chart-container">
              <canvas
                baseChart
                [type]="'line'"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
              >
              </canvas>
            </div>
            <div class="chart_label">
              <ul>
                <li>
                  <div class="d-flex me-3">
                    <div class="squer" style="background-color: #1fdcae"></div>
                    {{ "completed" | translate }}
                  </div>
                </li>
                <li>
                  <div class="d-flex me-3">
                    <div class="squer" style="background-color: #e72727"></div>
                    {{ "rejected" | translate }}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #linegraph let-modal>
    <div class="custome_modal">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          {{ "total_prescriptions" | translate }}
        </h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closePopup()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <div style="display: block">
          <canvas
            baseChart
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
          >
          </canvas>
        </div>

        <div class="chart_label">
          <ul>
            <li>
              <div class="d-flex me-3">
                <div class="squer" style="background-color: #1fdcae"></div>
                {{ "completed" | translate }}
              </div>
            </li>
            <li>
              <div class="d-flex me-3">
                <div class="squer" style="background-color: #e72727"></div>
                {{ "rejected" | translate }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #piechartpopup let-modal>
    <div class="custome_modal">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          {{ "total_revenue" | translate }}
        </h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closePopup()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <div class="chart piecharts">
          <canvas
            baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend"
          >
          </canvas>
        </div>
      </div>
    </div>
  </ng-template>
</div>
