@import '../../../../../assets/css/variable/variable';

.back_button {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }

.change_password{
    .login_inner{
        .right_part{
            .rightpart_inner{
                min-height: 85vh;
                .login_form{
                    background: #FFFFFF;
                    padding: 45px 45px 60px;
                    border: 1px solid #B6C8D6;
                    border-radius: 10px;
                    .title_wrapper {
                        margin: 0 0 35px;
                        .form_title{
                            color: $table_color;
                            font-weight: 700;
                        }  
                    }
                    .login_form_inner{
                        form{
                            width: 500px;
                            .form_field_wrapper{
                                label{
                                    color: $bodyopacitycolor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}  



// Responsive css

@media screen and (max-width: $desktop) {
    .change_password .login_inner .right_part .rightpart_inner .login_form .login_form_inner form{
        width: 500px;
    }
}
@media screen and (max-width: $large-phone) {
    .change_password .login_inner .right_part .rightpart_inner .login_form .login_form_inner form{
        width: 450px;
    }
}
@media screen and (max-width: $medium-iphone) {
    .change_password .login_inner .right_part .rightpart_inner .login_form .login_form_inner form{
        width: 100%;
    }
}
@media screen and (max-width: $medium-phone) {
    .change_password .login_inner .right_part .rightpart_inner .login_form{
        padding: 30px 25px 40px;
    }
}