<div class="back_button" [routerLink]="['/super-admin/profile']">
  <button class="btn btn-primary">{{ "back" | translate }}</button>
</div>

<div class="login change_password">
  <div class="login_inner">
    <div class="row">
      <div class="right_part part col-md-12">
        <div class="rightpart_inner">
          <div class="login_form">
            <div class="login_form_inner">
              <form
                [formGroup]="changePasswordForm"
                (ngSubmit)="handleChangePassword()"
              >
                <div class="title_wrapper">
                  <h4 class="form_title">
                    {{ "change_password" | translate }}
                  </h4>
                </div>
                <div class="form_field_wrapper">
                  <label>{{ "old_password" | translate }}</label>
                  <mat-form-field appearance="fill">
                    <input
                      type="password"
                      matInput
                      placeholder="{{ 'old_password' | translate }}"
                      formControlName="old_password"
                    />
                  </mat-form-field>
                </div>
                <span
                  class="text-danger"
                  *ngIf="isSubmitted && f['old_password'].errors?.['required']"
                >
                  {{ "enter_current_password" | translate }}*
                </span>

                <div class="form_field_wrapper">
                  <label>{{ "new_password" | translate }}</label>
                  <mat-form-field appearance="fill">
                    <input
                      type="password"
                      matInput
                      formControlName="new_password"
                      placeholder="{{ 'new_password' | translate }}"
                    />
                  </mat-form-field>
                </div>
                <span
                  class="text-danger"
                  *ngIf="isSubmitted && f['new_password'].errors?.['required']"
                >
                  {{ "enter_password" | translate }}*
                </span>
                <div
                  class="text-danger"
                  *ngIf=" f['new_password'].errors?.['minlength']"
                >
                  {{ "must_be_atleast_8_char" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="f['new_password'].errors?.['hasNumber']"
                >
                  {{ "must_contain_atleast_1_number" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="f['new_password'].errors?.['hasCapitalCase']"
                >
                  {{ "must_contain_atleast_1_capcase" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="f['new_password'].errors?.['hasSmallCase']"
                >
                  {{ "must_contain_atleast_1_smallcase" | translate }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="f['new_password'].errors?.['hasSpecialCharacters']"
                >
                  {{ "must_contain_atleast_1_number" | translate }}
                </div>

                <div class="form_field_wrapper">
                  <label>{{ "confirm_password" | translate }}</label>
                  <mat-form-field appearance="fill">
                    <input
                      type="password"
                      matInput
                      formControlName="confirm_password"
                      placeholder="{{ 'confirm_password' | translate }}"
                    />
                  </mat-form-field>
                </div>
                <span
                  class="text-danger"
                  *ngIf="isSubmitted && f['confirm_password'].errors?.['required']"
                >
                  {{ "enter_confirm_password" | translate }}*
                </span>
                <span
                  class="text-danger"
                  *ngIf="f['confirm_password'].errors?.['matching']"
                >
                  {{ "confirm_password_does_not_match" | translate }}
                </span>

                <div class="form-btn primary_btn">
                  <button
                    type="submit"
                    mat-button
                    class="login_btn btn btn-primary"
                  >
                    {{ "change" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
