@import '../../../../assets/css/variable/variable';
.login {
    .login_inner {
        .left_part {
            background-image: url(../../../../assets/img/code.svg);
        }
    }
    .get_code_screen .form_field_wrapper .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
        border-top-width: 4px;
        padding: 4px 0 8px;
        font-size: 16px;
        display: flex !important;
        justify-content: space-between;
    }
    .get_code_screen .mat-input-element {
        background: #F0F0F0;
        border: 1px solid #9E9E9E;
        border-radius: 8px;
        width: 50px;
        height: 50px;
     }
     .get_code_screen .form_field_wrapper .mat-form-field .mat-form-field-wrapper .mat-form-field-flex{
        border: none;
     }
     .back_section {
        display: flex;
        justify-content: center;
        padding-top: 25px;
        color: #000;
        p{
            display: flex;
            align-items: center;
           
        }
     }
}
