@import '../../../../../assets/css/variable/variable';
.material-icons{
    cursor: pointer;
}
.medicine_request{
    padding: 0;
    .medicine_tab{
        position: relative;
        .primary_btn{
            position: absolute;
            right: 4%;
            left: auto;
            top: 15%;
            bottom: auto;
        }
        .mat-tab-header{
            padding: 30px;
        }
        .mat-tab-body-wrapper{
            overflow: hidden;
            padding: 30px;
        } 
    } 
}

@media screen and (max-width:$tablet_plus) {
    .medicine_request .medicine_tab .primary_btn{
        position: static;
        justify-content: flex-end;
        margin-top: 30px;
        padding: 0 30px;
    }
}
