<div class="add_staff dashboard_main_content staff_profile_block">
  <div class="main_title">{{ "add_staff" | translate }}</div>
  <form [formGroup]="addStaff" (ngSubmit)="onSubmit()">

    <div class="user_image_upload">
      <input
      class="ng-hide user_upload_input"
      (change)="onGroupIconChange($event)"
      accept="image/*"
      id="input-file-id"
      type="file"
    />
   
      <div class="user_upload_block">
        <span class="user_upload_wrapper">
          <span class="user_upload_icon"
            >
            <img
            src="{{
              staff_profile
                ? staff_profile
                
                : '../../../../../assets/img/hospital_create_profile.png'
            }}"
          />
          <!-- assets/img/hospital_create_profile.png -->
            <span class="quick_view" *ngIf="staff_profile ? true : false">
              <mat-icon
                class="closeicon"
                (click)="removeSelectpic()"
                >close</mat-icon
              >
            </span>
          </span>
        </span>

        <span class="edit_upload_wrapper">
          <span class="edit_upload_icon"
            ><img src="../../../assets/img/edit_profile.svg"
          /></span>
        </span>
      </div>
    </div>
    <!-- <div class="profile_img">
      <img
        src="{{
          staff_profile
            ? staff_profile
            : '../../../../../assets/img/defaultimg.png'
        }}"
        width="100px"
        height="100px"
      />
      <i class="fa fa-camera" *ngIf="!staff_profile"></i>

      <span class="quick_view" *ngIf="staff_profile ? true : false">
        <mat-icon class="closeicon" (click)="removeSelectpic()">close</mat-icon>
      </span>
      <input
        class="ng-hide user_upload_input"
        (change)="onGroupIconChange($event)"
        accept="image/*"
        id="input-file-id"
        type="file"
      />
    </div> -->

    <div class="row">
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "date_of_joined" | translate }}</label>

          <mat-form-field class="example-full-width" appearance="fill">
            <input
              matInput
              formControlName="doj"
              [matDatepicker]="picker1"                     
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label
            >{{ "first_name" | translate
            }}<span style="color: red"> *</span></label
          >
          <mat-form-field appearance="fill">
            <input
              type="text"
              matInput
              placeholder="{{ 'enter_first_name' | translate }}"
              formControlName="first_name"
            />
          </mat-form-field>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['first_name'].errors?.['required']"
          >
            {{ "first_name_is_required" | translate }}*
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "middle_name" | translate }}</label>
          <mat-form-field appearance="fill">
            <input
              type="text"
              matInput
              placeholder="{{ 'enter_middle_name' | translate }}"
              formControlName="middle_name"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label
            >{{ "last_name" | translate
            }}<span style="color: red"> *</span></label
          >
          <mat-form-field appearance="fill">
            <input
              type="text"
              matInput
              placeholder="{{ 'enter_last_name' | translate }}"
              formControlName="last_name"
            />
          </mat-form-field>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['last_name'].errors?.['required']"
          >
            {{ "last_name_is_required" | translate }}*
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label
            >{{ "date_of_birth" | translate
            }}<span style="color: red"> *</span></label
          >
          <mat-form-field class="example-full-width" appearance="fill">
            <input
              matInput
              [max]="maxDate"
              [matDatepicker]="picker"
              placeholder="{{ 'date_of_birth' | translate }}"
              formControlName="dob"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['dob'].errors?.['required']"
          >
            {{ "date_of_birth_is_required" | translate }}*
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper speciality-select-block">
          <label>{{ "spoken_Language" | translate }}</label>
          <select2
          class="test"
          [overlay]="overlay"
          multiple="multiple"
          [limitSelection]="0"
          [minCountForSearch]="0"                   
          [data]="spokenLanguages"
          [(ngModel)]="selectedLanguages"
          formControlName="language"
          (update)="onSelectionChange($event)"
        >
        </select2>
          <!-- <mat-form-field appearance="fill">
            <mat-select
              placeholder="{{ 'select_language' | translate }}"
              formControlName="language"
              multiple
              (selectionChange)="onSelectionChange($event)"
            >
              <mat-option
                *ngFor="let language of spokenLanguages"
                [value]="language.value"
              >
                {{ language.label }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['language'].errors?.['required']"
          >
            Select language
          </span> -->
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="form_field_wrapper">
          <label
            >{{ "address" | translate
            }}<span style="color: red"> *</span></label
          >
          <mat-form-field appearance="fill">
            <input
              type="text"
              matInput
              #address
              placeholder="{{ 'enter_address' | translate }}"
              formControlName="address"
            />
          </mat-form-field>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['address'].errors?.['required']"
          >
            {{ "enter_address" | translate }}
          </span>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "neighborhood" | translate }}</label>
          <mat-form-field appearance="fill">
            <input
              type="text"
              matInput
              placeholder="{{ 'neighborhood' | translate }}"
              formControlName="neighborhood"
            />
          </mat-form-field>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['neighborhood'].errors?.['required']"
          >
            {{ "enter_neighbourhood" | translate }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label
            >{{ "select_country" | translate
            }}<span style="color: red"> *</span></label
          >
          <!-- <mat-form-field class="inner_label" appearance="fill">
            <mat-select
              disableRipple
              placeholder="{{ 'select_country' | translate }}"
              formControlName="country"
              (selectionChange)="getRegionList($event.value)"
              [(ngModel)]="patchCountry"
            >
              <mat-option>{{ "select_country" | translate }}</mat-option>
              <mat-option
                *ngFor="let country of countryList"
                [value]="country._id"
                >{{ country?.name }}</mat-option
              >
            </mat-select>
          </mat-form-field> -->
          <select2
          [placeholder] ="'Select Country'"
          [overlay]="overlay"
          [limitSelection]="0"
          [minCountForSearch]="1"
          (update)="getRegionList($event.value)"
          [data]="countryList"
          formControlName="country"
          [(ngModel)] = "patchCountry"
        >
        </select2>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['country'].errors?.['required']"
          >
            {{ "select_country" | translate }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "region" | translate }}</label>
          <!-- <mat-form-field class="inner_label" appearance="fill">
            <mat-select
              disableRipple
              placeholder="Select Region"
              formControlName="region"
              (selectionChange)="getProvienceList($event.value)"
            >
              <mat-option>{{ "select_region" | translate }}</mat-option>
              <mat-option *ngFor="let region of regionList" [value]="region._id"
                >{{ region?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <select2
          [placeholder] ="'Select Region'"
          [overlay]="true"
          [limitSelection]="0"
          [minCountForSearch]="1"
          (update)="getProvienceList($event.value)"
          [data]="regionList"
          formControlName="region"
        >
        </select2>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['region'].errors?.['required']"
          >
            {{ "select_region" | translate }}
          </span>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "province" | translate }}</label>
          <!-- <mat-form-field appearance="fill">
            <mat-select
              disableRipple
              placeholder="{{ 'select_province' | translate }}"
              formControlName="province"
              (selectionChange)="getDepartmentList($event.value)"
            >
              <mat-option>{{ "select_province" | translate }}</mat-option>
              <mat-option
                *ngFor="let provience of provienceList"
                [value]="provience._id"
                >{{ provience?.name }}</mat-option
              >
            </mat-select>
          </mat-form-field> -->
          <select2
          [placeholder] ="'Select province'"
          [overlay]="overlay"
          [limitSelection]="0"
          [minCountForSearch]="1"
          (update)="getDepartmentList($event.value)"
          [data]="provienceList"
          formControlName="province"
        >
        </select2>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['province'].errors?.['required']"
          >
            {{ "select_province" | translate }}
          </span>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "department" | translate }}</label>
          <!-- <mat-form-field appearance="fill">
            <mat-select
              disableRipple
              placeholder="{{ 'select_department' | translate }}"
              formControlName="department"
              (selectionChange)="getCityList($event.value)"
            >
              <mat-option>{{ "select_department" | translate }}</mat-option>
              <mat-option
                *ngFor="let department of departmentList"
                [value]="department._id"
                >{{ department?.name }}</mat-option
              >
            </mat-select>
          </mat-form-field> -->
          <select2
          [placeholder] ="'Select department'"
          [overlay]="overlay"
          [limitSelection]="0"
          [minCountForSearch]="1"
          (update)="getCityList($event.value)"
          [data]="departmentList"
          formControlName="department"
        >
        </select2>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['department'].errors?.['required']"
          >
            {{ "select_department" | translate }}
          </span>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "city" | translate }}</label>
          <!-- <mat-form-field class="inner_label" appearance="fill">
            <mat-select
              disableRipple
              formControlName="city"
              placeholder="{{ 'select_city' | translate }}"
            >
              <mat-option>{{ "select_city" | translate }}</mat-option>
              <mat-option *ngFor="let city of cityList" [value]="city._id">{{
                city?.name
              }}</mat-option>
            </mat-select>
          </mat-form-field> -->
          <select2
          [placeholder] ="'Select city'"
          [overlay]="overlay"
          [limitSelection]="0"
          [minCountForSearch]="1"
          [data]="cityList"
          formControlName="city"
        >
        </select2>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['city'].errors?.['required']"
          >
            {{ "select_city" | translate }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "village" | translate }}</label>
          <!-- <mat-form-field class="inner_label" appearance="fill">
            <mat-select
              disableRipple
              formControlName="village"
              placeholder="{{ 'select_village' | translate }}"
            >
              <mat-option>{{ "select_village" | translate }}</mat-option>
              <mat-option
                *ngFor="let village of villageList"
                [value]="village._id"
                >{{ village?.name }}</mat-option
              >
            </mat-select>
          </mat-form-field> -->
          <select2
          [placeholder] ="'Select village'"
          [overlay]="overlay"
          [limitSelection]="0"
          [minCountForSearch]="1"
          [data]="villageList"
          formControlName="village"
        >
        </select2>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['village'].errors?.['required']"
          >
            {{ "select_village" | translate }}
          </span>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "pincode" | translate }}</label>
          <mat-form-field appearance="fill">
            <input
              type="text"
              matInput
              placeholder="{{ 'pincode' | translate }}"
              formControlName="pincode"
            />
          </mat-form-field>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['pincode'].errors?.['required']"
          >
            {{ "enter_pincode" | translate }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "phone_number" | translate }}<span style="color: red"> *</span></label>
          <mat-form-field appearance="fill">
            <input
              type="text"
              matInput
              #countryPhone
              (focus)="onFocus()"
              placeholder="{{ 'enter_phone_number' | translate }}"
              formControlName="phone"
            />
          </mat-form-field>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['phone'].errors?.['required']"
          >
            {{ "enter_phone_number" | translate }}
          </span>
          <span
            class="text-danger"
            *ngIf="addStaffFormControl['phone'].errors?.['pattern'] && addStaffFormControl['phone'].invalid"
          >
            {{ "only_numbers_are_allowed" | translate }}*
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label
            >{{ "email" | translate }}<span style="color: red"> *</span></label
          >
          <mat-form-field appearance="fill">
            <input
              type="text"
              matInput
              placeholder="{{ 'enter_email' | translate }}"
              formControlName="email"
            />
          </mat-form-field>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['email'].errors?.['required']"
          >
            {{ "enter_email" | translate }}
          </span>
          <span
            class="text-danger"
            *ngIf="addStaffFormControl['email'].errors?.['pattern'] && addStaffFormControl['email'].invalid"
          >
            {{ "please_enter_valid_email" | translate }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label
            >{{ "role" | translate }}<span style="color: red"> *</span></label
          >
          <!-- <mat-form-field class="inner_label" appearance="fill">
            <mat-select
              disableRipple
              formControlName="role"
              placeholder="{{ 'select_role' | translate }}"
            >
              <mat-option>{{ "select_role" | translate }}</mat-option>
              <mat-option
                *ngFor="let role of staffRoleList"
                [value]="role._id"
                >{{ role?.name }}</mat-option
              >
            </mat-select>
          </mat-form-field> -->
          <select2
          [placeholder] ="'Select Role'"
          [overlay]="overlay"
          [limitSelection]="0"
          [minCountForSearch]="1"
          [data]="staffRoleList"
          formControlName="role"
        >
        </select2>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['role'].errors?.['required']"
          >
            {{ "select_role" | translate }}
          </span>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label
            >{{ "password" | translate
            }}<span style="color: red"> *</span></label
          >
          <mat-form-field appearance="fill" class="password-input-block">
            <input
              type="password"
              matInput
              placeholder="{{ 'password' | translate }}"
              formControlName="password"
              [type]="hide1 ? 'password' : 'text'" />
              <a class="password-view" (click)="hide1 = !hide1">
                <mat-icon>{{
                  hide1 ? "visibility_off" : "visibility"
                }}</mat-icon>
              </a>
          </mat-form-field>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['password'].errors?.['required']"
          >
            {{ "enter_password" | translate }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label
            >{{ "confirm_password" | translate
            }}<span style="color: red"> *</span></label
          >
          <mat-form-field appearance="fill" class="password-input-block">
            <input
              type="password"
              matInput
              placeholder="{{ 'confirm_password' | translate }}"
              formControlName="confirmPassword"
              [type]="hide2 ? 'password' : 'text'" />
              <a class="password-view" (click)="hide2 = !hide2">
                <mat-icon>{{
                  hide2 ? "visibility_off" : "visibility"
                }}</mat-icon>
              </a>
          </mat-form-field>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['confirmPassword'].errors?.['required']"
          >
            {{ "enter_confirm_password" | translate }}
          </span>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['confirmPassword'].errors?.['matching']"
          >
            {{ "confim_password_does_not_match" | translate }}
          </span>
          <span
            class="text-success"
            *ngIf="!addStaffFormControl['confirmPassword'].errors"
          >
            {{ "password_matched" | translate }}
          </span>
        </div>
      </div>

      <div class="col-sm-12 col-md-12">
        <div class="form_field_wrapper">
          <label>{{ "about_staff" | translate }}</label>
          <mat-form-field appearance="fill">
            <textarea
              matInput
              placeholder="{{ 'describe_yourself' | translate }}*"
              formControlName="aboutStaff"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "add_expertise" | translate }}</label>
          <!-- <mat-form-field class="inner_label" appearance="fill">
            <mat-label>{{ "select_expertise" | translate }}</mat-label>
            <mat-select disableRipple formControlName="expertise">
              <mat-option *ngFor="let list of expertiseList" [value]="list._id"
                >{{ list.expertise }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <select2
          [placeholder] ="'Select Expertise'"
          [overlay]="overlay"
          [limitSelection]="0"
          [minCountForSearch]="1"
          [data]="expertiseList"
          formControlName="expertise"
        >
        </select2>
          <span
            class="text-danger"
            *ngIf="isSubmitted && addStaffFormControl['expertise'].errors?.['required']"
          >
            {{ "select_expertise" | translate }}*
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper speciality-select-block">
          <label>{{ "speciality" | translate }}</label>
          <select2
          class="test"
          [overlay]="overlay"
          multiple="multiple"
          [limitSelection]="0"
          [minCountForSearch]="0"                   
          [data]="specialtyList"
          formControlName="specialty"
          (update)="onSpecialityChange($event)"
        >
        </select2>
        </div>
      </div>
      <!-- <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "add_speciality" | translate }}</label>
          <mat-form-field class="inner_label" appearance="fill">
            <mat-label>{{ "select_specialty" | translate }}</mat-label>
            <mat-select disableRipple formControlName="specialty">
              <mat-option *ngFor="let list of specialtyList" [value]="list._id"
                >{{ list.specilization }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->

      <!-- <label class="titel">assignTo</label> -->

      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label
            >{{ "assign_to" | translate }} {{ "doctor" | translate }}</label
          >
          <!-- <ng-multiselect-dropdown
            [placeholder]="'Select Doctor'"
            formControlName="addDoctor"
            [settings]="dropdownSettings"
            [data]="hospDoctorList"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
          >
          </ng-multiselect-dropdown> -->
          <mat-form-field class="inner_label" appearance="fill">
            <mat-label>{{ "select_doctor" | translate }}</mat-label>

            <mat-select formControlName="addDoctor" multiple>
              <mat-option
                *ngFor="let doctor of hospDoctorList"
                [value]="doctor._id"
                >{{ doctor.full_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "staff_department" | translate }}</label>
          <!-- <ng-multiselect-dropdown
          [placeholder]="'Select Department'"
          formControlName="staffDepartment"
          [settings]="dropdownSettings"
          [data]="staffDepartmentList"
          [(ngModel)]="selectedItems1"
          (onSelect)="onDepartmentSelect($event)"
          (onSelectAll)="onSelectAll1($event)"
        >
        </ng-multiselect-dropdown> -->
          <mat-form-field class="inner_label" appearance="fill">
            <mat-label>{{ "select_department" | translate }}</mat-label>
            <mat-select
              formControlName="staffDepartment"
              (selectionChange)="onDepartmentSelect($event.value)"
              multiple
            >
              <mat-option
                *ngFor="let department of staffDepartmentList"
                [value]="department._id"
                >{{ department?.department }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "services" | translate }}</label>
          <mat-form-field class="inner_label" appearance="fill">
            <mat-label>{{ "select_services" | translate }}</mat-label>
            <mat-select
              formControlName="services"
              (selectionChange)="onServiceSelect($event.value)"
              multiple
            >
              <mat-option *ngFor="let list of serviceList" [value]="list._id">{{
                list?.service
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 mb-3">
        <div class="form_field_wrapper">
          <label>{{ "unit" | translate }}</label>
          <mat-form-field class="inner_label" appearance="fill">
            <mat-label>{{ "select_unit" | translate }}</mat-label>
            <mat-select
              formControlName="unit"
              (selectionChange)="onUnitSelect($event.value)"
              multiple
            >
              <mat-option *ngFor="let unit of unitList" [value]="unit._id">{{
                unit?.unit
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="primary_btn">
      <button
        type="button"
        class="btn btn-secondary"
        routerLink="/hospital/staffmanagement"
      >
        {{ "cancel" | translate }}
      </button>
      <button type="submit" class="btn btn-primary">
        {{ "add_staff" | translate }}
      </button>
    </div>
  </form>
</div>
