@import '../../../../assets/css/variable/variable';


.educational{
    .top_bar{
        .main_title{
            font-weight: 600;
            text-align: center;
        }
        .primary_btn{
            .btn {
                border-radius: 10px;
                .btn_svg{
                    height: 36px;
                    width: 36px;
                    border-radius: 10px;
                }
            }
        }
    }
    hr{
        margin: 2rem -30px;
    }
    .time_section{
        .content_wrap{
            display: flex;
            margin: 0 -15px;
            .content_item{
                padding: 0 15px;
                .form_field_wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    label{
                        color: rgba(15, 18, 63, 0.57);
                        font-weight: 500;
                        min-width: 90px;
                        margin: 0 15px 0 0;
                    }
                    .mat-form-field{
                        .mat-form-field-wrapper{
                            padding-bottom: 0;
                            .mat-form-field-flex{
                                background-color: #EBF0F4;
                                border-color: #EBF0F4;
                                border-radius: 15px;
                                    .mat-form-field-infix{
                                        width: 165px;
                                    }
                            }
                        }
                    }
                }
            }
            .primary_btn  {
                .btn{
                    min-width: 70px;
                    padding: 0;
                }
            }
        }
    }
    .education_data{
        .item{
            margin: 0 0 30px;
            .item_inner{
                border: 1px solid #B6C8D6;
                border-radius: 10px;
                .part{
                    padding: 25px 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &.topbar{
                        border-bottom: 1px solid #B6C8D6;
                        .leftpart{
                            h2{
                                color: $table_color;
                                font-weight: 600;
                                margin: 0 0 5px;
                            }
                            .date{
                                font-weight: 500;
                                font-size: $font_small;
                                color: $bodyopacitylightcolor;
                            }
                        }
                        .rightpart{
                            .btn{
                                padding: 0;
                                min-width: 35px;
                            }
                        }
                    }
                    &.bottombar{
                        padding-top: 10px;
                        padding-bottom: 10px;
                        .primary_btn{
                            .btn {
                                padding: 0;
                                margin: 0 0 0 10px;
                            }
                        }
                    }
                }
              
            }
        }
    }
}


// Upload document modal css
.upload_docs {
    .form_field_wrapper{
        .upload_document{
            background: rgba(182, 200, 214, 0.2);
            border-radius: 5px;
            position: relative;
            .user_upload_input{
                min-height: 112px;
                width: 100%;
                cursor: pointer;
                opacity: 0;
                z-index: 9;
                position: relative;
            }
            .user_upload_block{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .primary_btn{
        margin-top: 25px;
    }
}


@media screen and (max-width:$tablet_plus) {
    .educational .time_section .content_wrap .content_item .form_field_wrapper .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
        width: 100px;
    }
}
@media screen and (max-width:$large_phone) {
    .educational .top_bar .primary_btn{
        margin-top: 20px;
    }
    .educational .time_section .content_wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .educational .time_section .content_wrap .content_item{
        margin: 0 0 15px;    
    }
}
@media screen and (max-width:$medium_iphone) {
   
}