<div class="step_counter_inner">
    <div class="document_manage">
      <div class="document_item">
        <form [formGroup]="documentManagementForm">
          <ng-container formArrayName="document">
            <ng-container *ngFor="let _ of document.controls; let i = index">
              <ng-container [formGroupName]="i">
                <div class="row part_wrapper">
                  <div class="left part">
                    <div class="row">
                      <div class="item col-md-6 col-lg-6 col-xl-3">
                        <div class="form_field_wrapper">
                          <label>{{"document_name" | translate}}</label>
                          <mat-form-field appearance="fill">
                            <input
                              type="text"
                              matInput
                              formControlName="doc_name"
                            />
                          </mat-form-field>
                        </div>
                        <span
                          class="text-danger"
                          *ngIf="isSubmitted && documentValidation(i).controls['doc_name'].errors?.['required']"
                          >{{"field_is_required" | translate}}.
                        </span>
                      </div>
                      <div class="item col-md-6 col-lg-6 col-xl-3">
                        <div class="form_field_wrapper">
                          <label>{{"issue_date" | translate}}</label>
                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <input
                              matInput
                              [matDatepickerFilter]="myFilter"
                              [matDatepicker]="picker58"
                              formControlName="issue_date"
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="picker58"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker58></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <span
                          class="text-danger"
                          *ngIf="isSubmitted && documentValidation(i).controls['issue_date'].errors?.['required']"
                          >{{"field_is_required" | translate}}.
                        </span>
                      </div>
                      <div class="item col-md-6 col-lg-6 col-xl-3">
                        <div class="form_field_wrapper">
                          <label>ExpirationDate(optional)</label>
                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <input
                              matInput
                              [matDatepickerFilter]="myFilter"
                              [matDatepicker]="picker59"
                              formControlName="expiration_date"
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="picker59"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker59></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <!-- <span
                          class="text-danger"
                          *ngIf="isSubmitted && documentValidation(i).controls['expiration_date'].errors?.['required']"
                          >Field is required.
                        </span> -->
                      </div>
                      <div class="item col-md-6 col-lg-6 col-xl-3 upload_item">
                        <div class="form_field_wrapper">
                          <label class="invisible">{{"upload_picture" | translate}}</label>
                          <div class="upload_input">
                            <div class="upload_input_content">
                              <label
                                *ngIf="
                                  documentManagementForm.value.document[i]
                                    .image_url
                                "
                                >{{"file_added" | translate}}</label
                              >
                              <label
                                *ngIf="
                                  !documentManagementForm.value.document[i]
                                    .image_url
                                "
                                >{{"upload_cart_picture" | translate}}</label
                              >
                            </div>
                            <input
                              class="ng-hide user_upload_input"
                              id="input-file-id"
                              multiple
                              type="file"
                              (change)="onFileSelected($event, i)"
                            />
                          </div>
                        </div>
                        <span
                          class="text-danger"
                          *ngIf="isSubmitted && documentValidation(i).controls['image_url'].errors?.['required']"
                          >{{"field_is_required" | translate}}.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="right part">
                    <ng-container *ngIf="i === document.length - 1; else remove">
                      <div class="row_generate row_minus" *ngIf="document.length>1">
                        <mat-icon class="minus" (click)="deleteForm(i)"
                          >remove</mat-icon
                        >
                      </div>
                      <div class="row_generate row_add">
                        <mat-icon class="plus" (click)="addForm()">add</mat-icon>
                      </div>
                    </ng-container>
                    <ng-template #remove>
                      <div class="row_generate row_minus" >
                        <mat-icon class="minus" (click)="deleteForm(i)"
                          >remove</mat-icon
                        >
                      </div>
                    </ng-template>
                   
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </form>
      </div>
    </div>
    <div class="primary_btn">
      <button class="btn btn-secondary" (click)="previousPage()">{{"back" | translate}}</button>
      <button class="btn btn-primary" (click)="savebuttonHandler()">
        {{"save_and_next" | translate}}
      </button>
      <button
      type="button"
      class="btn btn-danger"
      style="margin-left: 10px"
      [routerLink]="['/portals/viewProfile/', userType]"
    >
      {{"exit" | translate}}
    </button>
    </div>
  </div>
  