@import '../../../../assets/css/variable/variable';

.login {
    .login_inner {
        .left_part {
            background-image: url(../../../../assets/img/superadmin_login.png);
        }
    }
}
.custom-validation-msg {
    color: #f44336;
    font-size: 20px;
    padding-left: 10px;
    position: relative;
    top: -20px;
  }